<footer id="bodyBottom">
  
  <article>
    <section class="footer-top">
      <a href="#">개인정보처리방침</a>    
      <div class="footer-spliter">|</div>
      <a href="#">이용약관</a>    
      <div class="footer-spliter">|</div>
      <a href="#">위치기반 서비스 이용약관</a>    
      <div class="footer-spliter">|</div>
      <a href="#">고객센터</a>
    </section>

    <section class="footer-info">
      <span>(주)푸드핀</span>
      <div class="footer-spliter">|</div>
      <span>대표이사:김사장</span>
      <div class="footer-spliter">|</div>
      <span>소재지:서울특별시 강남구 테헤란로79길 6</span>
      <div class="footer-spliter">|</div>
      <span>사업자등록번호:206-86-92418</span>
    </section>
      
    <div class="footer-mail">이메일 문의:contact@foodpin.com</div>
    <section class="footer-contact">
      <div class="footer-tel">전화 문의:02-457-1304(평일:10:00 ~ 19:00, 주말/공휴일 제외)</div>
      <div class="Copyright">Copyright &copy; FOODPIN</div>
    </section>
  </article>

</footer>
  
  
  <script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
  
    if(message != null) alert(message);
  </script>