<header>

    <!-- th:src="${session.loginMember.profileImg ?: user }"  
        // 나중에 프로필 파일 올리기 하고 추가 -->
        
    <!-- 로그인, 회원가입 -->
    <section class="header-top-menu">

        <div class="login-area">

            <!-- 로그인, 프로필이미지/닉네임/로그이웃 -->
            <div class="login-box" th:if="${session.loginMember != null}">

                <div class="profileArea">

                    <!-- 일반 회원 -->
                    <th:block th:if="${session.loginMember?.memberCode == 1}">
                        <a href="/myPage/member/reservation/fix">
                    </th:block>

                    <!-- 사업자 회원 -->
                    <th:block th:if="${session.loginMember?.memberCode == 2}">
                        <a href="/myPage/store/storeInfo">
                    </th:block>

                    <!-- 관리자 회원 -->
                    <th:block th:if="${session.loginMember?.memberCode == 3}">
                        <a href="/myPage/manager/storeEnroll"> 
                    </th:block>
                    
                    <img th:with="user=#{user.default.image}" 
                    th:src="${session.loginMember.profileImg ?:user}"  
                        id="memberProfile">&nbsp;
                    <span th:text="${session.loginMember.memberNickname}" id="nickname">닉네임</span>&nbsp;<span>님</span>
                     </a>
                </div>

                <a href="/member/logout" id="logoutBtn">로그아웃</a>
            </div>

            <!-- 미로그인, 로그인/회원가입 -->
            <div class="login-area" th:if="${session.loginMember == null}">
                <a href="/member/login">로그인</a>|<a href="/member/signupBtn">회원가입</a>
        </div>


        </div>

       <th:block th:replace="~{reservation/notification}"></th:block>
       <button type="button" id="myChat" class="notification-bell-btn fa-regular fa-comments" th:if="${session.loginMember}"></button>

    </th:block>

    </section>

    <!-- 로고(사진, 글) -->
    <section class="home-logo-area">
       <!--  <a href="/"><img src="/images/logo.png" alt="메인 로고" id="homeLogoImage"></a> -->
        <a href="/" id="homeLogoTitle">FOODPIN</a>  
    </section>


</header>