<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOODPIN</title>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c0a61513c1f514ea458fa903130cb59a&libraries=services,clusterer,drawing"></script>

      <!-- templetes/common/common.html  조각 추가 -->
     <th:block th:replace="~{common/common}"></th:block>

</head>
<body id="bodyTop">
  <main>
     
     <!-- templetes/common/header.html  조각 추가 -->
     <th:block th:replace="~{common/header}"></th:block>

     <!-- section 1 검색하는 공간 -->
       <div class="main-search-container">
        <!-- <img src="/images/table.jpg"> -->
       
            <!-- 검색하는 박스 -->
            <div class="search-wrap">
              <div class="search-box">
                <input type="text" class="input-box" name="mainSearch" id="mainSearch"  placeholder="지역, 음식 또는 식당명 입력">
                <button id="searchButton">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>

          </div>

      </div>
      

     <!-- section 2  카테고리 공간 -->
     <section class="main-category-container">

      <div class="main-category-content">

        <div class="main-category-button" >
          <div class="main-category-list" th:each="category :${mainCategoryList}">

            <a th:href="'/store/storeSearch/' + ${category.categoryCode}">

              <button class="mainCatBtn" th:text="${category.categoryTitle}"></button>
            </a>
            
          </div>
        </div>
         
      </div>
      
     </section>


     <!-- section 3 내 근처 가게 리스트 -->
      <section class="main-store-image-container">
        <div class="main-store-image-content">

          <div id="main-store-text">
            <p>내 근처 맛집</p>
          </div>
          
          <div class="main-store-img" >
            
              <a class="store-img" th:each="store : ${storeList}"  th:if="${storeStat.index} lt 4"
              th:href="'/store/storeDetail/' + ${store.storeNo}"> 
                <img th:src="${store.storeImg}" class="store-thumbnail">
                <span class="store-name" th:text="${store.storeName}">가게 이름</span>
                <div class="likeCount">
                  <i class="fa-solid fa-heart"></i>
                  <span th:text="${store.likeCount}"></span>
                </div>
              </a>
            
            </div>
           
        </div>
      </section>

  </main>

  
  <aside>
    <a href="#bodyTop"><i class="fa-solid fa-angles-up"></i></a>
    
    <a href="/chatting/chat"><i class="fa-regular fa-comment"></i></a>
    
    <a href="/store/storeSearch"><i class="fa-solid fa-location-dot"></i></a>
    
    <a href="#bodyBottom"><i class="fa-solid fa-angles-down"></i></a>        
  </aside>


  <script th:inline="javascript">

    const loginMember = /*[[${session.loginMember}]]*/"로그인 회원 정보";

  </script>
     
   <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <script src="/js/main.js"></script>
   <script src="/js/store/storeSearch.js"></script>

</body>
</html>