<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 검색 페이지</title>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c0a61513c1f514ea458fa903130cb59a&libraries=services,clusterer,drawing"></script>

    <link rel="stylesheet" href="/css/store/storeSearch.css">
    
 
</head>
<body> 

    <main>
     
        <!-- 1. 붙어있는 헤더 조각 만들고 사이드바를 만들어야 함 -->
       
        <!-- 지도를 불러와서 자동으로 사이드바 열릴 때 크기 조정 가능하게 함 -->
        <!-- 헤더 만들고 옆의 사이드바 열리게 함  -->

        <!-- 화면 전체에 100vh 주는 div 
          그 안에 헤더 숨겨지는 사이드바
           자동으로 크기 조절되는 지도 -->
        <section class="store-search">


         <!-- 지도와 더보기 감싸는 div -->
         
            <!-- storeHeader 조각 추가 -->
            <th:block th:replace="~{store/storeHeader}"></th:block>



         <div class="storesearch-container">


            <!-- 더보기 바 -->

            <div class="search-sidebarbox">

                <div class="sidebar-menu">

                    <!-- 검색하는 창 -->
                  <div class="search-container">
                    <div class="search-wrap">

                        <div class="search-box">
                            <button id="searchButton">🔎</button>

                            <input type="text" class="input-box">
                        </div>

                    </div>
                    
                  </div>

                </div>
            </div>


               <!-- 여기 map 추가 -->
            <div class="map_wrap">
                <div id="map"></div>
            
            </div>
        
            
         </div>
        

        </section>

           
      
    </main>

  


  
<script src="/js/store/storeSearch.js"></script>
<!-- 지도 api 사용 시 사이트 도메인 경로에 포트 번호 사용 X -->

</body>
</html>


