
            <!-- 더보기 바 -->

            <div class="search-sidebarbox">

                <div class="sidebar-menu">

                    <!-- 검색하는 창 -->
                  <div class="search-container">

                    <!-- 검색하는 박스 -->
                    <div class="search-wrap">

                        <div class="search-box">
                            <button id="searchButton">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>

                            <input type="text" class="input-box" placeholder="장소, 가게 검색">
                        </div>

                    </div>


                   
                  </div>

                       <!-- 검색창 아래 내용 -->
                    <div class="search-panelContent">
                        <span>내용</span>
                    </div>
                
              
                    <!-- 사이드바 넣는 버튼 -->
                    <div class="search-panelContent">
                        <span>내용</span>
                    </div>

                </div>
            </div>

