<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${store.storeName}">가게 상세 조회 페이지</title>

     <!-- templetes/common/common.html  조각 추가 -->
     <th:block th:replace="~{common/common}"></th:block>

     <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c0a61513c1f514ea458fa903130cb59a&libraries=services,clusterer,drawing"></script>


     <link rel="stylesheet" href="/css/store/storeDetail.css">

</head>
<body id="bodyTop">
    <main>

    <!-- templetes/common/header.html  조각 추가 -->
     <th:block th:replace="~{common/header}"></th:block>



     <!-- section 1 가게 상세 -->
     <!-- 가게 사진 , 식당 이름, 북마크, 지역, 카테고리, 별점, 지도, 가게 정보,  -->

       <!-- 공간 나누는 칸 ex) 가게 정보랑 지도 나눔 -->
       <section class="store-detail" th:object="${store}">   
         

            <!--회색 실선 박스 -->
            <div class="store-container">


        
                <div class="storedetail-all"> <!-- 걍 가운데 위치해주는 용도 -->
                    


                    <!-- main에 들어가는 가게 대표 이미지 
                   (가게 이미지 조회) -->

                    <div class="storedetail-thumbnailbox" >

                      

                        <img class="storedetail-thumbnail" 
                        th:src="*{storeImg}" alt="가게 기본 이미지">
                    

                       

                    </div>
                  
                
                   <!-- ************* 가게 내용 ************ -->

                  
                            <!-- 상세 내용 박스 -->
                        <div class="storedetail-box">

                        

                            <!-- 식당 이름 / 북마크 -->
                            <div class="storedetail-two">

                                <!-- 안에 이름이랑 북마크 만들고 
                                    양 옆으로 보내기 -->
                                <div class="storedetail-name">
                                    <span id="storeName" th:text="*{storeName}" th:data-storeName="${store.storeName}">가게 이름</span> 
                                </div>
                                
                                <div class="bookmark-box">
                                  
                                    <th:block th:if="${session.loginMember?.memberCode == 1}">
                                        <i class="fa-heart" id="bookmarkCheck"
                                        
                                        th:classappend="*{bookmark == 1} ? fa-solid : fa-regular"></i
                                        
                                        >
    
                                    </th:block>
                                
                                        <!-- 좋아요 개수 -->
                                        <th:block th:if="${session.loginMember?.memberCode !=1}">
                                        <i class="fa-solid fa-heart"> </i>
                                        </th:block>
                                        <!-- &nbsp; -->
                                        <span id="storeLikeCount" th:text="*{likeCount}">0</span>
                                    
                                   
                                
                                </div>
                            
                            </div>



                        
                            <div class="storedetail-row">

                                    <!-- 클릭하면 카테고리 검색된 상태로 상세 페이지로 이동 -->
                              <div class="storeCatBox">
                                <div class="storeCatLoop"th:each="cat:${store.storeCategoryList}">

                                    <span id="storeCat" th:text="${cat.categoryTitle}"></span>
                                </div>
                              </div>
                            </div>



                            <!-- 별점 -->
                            <div class="storedetail-row">


                                <div class="allstar-box">

                                    <div class="store-avgScore">

                                        <div class="background-star">
                                            <i class="total_star  fas fa-star"></i>
                                            <i class="total_star  fas fa-star"></i>
                                            <i class="total_star  fas fa-star"></i>
                                            <i class="total_star  fas fa-star"></i>
                                            <i class="total_star  fas fa-star"></i>
                                           
                                     
                                        </div>
                                     
                                        <div class="realAvg-star" >    
                                         
                                            <i class="total_star  fas fa-star"></i>
                                            <i class="total_star  fas fa-star"></i>
                                            <i class="total_star  fas fa-star"></i>
                                            <i class="total_star  fas fa-star"></i>
                                            <i class="total_star  fas fa-star"></i>
    
                                        </div>
                                     
                                        
                                    </div>
    
                                    <div>
                                        <span id="totalScoreR" th:text="*{totalRating}"> 점수 </span> 
                                    </div>
                                    

                                </div>
                                
                               
                                  
                                    
                               

                            </div>



                            <!-- // 윗 칸이랑 공간 분리 //-->
                            
                            <div class="storedetail-mid">

                            
                                <!-- 가게 주소 / 지역 --> <!-- 토글로 가게 우편 번호와 상세 주소 넣기 -->
                                <div class="storedetail-two">

                                    <div class="detailstoreloc-content">

                                        <div class="storelocbox-one">
                                            <span id="detailLoc" th:text="${address}" th:data-address="${address}"></span>
                                       

                                            <div>
                                                <span  class="more-address">
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                </span>
                                                <span  class="less-address">
                                                    <i class="fa-solid fa-chevron-up"></i>
                                                </span>
                        
                                            </div>
                                          
                                        
                                        </div>
                                        
                                       
                                          <div class="storelocbox-two">

                                            <div class="detailLocHide">
                                                <div class="detailLoc-m">

                                                    <span class="storeloc-detail">도로명</span>
                                                    <span th:text="${address}"></span>
                                                </div>
                                                <div class="detailLoc-m">
                                                    <span class="storeloc-detail">지번</span>
                                                    <span th:text="${detailAddress}"></span>
                                                </div>
                                               
                                                <div class="detailLoc-m">
                                                    <span class="storeloc-detail">우</span>
                                                    <span th:text="${postcode}"></span>
                                                </div>
                                            </div>
                                           
                                          </div>          
                                      
                                    </div>
                        
                                    

                                    <!-- 누르면 상세 페이지로 이동
                                        해당 가게의 위치가 상세 페이지에서 검색됨 -->
                                    <button id="storedetailmapbutton">지도</button>
                                </div>


                                <!-- 가게 전화번호 -->
                                <div class="storedetail-row">
                                    
                                    <span type="text" id="memberTel" th:text="*{storeTel}">
                                    가게 전화번호
                                    </span>
                                </div>


                            
                                <!-- 가게 정보 해시태그 -->
                                <div id="storedetail-row">
                                    <!-- 클릭 시 상세 검색 페이지로 이동(카테고리 선택됨) -->
                                    <button id="toChatting">문의하기</button>
                                </div>

                                
                             
                                <span id="showReview">
                                    <th:block th:text="|리뷰 ${store.reviewCount}|">리뷰 개수</th:block>
                                    >
                                </span>

                               


                            </div>

                        <!-- // 아래 칸과 공간 분리 // -->


                        </div>

                        <th:block th:if="${store.storeInfo != null}">

                    
                        <div class="store-detail-content">

                           
                            <pre class="store-detail-text" th:text="*{storeInfo}">
                            
                            </pre>

                        
                           
                        </div>
                        <span  class="more-text">
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                        <span  class="less-text">
                            <i class="fa-solid fa-chevron-up"></i>
                        </span>

                        <hr>

                       </th:block>
                     

                     <!-- 가게 예약 버튼-->
                     <div class="storedetail-reservationbuttonbox">
                        <!-- 클릭하면 예약하기 페이지로 이동 -->
                        <th:block th:if="${session.loginMember?.memberCode==1 && session.loginMember?.memberFlag < 3 || session.loginMember==null}">
                            <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation'" id="storereservationbutton">예약하기</a>
                        </th:block>

                        <th:block th:unless="${session.loginMember==null || (session.loginMember?.memberCode == 1 and session.loginMember?.memberFlag < 3)}">
                            <a href="/" id="storereservationbutton">예약하기</a>
                        </th:block>

                        <!-- <th:block th:unless="${session.loginMember}">
                            <a href="/reservation/reservationDetail" id="storereservationbutton">예약하기</a>
                        </th:block> -->
                     </div>
                    

                </div>


            
            </div> 
            <!-- 회색 실선 container -->

        </section>
      <!-- section 1 끝 -->




<!-- ************************************************************ -->



     <!-- section 2 지도 -->
     <section class="store-detail">
        <!-- 지도 들어갈 자리 -->

        <div id="detailMapBox">

        
            <div id="detailMap">
            
            </div>
        
             
        </div>
       
       
     </section>


<!-- ************************************************************ -->

   
     <!-- section 3 가게 정보 -->
    <section class="store-detail">

        <div class="store-container">

          
           <!-- 영업 시간/ 영업 상태(일주일) 등 조회 -->

            <div class="storedetail-box">
  
                <div class="storedetail-opencontainer">

            
                    <div class="store-reportcontainer">
                        <th:block th:if="${session.loginMember?.memberCode !=2 && session.loginMember?.memberCode !=3}">
                                        
                            <button type="button" id="storeReport">🚨 폐점 / 가게 정보 정정 신고</button>
                            
                        </th:block>
                    </div>

                   <!-- ************************************************************** -->
                    <!-- 신고 팝업 공간 -->

                                                
                        <!-- 할 일 상세 조회 시 출력되는 화면  
                            popup layer : 현재 페이지 위에 새로운 레이어를 띄우는 것
                        -->
                                                <!-- 처음에 숨겨놓기 -->



                        <div id="storeReportForm" class="popup-storereport">
                            <section class="popupbox">
                            
                               <div class="store-report-info">


                                    <div class="store-report-text">

                                        <h4 id="storeReportTitle">폐업신고 / 정보수정 제안</h4>
                                        <span id="popupShut" class="fa-solid fa-xmark"></span>     
                                        
                                        <textarea id="requestStoreContent"
                                        name="requestStoreContent"
                                        placeholder="가게 기본 정보 수정이 필요한 경우 상세 내용을 적어주세요. &#13; 예) 맛집 이름, 주소, 전화번호 등" required></textarea>
                                        
                                    </div>

                                    
                                    <div class="check-store-div">
                                        
                                        <label for="requestSelect">신고 내용</label>
                                        
                                        <select name="requestCategoryTitle" id="requestSelect">
                                            <option value="">가게 신고 </option>
                                            <option value="changeBasicinfo">가게 기본 정보 수정</option>
                                            <option value="changeMenu">가게 메뉴 수정</option>
                                            <option value="chageStoreTime">가게 영업 시간 수정</option>
                                            <option value="storeClosed">가게 폐업</option>
                                            
                                        </select>
                                        
                                        
                                    </div>
                                    
                                    <span>해당 음식점 신고 내용에 해당하는 경우 선택해주세요</span>
                                    <br/>
                                    <span id="storeReportWarn"> 
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        지속적인 허위 신고 시 사이트 이용에 제한이 있을 수 있습니다                                       
                                    </span>
                                     
                                   
                                    
                               </div>
                               
                                
                                <button id="storeReportBtn">보내기</button>
                                
                            </section>

                            
                        </div>


                     
                       
                       

                                        

                   <!-- ************************************************************** -->
                   <div class="store-statuscontainer">
                    <!-- 영업 시간 리스트 -->
                    <div class="busi-hours-today">
                        <div class="store-statusbox">
                            <span>영업시간</span>
                            <span id="storeStatusText"></span>
                        </div>
                        <ul class="store-hours-list" id="currentDaySchedule">
                            <!-- 현재 요일 정보를 JavaScript로 동적으로 채웁니다. -->
                        </ul>
                    </div>
                
                    <!-- 반복되는 구간 -->
                    <div class="busi-hours-short">
                        <ul class="store-hours-list" id="weeklySchedule">
                            <!-- 반복되는 일정 정보를 JavaScript로 동적으로 채웁니다. -->
                        </ul>
                    </div>
                
                    <div class="more-schedule-info-box">
                        <button id="moreScheduleInfoBtn">더보기</button>
                        <button id="shutScheduleInfoBtn">접기</button>
                    </div>
                </div>

            </div>


                    
    
                
             <!-- 바텀 선 css 주기 -->

             <!-- // 메뉴 공간 // -->
                
             <!-- 메뉴 ( 사진 확대 팝업/ 더보기) -->
                <div class="storedetail-menucontainer">
                    <div class="menu-info-title">
                    <span>메뉴 정보</span>
                    </div>
                    
                    <th:block th:if="${#lists.size(menuList) == 0}">
                    <span class="menuN">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        메뉴가 아직 준비 중입니다
                    </span>
                    </th:block>
                
                    <div class="store-menu-list">
                    <div class="menu-image-container" th:each="menu:${store.menuList}">
                        <div class="menu-basiclist">
                        <div>
                            <img th:if="${menu.menuImgUrl!=null}"
                                th:src="${menu.menuImgUrl}"
                                class="storedetail-menuimage"
                                alt="메뉴 사진">
                        </div>
                
                        <div class="menu-info">
                            <span id="menuName" th:text="${menu.menuTitle}">메뉴 이름</span>
                            <span id="menuPrice" th:text="${menu.menuAmount}+'원'">가격</span>
                        </div>
                
                        <div class="menu-info-content">
                            <span id="menuDetail" th:text="${menu.menuContent}"></span>
                        </div>
                        </div>
                    </div>
                    </div>
                
                    <div class="moreMenuImageBtnBox" th:if="${#lists.size(menuList) > 3}">
                    <button id="moreMenuImageBtn">더보기</button>
                    <button id="shutMenuImageBtn" style="display: none;">접기</button>
                    </div>
                </div>
                    
                    

                <!-- 해시태그(댓글에 달린 해시들) -->

                <div class="storedetail-hashtagcontainer">
                    <th:block th:each="hash : ${store.storeHashList}">
                        <div class="store-hashtag" data-count="${hash.hashCount}">
                            <a th:href="'/store/searchStore/'+ ${hash.hashNo}" id="storeHashT" th:text="${hash.hashTitle}">가게 해시태그</a>
                            <span id="storeHashC" th:text="${hash.hashCount}"></span>
                        </div>
                    </th:block>
                </div>

            </div>
 
        </div>

    </section>


<!-- ************************************************************ -->


     <!-- section 4 가게 이미지 -->
     <section class="store-detail">

        <div class="store-container">

        <div class="storedetail-box">

            <div class="storeLookText">
                <span>식당 사진</span>
            </div>

                   <th:block th:if="${#lists.size(imageList) == 0}">
                    <span class="imageN">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        아직 가게 사진이 없습니다
                    </span>
                    </th:block>
              
        
           <div class="detail-images" th:if="${#lists.size(imageList)>0}">

            <th:block th:each="i:${#numbers.sequence(0, #lists.size(store.imageList)-1)}">
           
             <img class="store-look" th:src="|${imageList[i].imagePath}${imageList[i].imgRename}|">

            </th:block>
         
      
           
        </div>

        <div class="moreStoreImageBtnBox" th:if="${#lists.size(imageList)>6}">
            <button id="moreStoreImageBtn">사진 더보기</button>
            <button id="shutStoreImageBtn">사진 접기</button>
        </div>

        </div>
        </div>
     </section>
     


<!-- **************************** 리뷰 *************************** -->


     <!-- section 5 가게 리뷰 -->

        <section class="store-detail">

        <div class="review-container">

            <div class="storedetail-reivew-box">

                
                <div class="storereview-container" th:if="${reviewList}">
                    
                    <th:block th:if="${#lists.isEmpty(reviewList)}">
                        <h3>작성된 리뷰가 없습니다.</h3>
                    </th:block>

                    
                    <th:block th:if="${ !#lists.isEmpty(reviewList)}">
                        <h3 class="review-title">방문자 리뷰</h3>
                    </th:block>

                    
                    <th:block  th:each=" review : ${reviewList}" th:object="${review}">
                        <div class="review">
                            

                            <div class="storereview-top">
        
                                <div class="storereview-top-left">
                                    <img class="review-member-profile"
                                        th:src="*{profileImg}">
                                    <div class="review-info">
                                        <span th:text="*{memberNickname}">닉네임</span>

                                        <div class="review-memberScore">
                                            <span th:switch="*{reviewRating}">
                                                <span th:case="1">
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                </span>
                                                <span th:case="2">
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                </span>
                                                <span th:case="3">
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                </span>
                                                <span th:case="4">
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="empty_star  fas fa-star"></i>
                                                </span>
                                                <span th:case="5">
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                    <i class="rating__star fas fa-star"></i>
                                                </span>
                                            </span>
                                            <span th:text="|*{reviewRating} 점|"> 점수</span>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="storereview-top-right">

                                    <div class="review-btn">
                                        <th:block th:if="${review.memberNo == session.loginMember?.memberNo}">
                                            <button type="button" id="reviewDeleteBtn"  
                                                th:attr="data-review-no=*{reviewNo}">
                                                삭제하기
                                            </button>
                                            <a th:href="'/review/reviewUpdate/' + *{storeNo} +'/' + *{reviewNo}" id="reviewUpdateBtn"  
                                                th:attr="data-review-no=*{reviewNo}">
                                                수정하기
                                            </a>
                                        </th:block>
                                    </div>

                                    <div class="review-date">
                                        <span th:text="*{reviewRegDate}">2024-05-17</span>
                                    </div>
                                </div>
        
                            </div>
        
                            
                            <div class="storereview-mid">
                                <p th:text="*{reviewContent}">리뷰 내용</p>
                            </div>
        
                            <th:block>
                                <div class="storereview-bottom">
                                   
                                    
                                    
                                    <th:block th:if="${!#lists.isEmpty(uploadList)}">
                                        <p th:if="*{uploadList}">주문 내역</p>
                                    </th:block>
    
                                    <div class="storereview-image" th:if="*{uploadList}">
                                        <th:block th:each=" upload : *{uploadList}">
                                            <img class="review-look" th:src="|${upload.imagePath}${upload.imgRename}|">
                                        </th:block>

                                    </div>
                                    <th:block>
                                        <div>
                                            <span class="review-menu">주문내역 : <span th:each=" menu : *{reviewMenuList}" th:text="| ${menu.menuTitle}. |" class="review-menu"></span></span>
                                        </div>
                                    </th:block>
    
                                    <p>해시태그</p>
                                    <div class="review-hashtag">
        
                                        <th:block th:each=" hash : *{hashList}">
                                            <span th:text="|${hash.hashTitle} |" class="review-hash">#해시태그</span>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="report-area" th:if="${session.loginMember}">
                                    <button type="button" class="reviewReport"  
                                        th:if="${session.loginMember != null and review.memberNo != session.loginMember?.memberNo}" 
                                        th:attr="data-review-no=*{reviewNo}">🚨신고하기
                                    </button>
                                </div>
                            </th:block>
        
                            <th:block th:if="${!#lists.isEmpty(review.replyList)}" th:each=" reply : *{replyList}">
                                <div class="store-reply">
                                    <img class="review-store-profile" th:src="${reply.storeImg}" alt="가게 프로필 이미지">
            
                                    <p class="reply-content-bubble" th:text="${reply.replyConent}">
                                        사장님 답글
                                    </p>
                                </div>
                            </th:block>


                        </div>
                    </th:block>
                    
                </div>
                    

                <div class="review-more-button" th:if="${#lists.size(reviewList) > 5}">
                    <button type="button" id="moreReviewBtn">리뷰 더보기</button>
                    <button type="button" id="hideReviewBtn" style="display:none;">리뷰 접기</button>
                </div>

            </div>
        </div>
        </section>
    

        <div id="reviewReportForm" class="popup-hidden">
            <section class="popupLayer">
               
                <p id="p">리뷰 신고하기</p>
                <span id="popupClose" class="fa-solid fa-xmark"></span>

                <div class="review-reason">
                    <p>리뷰를 신고하려는 이유를 알려주세요!</p>
                    <p>타당한 근거 없이 신고된 내용은 관리자 확인 후 반영되지 않을 수 있습니다.</p>
                </div>
                   
                <div class="report-button-area">
                    <textarea name="reportContent" id="reportContent"></textarea>
                    <button id="reportComplete">신고하기</button>
                </div>
            </section>
        </div>





        

    
    </main>
       <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원";
        const memberCode = /*[[${session.loginMember?.memberCode}]]*/ "회원코드";
        const memberFlag = /*[[${session.loginMember?.memberFlag}]]*/ "회원 경고횟수";

        const storeMaxTable = /*[[${store.storeMaxTable}]]*/ "최대 예약 팀 수(테이블)"
        const storeNo = /*[[${store.storeNo}]]*/ "사업자등록번호"
        const storeName = /*[[${store.storeName}]]*/ "가게 이름"
        const categoryCode = /*[[${store.categoryCode}]]*/ "가게 카테고리 코드"
        const storeLocation = /*[[${store.storeLocation}]]*/ "가게 주소"
        let bookmark =/*[[${store.bookmark}]]*/ "좋아요 여부";
        

    </script>

    <!-- templetes/store/storeAside.html  조각 추가 -->
    <aside>
        <a href="#bodyTop"><i class="fa-solid fa-angles-up"></i></a>
      
        <a href="/chatting/askChat"><i class="fa-solid fa-headset"></i></a>
        
        <a href="/store/storeSearch/1"><i class="fa-solid fa-location-dot"></i></a>
        
        <a href="#bodyBottom"><i class="fa-solid fa-angles-down"></i></a>        
    </aside>
    
  

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>


    <script th:inline="javascript">
        const storeMemberNo = /*[[${store.memberNo}]]*/ '사업자번호';
        const loginMemberNickname = /*[[${session.loginMember?.memberNickname}]]*/ '회원 이름';
        const type = /*[[${session.loginMember?.memberCode}]]*/ '멤버 타입';
        const storeImg = /*[[${store.storeImg}]]*/ '가게 이미지';
    </script>

    <script src="/js/reservation/reservation.js"></script>
    <script src="/js/reservation/calendar.js"></script>
    <script src="/js/chatting/chatPopup.js"></script>
   
</body>

<script src="/js/store/storeDetail.js"></script>
<script src="/js/store/storeLike.js"></script>
<script src="/js/store/storeOpen.js"></script>

</html>



