<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 상세 조회 페이지</title>

     <!-- templetes/common/common.html  조각 추가 -->
     <th:block th:replace="~{common/common}"></th:block>

     <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c0a61513c1f514ea458fa903130cb59a&libraries=services,clusterer,drawing"></script>


     <link rel="stylesheet" href="/css/store/storeDetail.css">

</head>
<body id="bodyTop">
    <main>

    <!-- templetes/common/header.html  조각 추가 -->
     <th:block th:replace="~{common/header}"></th:block>



     <!-- section 1 가게 상세 -->
     <!-- 가게 사진 , 식당 이름, 북마크, 지역, 카테고리, 별점, 지도, 가게 정보,  -->

       <!-- 공간 나누는 칸 ex) 가게 정보랑 지도 나눔 -->
       <section class="store-detail" th:object="${store}">   
         

            <!--회색 실선 박스 -->
            <div class="store-container">


        
                <div class="storedetail-all"> <!-- 걍 가운데 위치해주는 용도 -->
                    


                    <!-- main에 들어가는 가게 대표 이미지 
                   (가게 이미지 조회) -->

                    <div class="storedetail-thumbnailbox" >

                      

                        <img class="storedetail-thumbnail" 
                        th:src="*{storeImg}" alt="가게 기본 이미지">
                    

                       

                    </div>
                  
                
                   <!-- ************* 가게 내용 ************ -->

                  
                            <!-- 상세 내용 박스 -->
                        <div class="storedetail-box">

                        

                            <!-- 식당 이름 / 북마크 -->
                            <div class="storedetail-two">

                                <!-- 안에 이름이랑 북마크 만들고 
                                    양 옆으로 보내기 -->
                                <div class="storedetail-name">
                                    <span id="storeName" th:text="*{storeName}">가게 이름</span> 
                                </div>
                                
                                <div class="bookmark-box">
                                  
                                    <th:block th:if="${session.loginMember?.memberCode == 1}">
                                        <i class="fa-heart" id="bookmarkCheck"
                                        
                                        th:classappend="*{bookMark == 1} ? fa-solid : fa-regular"></i>
    
                                    </th:block>
                                
                                           <!-- 좋아요 개수 -->
                                           <th:block th:if="${session.loginMember==null}">
                                            <i class="fa-solid fa-heart"> </i>
                                           </th:block>
                                           <!-- &nbsp; -->
                                           <span id="storeLikeCount" th:text="*{likeCount}">0</span>
                                    
                                   
                                
                                </div>
                            
                            </div>



                        
                            <div class="storedetail-row">

                                    <!-- 클릭하면 카테고리 검색된 상태로 상세 페이지로 이동 -->
                              <span id="storeCat">패스트푸드</span>
                            </div>



                            <!-- 별점 -->
                            <div class="storedetail-row">


                                <div class="store-avgScore">

                                    <div class="background-star">
                                        <i class="back_star fas fa-star"></i>
                                        <i class="back_star fas fa-star"></i>
                                        <i class="back_star fas fa-star"></i>
                                        <i class="back_star fas fa-star"></i>
                                        <i class="back_star fas fa-star"></i>
                                        
                                    
                                    </div>
                                 
                                    <div class="realAvg-star" >
                                        <i class="real_star fas fa-star"></i>
                                        <i class="real_star  fas fa-star"></i>
                                        <i class="real_star  fas fa-star"></i>
                                        <i class="real_star  fas fa-star"></i>
                                        <i class="real_star  fas fa-star"></i>
                                    
                                    </div>
                                 
                                    
                                    <span id="totalScoreR" th:text="*{totalRating}"> 점수 </span> 
                                </div>

                                  
                                    
                               

                            </div>



                            <!-- // 윗 칸이랑 공간 분리 //-->
                            
                            <div class="storedetail-mid">

                            
                                <!-- 가게 주소 / 지역 --> <!-- 토글로 가게 우편 번호와 상세 주소 넣기 -->
                                <div class="storedetail-two">

                                    <span id="detailLoc" th:text="${address}"></span>
                                    

                                    <!-- 누르면 상세 페이지로 이동
                                        해당 가게의 위치가 상세 페이지에서 검색됨 -->
                                    <button id="storedetailmapbutton">지도</button>
                                </div>


                                <!-- 가게 전화번호 -->
                                <div class="storedetail-row">
                                    
                                    <span type="text" id="memberTel" th:text="*{storeTel}">
                                    가게 전화번호
                                    </span>
                                </div>


                            
                                <!-- 가게 정보 해시태그 -->
                                <div id="storedetail-row">
                                    <!-- 클릭 시 상세 검색 페이지로 이동(카테고리 선택됨) -->
                                    <a href="/chatting/chat" id="toChatting">문의하기</a>
                                </div>

                                
                                <span id="showReview">리뷰></span>

                               


                            </div>

                        <!-- // 아래 칸과 공간 분리 // -->


                        </div>


                    
                        <div class="store-detail-content">

                            <pre class="store-detail-text" th:text="*{storeInfo}">
                            </pre>

                           
                        </div>
                        <span  class="more-text">
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                        <span  class="less-text">
                            <i class="fa-solid fa-chevron-up"></i>
                        </span>

                        <hr>
                     

                     <!-- 가게 예약 버튼-->
                     <div class="storedetail-reservationbuttonbox">
                        <!-- 클릭하면 예약하기 페이지로 이동 -->
                        <th:block th:if="${session.loginMember?.memberCode==1 || session.loginMember==null}">
                            <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation'" id="storereservationbutton">예약하기</a>
                        </th:block>

                        <th:block th:unless="${session.loginMember?.memberCode==1|| session.loginMember==null}">
                            <a href="/" id="storereservationbutton">예약하기</a>
                        </th:block>

                        <!-- <th:block th:unless="${session.loginMember}">
                            <a href="/reservation/reservationDetail" id="storereservationbutton">예약하기</a>
                        </th:block> -->
                     </div>
                    

                </div>


            
            </div> 
            <!-- 회색 실선 container -->

        </section>
      <!-- section 1 끝 -->




<!-- ************************************************************ -->



     <!-- section 2 지도 -->
     <section class="store-detail">
        <!-- 지도 들어갈 자리 -->

        <div id="detailMapBox">

        
            <div id="detailMap">
            
            </div>
        
             
        </div>
       
       
     </section>


<!-- ************************************************************ -->

   
     <!-- section 3 가게 정보 -->
    <section class="store-detail">

        <div class="store-container">

          
           <!-- 영업 시간/ 영업 상태(일주일) 등 조회 -->

            <div class="storedetail-box">
  
                <div class="storedetail-opencontainer">

            
                    <div class="store-reportcontainer">
                        <button type="button" id="storeReport">🚨 폐점 / 가게 정보 정정 신고</button>
                    </div>

                   <!-- ************************************************************** -->
                    <!-- 신고 팝업 공간 -->

                                                
                        <!-- 할 일 상세 조회 시 출력되는 화면  
                            popup layer : 현재 페이지 위에 새로운 레이어를 띄우는 것
                        -->
                                                <!-- 처음에 숨겨놓기 -->



                        <form action="#" id="storeReportForm" class="popup-storereport">
                            <section class="popupbox">
                            
                               <div class="store-report-info">

                                    <div class="store-report-text">

                                        <h4 id="storeReportTitle">폐업신고 / 정보수정 제안</h4>
                                        <span id="popupShut" class="fa-solid fa-xmark"></span>     
                                        
                                        <textarea id="reportStoreContent"
                                        placeholder="수정이 필요한 내용을 적어주세요. &#13; 예) 맛집 이름, 주소, 전화번호 등"></textarea>
                                        
                                    </div>

                                    <div class="check-store-div">
                                        <label class="checkbox">
                                        <input type="checkbox" value="Y">
                                        <i class="check-icon"></i>
                                        &nbsp; 폐업신고

                                        </label>
                                        <br>
                                        <span>해당 음식점이 폐업이 되었을 경우 선택해주세요</span>

                                    </div>
                               </div>
                               
                                
                                <button>보내기</button>
                                
                            </section>

                            
                        </form>


                     
                       
                       

                                        

                   <!-- ************************************************************** -->
                    <div class="store-statuscontainer"> <!-- 영업 시간 리스트 만들 곳 -->


                        <div class="busi-hours-today">
                            
                            <div class="store-statusbox">

                                <span>영업시간</span>
                          
                                <!-- 가게 상태 조회(휴무일/ 브레이크타임/라스트오더) -->
                             <span id="storeStatusText" >영업 중</span>
                            </div>


                            <ul class="store-hours-list">
                                <li>
                                    <p class="t-txt">
                                      <Strong>
                                        [오늘] 05.21 (화)
                                      </Strong>
                                    </p>

                                  
                                    <p class="l-txt">
                                        영업시간 : <span th:text="${store.openHour}"></span>               
                                                  - <span th:text="${store.closeHour}"></span>               
                                    </p>
                                </li>
       
                                <li>
                                    <p class="t-txt"></p>
                                    <p class="l-txt">
                                        브레이크타임 : <span th:text="${store.breaktimeStart}"></span>               
                                        - <span th:text="${store.breaktimeEnd}"></span>                                           
                                    </p>
                                </li>
                             
                            </ul>

                        </div>
                    

             
                      <!--  반복하는 구간 -->

                        <div class="busi-hours-short">

                            
                            <ul class="store-hours-list">

                                <hr>

                                <li>
                                    <p class="t-txt">   
                                         05.22 (수)  
                                    </p>
                                    <p class="l-txt">
                                        영업시간: 11:00 - 21:30                      
                                    </p>
                                </li>  

                                <li>
                                    <p class="t-txt"></p>
                                    <p class="l-txt">
                                        브레이크타임: 14:30 - 17:00                                           
                                    </p>
                                </li>
                                <hr>

                                <li>
                                    <p class="t-txt">   
                                         05.23 (목)  
                                    </p>
                                    <p class="l-txt">
                                        영업시간: 11:00 - 21:30                      
                                    </p>
                                </li>  

                                <li>
                                    <p class="t-txt"></p>
                                    <p class="l-txt">
                                        브레이크타임: 14:30 - 17:00                                           
                                    </p>
                                </li>
                                <hr>

                                <li>
                                    <p class="t-txt">   
                                         05.24 (금)  
                                    </p>
                                    <p class="l-txt">
                                        영업시간: 11:00 - 21:30                      
                                    </p>
                                </li>  

                                <li>
                                    <p class="t-txt"></p>
                                    <p class="l-txt">
                                        브레이크타임: 14:30 - 17:00                                           
                                    </p>
                                </li>
                                <hr>

                                <li>
                                    <p class="t-txt">   
                                         05.25 (토)  
                                    </p>
                                    <p class="l-txt">
                                        영업시간: 11:00 - 21:30                      
                                    </p>
                                </li>  

                                <li>
                                    <p class="t-txt"></p>
                                    <p class="l-txt">
                                        브레이크타임: 14:30 - 17:00                                           
                                    </p>
                                </li>
                                <hr>

                                <li>
                                    <p class="t-txt">   
                                         05.26 (일)  
                                    </p>
                                    <p class="l-txt">
                                        영업시간: 11:00 - 21:30                      
                                    </p>
                                </li>  

                                <li>
                                    <p class="t-txt"></p>
                                    <p class="l-txt">
                                        브레이크타임: 14:30 - 17:00                                           
                                    </p>
                                </li>
                                <hr>

                                <li>
                                    <p class="t-txt">   
                                         05.27 (월)  
                                    </p>
                                    <p class="l-txt">
                                        영업시간: 11:00 - 21:30                      
                                    </p>
                                </li>  

                                <li>
                                    <p class="t-txt"></p>
                                    <p class="l-txt">
                                        브레이크타임: 14:30 - 17:00                                           
                                    </p>
                                </li>
                             
                            </ul>
  
                          
                        </div>

                        <div class="more-schedule-info-box">
                            <button id="moreScheduleInfoBtn">더보기</button>
                            <button id="shutScheduleInfoBtn">접기</button>
                        </div>
            
                       
                       

                    </div>


                 </div>


                    
    
                
             <!-- 바텀 선 css 주기 -->

             <!-- // 메뉴 공간 // -->
                
             <!-- 메뉴 ( 사진 확대 팝업/ 더보기) -->
                <div class="storedetail-menucontainer">

                    <div class="menu-info-title">
                        <span>메뉴 정보</span>
 
                    </div>
                   
                    <div class="store-menu-list" >
                    <!-- 메뉴 이미지 div 3개 추가 -->
                    <div class="menu-image-container" th:each="menu:${store.menuList}" >
                        
            
                        <div >
                            <img 
                            th:if="${menu.menuImgUrl!=null}"
                            th:src="${menu.menuImgUrl}" class="storedetail-menuimage" 
                             alt="메뉴 사진">
                        </div>

                        <div class="menu-info">
                            <span id="menuName" th:text="${menu.menuTitle}">메뉴 이름</span>
                            <span id="menuPrice" th:text="${menu.menuAmount}+'원'">가격</span>
                        </div>

                        <div class="menu-info-content">
                             <span id="menuDetail" th:text="${menu.menuContent}"></span>
                        </div>
                    </div>
                    
            
                    
             
                   </div>

                    <div class="moreMenuImageBtnBox">
                        <button id="moreMenuImageBtn">더보기</button>
                        <button id="shutMenuImageBtn">접기</button>
                    </div>
    
    
    
                  
                </div>

                  
                

                <!-- 해시태그(댓글에 달린 해시들) -->

                <div class="storedetail-hashtagcontainer">
                    <span>#음식이 맛있어요!</span>
                    <span>#사장님이 친절해요!</span>
                    <span>#재료가 신선해요!</span>
                    <span>#매장이 청결해요!</span>
                    <span>#분위기가 좋아요!</span>
                </div>

                



            </div>
 
        </div>

    </section>


<!-- ************************************************************ -->


     <!-- section 4 가게 이미지 -->
     <section class="store-detail">

        <div class="store-container">

        <div class="storedetail-box">

            <div class="storeLookText">
                <span>식당 사진</span>
            </div>
              
        
        <div class="detail-images" th:if="${#lists.size(imageList)>0}">

            <th:block th:each="i:${#numbers.sequence(0, #lists.size(store.imageList)-1)}">
           
             <img class="store-look" th:src="|${imageList[i].imagePath}${imageList[i].imgRename}|">

            </th:block>
         
      
           
        </div>

        <div class="moreStoreImageBtnBox">
            <button id="moreStoreImageBtn">사진 더보기</button>
            <button id="shutStoreImageBtn">사진 접기</button>
        </div>

        </div>
        </div>
     </section>
     


<!-- **************************** 리뷰 *************************** -->


     <!-- section 5 가게 리뷰 -->

        <section class="store-detail">

        <div class="review-container">

            <div class="storedetail-reivew-box">


                <div class="storereview-container" th:if="${reviewList}">

                    <a th:object="${store}" th:href="'/review/reviewPage/' + *{storeNo}">리뷰쓰기</a>

                    <th:block th:unless= "${!#lists.isEmpty(reviewList)}">
                        <h3>아직 리뷰가 없습니다.</h3>
                    </th:block>

                    
                    <th:block th:if="${ !#lists.isEmpty(reviewList)}">
                        <h3 class="review-title">방문자 리뷰</h3>
                    </th:block>


                    <th:block  th:each=" review : ${reviewList}" th:object="${review}">
                        <div class="review">
                            <div class="storereview-top">
        
                                <div class="storereview-top-left">
                                    <img class="review-member-profile"
                                        th:src="*{profileImg}">
                                    <div class="review-info">
                                        <span th:text="*{memberName}">닉네임</span>
                                        
                                        <div class="review-memberScore">
                                            <span class="reviewScore" th:attr="data-rating=*{reviewRating}"></span>
                                            <span th:text="|*{reviewRating} 점|"> 점수</span>
                                        </div>
        
                                    </div>
                                </div>
        
                                <div class="storereview-top-right">
                                    <button type="button" id="reviewReport"  th:if="${session.loginMember}">🚨신고하기</button>
                                    <span th:text="*{reviewRegDate}">2024-05-17</span>
                                </div>
        
                            </div>
        
                            
                            <div class="storereview-mid">
                                <p th:text="*{reviewContent}">리뷰 내용</p>
                            </div>
        
                            <th:block>
                                <div class="storereview-bottom">
                                    
                                    <th:block th:if="${!#lists.isEmpty(uploadList)}">
                                        <p th:if="*{uploadList}">주문 내역</p>
                                    </th:block>
    
                                    <div class="storereview-image" th:if="*{uploadList}">
                                        <th:block th:each=" upload : *{uploadList}">
                                            <img class="review-look" th:src="|${upload.imagePath}${upload.imgRename}|">
                                        </th:block>
                                    </div>
    
                                    <p>해시태그</p>
                                    <div class="review-hashtag">
        
                                        <th:block th:each=" hash : *{hashList}">
                                            <span th:text="|${hash.hashTitle} |" class="review-hash">#해시태그</span>
                                        </th:block>
                                    </div>
                                </div>
                            </th:block>
        
                            <th:block th:if="${!#lists.isEmpty(replyList)}" th:each=" reply : *{replyList}">
                                <div class="store-reply">
                                    <img class="review-store-profile" th:src="${reply.storeImg}" alt="가게 프로필 이미지">
            
                                    <p class="reply-content-bubble" th:text="${reply.replyContent}">
                                        사장님 답글
                                    </p>
                                </div>
                            </th:block>

                        </div>
                    </th:block>
                    
                </div>
                    
                <div class="review-more-button">
                    <button type="button">리뷰 더보기</button>
                </div>

            </div>
        </div>
        </section>
    

        <form action="#" id="reviewReportForm" class="popup-hidden">
            <section class="popupLayer">
               
                <p id="p">리뷰 신고하기</p>
                <span id="popupClose" class="fa-solid fa-xmark"></span>     
               
                <div class="review-reason">
                    <p>리뷰를 신고하려는 이유를 알려주세요!</p>
                    <p>타당한 근거 없이 신고된 내용은 관리자 확인 후 반영되지 않을 수 있습니다.</p>
                </div>
                   
                <div class="report-button-area">
                    <textarea name="reportContent" id="reportContent"></textarea>
                    <button>신고하기</button>
                </div>
            </section>
        </form>





        

    
    </main>
       <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원";
        const memberCode = /*[[${session.loginMember?.memberCode}]]*/ "회원코드";

        const storeMaxTable = /*[[${store.storeMaxTable}]]*/ "최대 예약 팀 수(테이블)"
        const storeNo = /*[[${store.storeNo}]]*/ "사업자등록번호"
        const storeStatus = /*[[${store.storeStatus}]]*/ "예약 가능 여부"

        let bookMark =/*[[${store.bookMark}]]*/ "좋아요 여부";
        

    </script>

   <script src="/js/reservation/reservation.js"></script>
   <script src="/js/store/storeDetail.js"></script>
   <script src="/js/reservation/calendar.js"></script>


    <aside>
        
         <a href="#bodyTop"><i class="fa-solid fa-angles-up"></i></a>
       
         
         <a href="#"><i class="fa-regular fa-comment"></i></a>
         
         <a href="/store/storeSearch"><i class="fa-solid fa-location-dot"></i></a>
         
         <a href="#bodyBottom"><i class="fa-solid fa-angles-down"></i></a>        
    </aside>

</body>
</html>