<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 상세 조회 페이지</title>

     <!-- templetes/common/common.html  조각 추가 -->
     <th:block th:replace="~{common/common}"></th:block>

     <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c0a61513c1f514ea458fa903130cb59a&libraries=services,clusterer,drawing"></script>


     <link rel="stylesheet" href="/css/store/storeDetail.css">

</head>
<body id="bodyTop">
    <main>

    <!-- templetes/common/header.html  조각 추가 -->
     <th:block th:replace="~{common/header}"></th:block>



     <!-- section 1 가게 상세 -->
     <!-- 가게 사진 , 식당 이름, 북마크, 지역, 카테고리, 별점, 지도, 가게 정보,  -->

       <!-- 공간 나누는 칸 ex) 가게 정보랑 지도 나눔 -->
       <section class="store-detail">   
         

            <!--회색 실선 박스 -->
            <div class="store-container">


        
                <div class="storedetail-all"> <!-- 걍 가운데 위치해주는 용도 -->
                    


                    <!-- main에 들어가는 가게 대표 이미지 
                   (가게 이미지 조회) -->

                    <div class="storedetail-thumbnailbox" >

                        <button>좌</button>

                        <img class="storedetail-thumbnail" 
                        src="/images/storeDetail/store.jpg" alt="가게 기본 이미지">
                    

                        <button>우</button>

                    </div>
                  
                
                   <!-- ************* 가게 내용 ************ -->

                    <div class="storedetail-content">

                    </div>
                            <!-- 상세 내용 박스 -->
                        <div class="storedetail-box">

                        

                            <!-- 식당 이름 / 북마크 -->
                            <div class="storedetail-two">

                                <!-- 안에 이름이랑 북마크 만들고 
                                    양 옆으로 보내기 -->
                                <div class="storedetail-name">
                                    <span id="storeName">집게리아</span> 
                                </div>
                                
                                <div class="bookmark">

                                    <i class="fa-regular fa-heart" id="bookmarkCheck"
                                    th:classappend="*{bookmark == 1} ? fa-solid : fa-regular"></i>
                                    
                                </div>
                            
                            </div>



                            <!-- 지역 / 카테고리 -->
                            <div class="storedetail-row">
                                <!-- 회원 정보 조회
                                    클릭하면 검색 페이지로 이동 -->
                            <span>비키니시티 | 햄버거</span>
                            </div>



                            <!-- 별점 / 클릭시 아래 리뷰 페이지로 내려가는 버튼 -->
                            <div class="storedetail-row">


                                <div class="store-avgScore">
                                    <i class="rating__star far fa-star"></i>
                                    <i class="rating__star far fa-star"></i>
                                    <i class="rating__star far fa-star"></i>
                                    <i class="rating__star far fa-star"></i>
                                    <i class="rating__star far fa-star"></i>
                                   
                                    &nbsp;
                                    <span> 점수 </span>
                                </div>

                                  
                                    
                                <span id="showReview">리뷰></span>

                            </div>



                            <!-- // 윗 칸이랑 공간 분리 //-->
                            
                            <div class="storedetail-mid">

                            
                                <!-- 가게 주소 / 지역 -->
                                <div class="storedetail-two">
                                    <span>
                                        가게 주소 : 비키니시티 닻도로 3051
                                    </span>

                                    <!-- 누르면 상세 페이지로 이동
                                        해당 가게의 위치가 상세 페이지에서 검색됨 -->
                                    <button id="storedetailmapbutton">지도</button>
                                </div>


                                <!-- 가게 전화번호 -->
                                <div class="storedetail-row">
                                    
                                    <span type="text" id="memberTel">
                                    가게 전화번호 : 031-369-3690
                                    </span>
                                </div>


                            
                                <!-- 가게 정보 해시태그 -->
                                <div id="storedetail-row">
                                    <!-- 클릭 시 상세 검색 페이지로 이동(카테고리 선택됨) -->
                                <p>#패스트푸드</p>
                                </div>


                                <!-- 문의(채팅) 페이지로 이동-->
                                <a id="toChatting" href="#">문의하기</a>



                            </div>

                        <!-- // 아래 칸과 공간 분리 // -->


                        </div>


                    <!-- 가게 소개 조회
                        // 이거도 더보기로 할까... 화면 안 이쁜데 뺄 수도-->

                    <!-- 가게 예약 버튼-->
                    <div class="storedetail-reservationbuttonbox">
                        <!-- 클릭하면 예약하기 페이지로 이동 -->
                        <button id="storereservationbutton">예약하기</button>
                    </div>
                    

                </div>


            
            </div> 
            <!-- 회색 실선 container -->

        </section>
      <!-- section 1 끝 -->




<!-- ************************************************************ -->



     <!-- section 2 지도 -->
     <section class="store-detail">
        <!-- 지도 들어갈 자리 -->

        <div id="detailMapBox">

        
            <div id="detailMap">
            
            </div>
        
             
        </div>
       
       
     </section>


<!-- ************************************************************ -->


   
     <!-- section 3 가게 정보 -->
     <section class="store-detail">

        <div class="store-container">

          
           <!-- 영업 시간/ 영업 상태(일주일) 등 조회 -->

          <div class="storedetail-box">
  
            <div class="storedetail-opencontainer">

                
                

                    <div class="store-reportcontainer">
                        <button id="storeReport">
                        <!-- 팝업 -->
                        <a href="#storeReport" class="btn_open">🚨 폐점 / 가게 정보 정정 신고</a>
                            
                            
                       
                        </button>
                    </div>

                   <!-- ************************************************************** -->
                    <!-- 신고 팝업 공간 -->

                                                
                        <!-- 할 일 상세 조회 시 출력되는 화면  
                            popup layer : 현재 페이지 위에 새로운 레이어를 띄우는 것
                        -->
                                                <!-- 처음에 숨겨놓기 -->
                       
                           

                   <!-- ************************************************************** -->
                    <div class="store-statuscontainer">
                        <div class="store-opentime">
                            <span>영업시간</span>
                            <span>11:00 ~ 22:00</span>
                        </div>
                    
                        <div class="store-statusbox">
                            <!-- 가게 상태 조회(휴무일/ 브레이크타임/라스트오더) -->
                        <span id="storeStatusText">영업 중</span>
                        </div>
                    </div>

                    <div class="store-today">
                        <!-- 오늘 날짜 조회 -->
                        <span>
                            [오늘] 05.09(목)
                        </span>

                    </div>
        
    
            </div>
             <!-- 바텀 선 css 주기 -->

             <!-- // 메뉴 공간 // -->
                
             <!-- 메뉴 ( 사진 확대 팝업/ 더보기) -->
                <div class="storedetail-menucontainer">

                    <span id="menuInfoTitle">메뉴 정보</span>

                    <!-- 메뉴 이미지 div 3개 추가 -->
                    <div class="menuimage-container">
                        <div>
                            <img src="/images/storeDetail/burger4.jpg" class="storedetail-menuimage" 
                             alt="메뉴 사진">
                        </div>

                        <div class="menu-info">
                            <span id="menuName">게살버거</span>
                            <span id="menuPrice">4000 원</span>
                        </div>
                    </div>
                    
                    <div class="menuimage-container">
                        <div>
                            <img src="/images/storeDetail/burger.jpg" class="storedetail-menuimage" 
                             alt="메뉴 사진">
                        </div>

                        <div class="menu-info">
                            <span id="menuName">스페셜버거</span>
                            <span id="menuPrice">22000 원</span>
                        </div>
                    </div>
                    
                    <div class="menuimage-container">
                        <div>
                            <img src="/images/storeDetail/pizza.jpg" class="storedetail-menuimage" 
                             alt="메뉴 사진">
                        </div>

                        <div class="menu-info">
                            <span id="menuName">피자</span>
                            <span id="menuPrice">9000 원</span>
                        </div>
                    </div>
                    
                    <div class="moreMenuImageBtnBox">
                        <button id="moreMenuImageBtn">더보기</button>
                    </div>
                </div>





             <!-- 해시태그(댓글에 달린 해시들) -->

            <div class="storedetail-hashtagcontainer">
                <span>#버거가 친절하고_사장님이 맛있어요</span>
                <span>#주문 받는 알바가 불친절함</span>
                <span>#매장 안에 아메바 돌아다닙니다</span>
            </div>

            



           </div>
 
        </div>

     </section>


<!-- ************************************************************ -->


     <!-- section 4 가게 이미지 -->
     <section class="store-detail">

        <div class="store-container">

        <div class="storedetail-box">

            <div class="storeLookText">
                <span>식당 사진</span>
            </div>
              
        
        <div class="detail-images">

         
            <img class="store-look" src="/images/storeDetail/hotdog.jpg">
            <img class="store-look" src="/images/storeDetail/cooking.jpg">
            <img class="store-look" src="/images/storeDetail/counter2.jpg">
            <img class="store-look" src="/images/storeDetail/counter3.jpg">
            <img class="store-look" src="/images/storeDetail/counter.jpg">
            <img class="store-look" src="/images/storeDetail/burger2.jpg" >
           
        </div>

        <div class="moreStoreImageBtnBox">
            <button id="moreStoreImageBtn">사진 더보기</button>
        </div>

        </div>
        </div>
     </section>
     


<!-- ****************************나중에 합치기*************************** -->


     <!-- section 5 가게 리뷰 -->

        <section class="store-detail">

        <div class="store-container">

            <div class="storedetail-box">


            <div class="storereview-container">
                <h3 class="review-title">방문자 리뷰</h3>
                
                <div class="review-avgScore">
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <span> 평균 점수</span>
                </div>


                    <div class="storereview-top">


                    <div class="storereview-top-left">
                        <img class="review-member-profile" src="/images/storeDetail/hotdog.jpg" alt="회원 프로필 이미지">
                        <div class="review-info">
                            <span>닉네임</span>
                            
                            <div class="review-memberScore">
                                <i class="rating__star far fa-star"></i>
                                <i class="rating__star far fa-star"></i>
                                <i class="rating__star far fa-star"></i>
                                <i class="rating__star far fa-star"></i>
                                <i class="rating__star far fa-star"></i>
                                <span> 점수</span>
                            </div>

                        </div>
                    </div>
                    
                    <div class="storereview-mid">
                        <p>리뷰 내용</p>
                    </div>

                    <div class="storereview-bottom">
                        <p>주문 내역</p>
                        <div class="storereview-image">
                            <img class="store-look" src="/images/storeDetail/counter2.jpg">
                            <img class="store-look" src="/images/storeDetail/counter3.jpg">
                            <img class="store-look" src="/images/storeDetail/counter.jpg">
                        </div>
                        <p>해시태그</p>
                        <div class="review-hashtag">
                            <span>#해시태그</span>
                            <span>#해시태그</span>
                            <span>#해시태그</span>
                        </div>
                    </div>

                    <div class="store-reply">
                        <img class="review-store-profile" src="/images/storeDetail/store.jpg" alt="가게 프로필 이미지">

                        <p class="reply-content-bubble">
                            사장님 답글
                        </p>

                    </div>
                    
                    <div class="review-more-button">
                        <button id="reviewMoreButton">리뷰 더보기</button>
                    </div>

                    <a href="/review/insertReview">리뷰쓰기</a>



                </div>
            </div>
        </div>
        </section>
    

        <form action="#" id="reviewReportForm" class="popup-hidden">
            <section class="popupLayer">
               
                <p id="p">리뷰 신고하기</p>
                <span id="popupClose" class="fa-solid fa-xmark"></span>     
               
                <div class="review-reason">
                    <p>리뷰를 신고하려는 이유를 알려주세요!</p>
                    <p>타당한 근거 없이신고된 내용은 관리자 확인 후 반영되지 않을 수 있습니다.</p>
                </div>
    
                <div class="select-report">

                    <div>
                        <input type="radio" name="reportRadio" id="report1"> 주문과 관련없는 내용
                    </div>
                    <div>
                        <input type="radio" name="reportRadio" id="report1"> 주문과 관련없는 내용
                    </div>
                    <div>
                        <input type="radio" name="reportRadio" id="report1"> 주문과 관련없는 내용
                    </div>
                    <div>
                        <input type="radio" name="reportRadio" id="report1"> 주문과 관련없는 내용
                    </div>
                    <div>
                        <input type="radio" name="reportRadio" id="report1"> 기타 (하단 내용 작성)
                    </div>
                </div>
                   
                <div class="report-button-area">
                    <textarea name="reportContent" id="reportContent"></textarea>
                    <button>신고하기</button>
                </div>
            </section>
        </form>





    
    </main>
       <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <script src="/js/reservation/reservationDetail.js"></script>
   <script src="/js/store/storeDetail.js"></script>


    <aside>
        <div class="top-button">
         <a href="#bodyTop"><i class="fa-solid fa-arrow-up"></i></a>
        </div>
    </aside>

</body>
</html>