<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.foodpin.store.model.mapper.DetailStoreMapper">

	   <!-- 가게 상세 조회 -->
   <select id="storeDetail" resultType="store">
   SELECT S.STORE_NAME, S.STORE_INFO, S.STORE_LOCATION, S.STORE_STATUS,
       S.STORE_TEL, S.OPEN_HOUR, S.CLOSE_HOUR, S.BREAKTIME_START, S.BREAKTIME_END,
       S.STORE_CLOSED, S.STORE_IMG, S.TOTAL_RATING, S.MEMBER_NO, S.STORE_NO,
       	(SELECT COUNT(*) 
		 FROM "BOOKMARK"
		 WHERE STORE_NO = #{storeNo}) LIKE_COUNT,
		 (SELECT COUNT(*)FROM "BOOKMARK"
	    WHERE MEMBER_NO = #{memberNo}
	    AND STORE_NO =#{storeNo}) BOOKMARK
		 
		FROM "STORE" S
		WHERE STORE_NO = #{storeNo}
		
   </select>
   
   <!-- 가게 메뉴 상세 조회 -->
    <select id="menuDetail" resultType="menu">
       SELECT STORE_NO, MENU_IMG_URL, MENU_NO, MENU_TITLE, MENU_AMOUNT,MENU_CONTENT  
		FROM MENU
		WHERE STORE_NO=#{storeNo}
    </select>
  
   
   
   <!-- 가게 찜 해제 -->
   <delete id="deleteStoreLike">
     DELETE FROM "BOOKMARK"
     WHERE MEMBER_NO = #{memberNo}
     AND STORE_NO = #{storeNo}
   </delete>
   
   <!-- 가게 찜 체크 -->
    <insert id="insertStoreLike">
     INSERT INTO "BOOKMARK" (MEMBER_NO, STORE_NO)
     VALUES(#{memberNo}, #{storeNo})
     
    </insert>
   
   <!-- 가게 찜 개수 -->
   <select id="selectLikeCount">
    SELECT COUNT(*) FROM "BOOKMARK"
     WHERE STORE_NO = #{storeNo}
   </select>
   
  
</mapper>