<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.foodpin.member.model.mapper.MemberMapper">
	
	
	<!-- 로그인 -->
	<select id="login" resultType="Member">
			SELECT MEMBER_NO, MEMBER_ID, MEMBER_CODE, MEMBER_EMAIL, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PW,
					MEMBER_TEL, PROFILE_IMG, MEMBER_STATUS, MEMBER_FLAG,
					TO_CHAR(ENROLL_DATE,'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
			FROM MEMBER
			WHERE MEMBER_ID = #{memberId}
			AND MEMBER_STATUS = 'N'
	</select>
	
	<!-- 일반 회원가입 -->
	<insert id="signupCommon">
	INSERT INTO "MEMBER"
	VALUES(SEQ_MEMBER_NO.NEXTVAL,
		DEFAULT,
		#{memberId},
		#{memberEmail},
		#{memberName},
		#{memberNickname},
		#{memberPw},
		#{memberTel},
		'/images/user.png',
		DEFAULT,
		DEFAULT,
		0
	)
	</insert>
</mapper>