<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.foodpin.myPage.model.mapper.StoreMyPageMapper">

	<!-- 회원번호로 사업자번호 조회 -->
	<select id="selectStoreNo">
		SELECT STORE_NO
		FROM "STORE"
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	<!-- *** 예약 *** -->
	
	<!-- 전체 예약 조회 -->
	<select id="reservAll">
		SELECT MEMBER_NAME, MEMBER_TEL, TO_CHAR(RESERV_DATE, 'YYYY"년" MM"월" DD"일"') RESERV_DATE, RESERV_TIME, RESERV_COUNT, RESERV_REQUEST, RESERV_STATUS_FL
		FROM "RESERVATION"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE STORE_NO = (
			SELECT STORE_NO
			FROM "STORE"
			JOIN MEMBER USING(MEMBER_NO)
			WHERE MEMBER_NO = #{memberNo}
		)
		ORDER BY RESERV_DATE
	</select>
	
	<!-- 확정된 예약 조회 -->
	<select id="reservConfirm">
		SELECT MEMBER_NAME, MEMBER_TEL, TO_CHAR(RESERV_DATE, 'YYYY"년" MM"월" DD"일"') RESERV_DATE, RESERV_TIME, RESERV_COUNT, RESERV_REQUEST, RESERV_STATUS_FL
		FROM "RESERVATION"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE STORE_NO = (
			SELECT STORE_NO
			FROM "STORE"
			JOIN MEMBER USING(MEMBER_NO)
			WHERE MEMBER_NO = #{memberNo}
		)
		AND RESERV_STATUS_FL = 'Y'
		ORDER BY RESERV_DATE
	</select>
	
</mapper>