<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.foodpin.myPage.model.mapper.MemberMyPageMapper">

	<update id="updateInfo">
		UPDATE "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_TEL = #{memberTel}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="selectPw">
		SELECT MEMBER_PW
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<update id="memberChangePw">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{encPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="selectReservation">
		SELECT 
		    R.RESERV_DATE, 
		    R.RESERV_TIME, 
		    S.STORE_NAME, 
		    R.RESERV_COUNT, 
		    S.STORE_LOCATION
		FROM 
		    RESERVATION R
		JOIN 
		    STORE S 
		ON 
		    R.STORE_NO = S.STORE_NO
		WHERE 
		    R.MEMBER_NO = #{memberNo}
	</select>

</mapper>