<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.foodpin.myPage.model.mapper.ManagerMyPageMapper">

	<!-- 가게 입점 내역 목록 -->
	<select id="storeRequestList">
		SELECT M.MEMBER_NO, MEMBER_NAME, STORE_NAME, STORE_INFO,
		<![CDATA[ TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') ENROLL_DATE]]>,
		MEMBER_TEL, STORE_LOCATION, STORE_TEL, STORE_NO
		FROM "MEMBER" M
		JOIN "STORE" S ON M.MEMBER_NO = S.MEMBER_NO
		WHERE MEMBER_CODE = #{memberCode}
		AND MEMBER_STATUS = #{memberStatus}
		
		AND STORE_CLOSED = 'N'
		ORDER BY ENROLL_DATE DESC
	</select>
	
	<!-- 승인버튼 -->
	<update id="approveMember">
		UPDATE MEMBER SET
		MEMBER_STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 거절버튼 -->
	<update id="refuseMember">
		UPDATE MEMBER SET
		MEMBER_STATUS = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 폐점버튼 -->
	<update id="closeStore">
		UPDATE STORE SET 
		STORE_CLOSED = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 가게 정보 신고 조회 -->
	<select id="infoRequestList">
		SELECT REQUEST_CATEGORY_TITLE, REQUEST_DATE, REQUEST_CONTENT,
			MEMBER_NAME, STORE_NAME, REQUEST_NO
		FROM REQUEST_EDIT
		JOIN REQUEST_CATEGORY USING(REQUEST_CATEGORY_CODE)
		JOIN MEMBER USING(MEMBER_NO)
		JOIN STORE USING(STORE_NO)
	</select>

</mapper>