<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.foodpin.myPage.model.mapper.ManagerMyPageMapper">

	<!-- 가게 입점 내역 목록 -->
	<select id="storeRequestList">
		SELECT M.MEMBER_NO, MEMBER_NAME, STORE_NAME, 
		<![CDATA[ TO_CHAR(ENROLL_DATE, 'YYYY. MM. DD') ENROLL_DATE]]>
		FROM "MEMBER" M
		JOIN "STORE" S ON M.MEMBER_NO = S.MEMBER_NO
		WHERE MEMBER_CODE = #{memberCode}
		AND MEMBER_STATUS = #{memberStatus}
		ORDER BY ENROLL_DATE DESC
	</select>
	
	<update id="approveMember">
		UPDATE MEMBER SET
		MEMBER_STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="refuseMember">
		UPDATE MEMBER SET
		MEMBER_STATUS = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>

</mapper>