<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.foodpin.review.model.mapper.ReviewMapper">

	<!-- 특정가게 조회 -->
	<select id="selectStore" resultType="store">
		SELECT *
		FROM "STORE" S
		WHERE S.STORE_NO = #{storeNo}
	</select>
	
	<!-- 특정가게 메뉴 조회 -->
	<select id="selectMenu">
		SELECT *
		FROM MENU
		WHERE STORE_NO = #{storeNo}
	</select>
	
	
	<!-- 리뷰 작성 -->
	<insert id="reviewInsert" useGeneratedKeys="true" parameterType="Review">
	
	  <selectKey order="BEFORE" resultType="_int" keyProperty="reviewNo">
	      SELECT SEQ_REVIEW_NO.NEXTVAL FROM DUAL
	  </selectKey>
	
	
	  INSERT INTO "REVIEW" 
	        VALUES( #{reviewNo},
	                #{reviewRating},
	                #{reviewContent},
	                SYSDATE,
	                DEFAULT,
	                #{memberNo},
	                #{storeNo}
	    )
	</insert>
	
	<!-- 메뉴 삽입 -->
	<insert id="insertMenu" parameterType="list">
        INSERT INTO "REVIEW_MENU"
        
        <foreach collection="list" item="menu" open="(" close=")" separator=" UNION ">
            SELECT #{menu.reviewNo}, #{menu.menuNo} FROM DUAL
        </foreach>
    </insert>
	
	
	<!-- 해시태그 삽입 -->
	<insert id="insertHashList" parameterType="list">
        INSERT INTO "REVIEW_HASH"
        
        <foreach collection="list" item="tag" open="(" close=")" separator=" UNION ">
            SELECT #{tag.reviewNo}, #{tag.hashNo} FROM DUAL
        </foreach>
    </insert>
	
    <!-- 이미지 삽입 -->
    <insert id="insertUploadList" parameterType="list">
        INSERT INTO "UPLOAD_IMAGE"
        
        <foreach collection="list" item="img" open="(" close=")" separator=" UNION ">
            SELECT NEXT_IMAGE_NO(), #{img.imagePath}, #{img.imgRename}, SYSDATE, #{img.imageOrder}, #{img.storeNo}, #{img.reviewNo}, #{img.imgOriginalName} FROM DUAL
        </foreach>
    </insert>
    
    <!-- 리뷰 개수 조회 -->
	<select id="reviewCount">
		SELECT COUNT(*)
		FROM REVIEW 
		WHERE MEMBER_NO = #{memberNo}
		AND REVIEW_DEL_FL = 'N'
	</select>
	
	
	
	
	
	


</mapper>