<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.foodpin.store.model.mapper.SearchStoreMapper">




<!-- 카테고리에 해당하는 가게들 리스트 -->
<select id="searchStoreList" parameterType="map" resultType="Store">
    SELECT DISTINCT
        STORE.STORE_NO,
        STORE.STORE_NAME,
        STORE.STORE_INFO,
        STORE.STORE_LOCATION,
        STORE.STORE_STATUS,
        STORE.STORE_TEL,
        STORE.OPEN_HOUR,
        STORE.CLOSE_HOUR,
        STORE.BREAKTIME_START,
        STORE.BREAKTIME_END,
        STORE.STORE_CLOSED,
        STORE.STORE_IMG,
        (SELECT COUNT(*)
         FROM REVIEW
         WHERE REVIEW.STORE_NO = STORE.STORE_NO
           AND REVIEW.REVIEW_DEL_FL = 'N') AS REVIEW_COUNT,
        (SELECT COUNT(*)
         FROM BOOKMARK
         WHERE BOOKMARK.STORE_NO = STORE.STORE_NO) AS LIKE_COUNT,
        (SELECT ROUND(AVG(REVIEW_RATING), 1)
         FROM REVIEW
         WHERE REVIEW.STORE_NO = STORE.STORE_NO
           AND REVIEW.REVIEW_DEL_FL = 'N') AS TOTAL_RATING
        <if test="memberNo != null">
            ,
            (SELECT COUNT(*)
             FROM BOOKMARK
             WHERE MEMBER_NO = #{memberNo}
               AND STORE_NO = STORE.STORE_NO) AS BOOKMARK
        </if>
    FROM STORE
    JOIN STORE_CATEGORY ON STORE.STORE_NO = STORE_CATEGORY.STORE_NO
  <where>
    <if test="categoryCode != 1">
      AND CATEGORY_CODE = #{categoryCode}
    </if>
    <if test="closedYn != null and closedYn != ''">
      AND STORE_CLOSED = #{closedYn}
    </if>
  </where>
</select>



<!-- 가게 상세 카테고리 조회 -->
<select id="searchStoreCategoryList" resultType="StoreCategory">
  SELECT CATEGORY_TITLE  FROM "CATEGORY"
  
  
  
	JOIN "STORE_CATEGORY" USING (CATEGORY_CODE)
	WHERE STORE_NO = #{storeNo} 
</select>

  <select id="searchStoreHashList" resultType="ReviewHash">
     
		SELECT DISTINCT H.HASH_TITLE
		FROM REVIEW R
		JOIN REVIEW_HASH RH ON R.REVIEW_NO = RH.REVIEW_NO
		JOIN HASH H ON RH.HASH_NO = H.HASH_NO
		WHERE R.STORE_NO =  #{storeNo} 
		AND REVIEW_DEL_FL ='N' 
   </select>
   
   
   
 
 
   <!-- 메인에서 검색한 가게 리스트 -->
	<select id="mainSearchStore">
	 SELECT DISTINCT MAIN.STORE_NO, MAIN.STORE_NAME, MAIN.STORE_INFO, MAIN.STORE_LOCATION, MAIN.STORE_STATUS, MAIN.STORE_TEL,
	 MAIN.OPEN_HOUR, MAIN.CLOSE_HOUR, MAIN.BREAKTIME_START, MAIN.BREAKTIME_END, MAIN.STORE_CLOSED, MAIN.STORE_IMG, 
	 
	
	   (SELECT COUNT(*) 
       FROM "REVIEW" R
       WHERE R.STORE_NO = MAIN.STORE_NO
       AND R.REVIEW_DEL_FL = 'N') REVIEW_COUNT,


       	(SELECT COUNT(*) 
		 FROM "BOOKMARK" SUB
		 WHERE SUB.STORE_NO = MAIN.STORE_NO)  LIKE_COUNT,
		 

	     (SELECT ROUND(AVG(REVIEW_RATING), 1)
		  FROM REVIEW R2
		  WHERE R2.STORE_NO = MAIN.STORE_NO
		  AND R2.REVIEW_DEL_FL = 'N') TOTAL_RATING
		 
		 <if test="memberNo!=null">
		 
			 , (SELECT COUNT(*)
			 FROM "BOOKMARK" BM
		    WHERE BM.MEMBER_NO = #{memberNo}
		    AND BM.STORE_NO = MAIN.STORE_NO) BOOKMARK
	    </if>
		  
	  
	FROM "STORE"  MAIN
	JOIN "STORE_CATEGORY" SCT ON MAIN.STORE_NO = SCT.STORE_NO  
	JOIN "CATEGORY" CT ON SCT.CATEGORY_CODE = CT.CATEGORY_CODE  
	JOIN "MEMBER" M ON MAIN.MEMBER_NO = M.MEMBER_NO 
	WHERE STORE_CLOSED='N'
	    <if test="searchStoreR != null and searchStoreR != ''">
	     AND (MAIN.STORE_NAME LIKE '%' || #{searchStoreR} || '%' 
	     OR MAIN.STORE_LOCATION LIKE '%' || #{searchStoreR} || '%' 
	     OR CT.CATEGORY_TITLE LIKE '%' || #{searchStoreR} || '%')
	</if>
	<if test="searchStoreR == null or searchStoreR == ''">
	     AND (MAIN.STORE_NAME LIKE '%' || #{mainSearch} || '%' 
	     OR MAIN.STORE_LOCATION LIKE '%' || #{mainSearch} || '%' 
	     OR CT.CATEGORY_TITLE LIKE '%' || #{mainSearch} || '%')
	</if>
	</select>

  <!-- 카테고리 리스트 조회 -->
  <select id="selectSearchCategory" resultType="Category">
   SELECT CATEGORY_CODE, CATEGORY_TITLE 
    FROM "CATEGORY"
    ORDER BY CATEGORY_CODE
 </select>
 
   
<!--    
    가게 찜 해제
   <delete id="deleteSearchStoreLike">
     DELETE FROM "BOOKMARK"
     WHERE MEMBER_NO = #{memberNo}
     AND STORE_NO = #{storeNo}
   </delete>
   
   가게 찜 체크
    <insert id="insertSearchStoreLike">
     INSERT INTO "BOOKMARK" (MEMBER_NO, STORE_NO)
     VALUES(#{memberNo}, #{storeNo})
     
    </insert>
   
   가게 찜 개수
   <select id="selectSearchLikeCount">
    SELECT COUNT(*) FROM "BOOKMARK"
     WHERE STORE_NO = #{storeNo}
   </select> -->

</mapper>