<nav class="all-notification">

    <ul class="all-list" th:if="${session.loginMember?.memberCode==1}">
        <li class="all">
            <a href="#" class="category">전체</a>
        </li>
    </ul>

    <ul class="all-list" th:if="${session.loginMember?.memberCode==2}">
        <li class="all">
            <a href="#" class="category">전체</a>
        </li>

        <li class="all">
            <a href="#" class="category">리뷰</a>
        </li>

        <li class="all">
            <a href="#" class="category">예약 취소</a>
        </li>

        <li class="all">
            <a href="#" class="category">신고</a>
        </li>
    </ul>
    
    <ul class="all-list" th:if="${session.loginMember?.memberCode==3}">
        <li class="all">
            <a href="#" class="category">전체</a>
        </li>

        <li class="all">
            <a href="#" class="category">신고</a>
        </li>
    </ul>

</nav>