<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약완료</title>
</head>
<body>

    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/reservation/reservationConfirm.css">

    <main>

        <!-- header.html 추가 -->
        <th:block th:replace="~{common/header}"></th:block>
        
        <section class="main-container">
    
            <!-- section 지정 -->
    
            <!-- 아이콘 section -->
            <section class="reservation-header-container">
    
       
    
            </section>
    
    
            <!-- 예약 확인 안내 section -->
            <section class="reservation-body-container">
    
    
            </section>
    
    
            <!-- 예약 항목 section -->
            <section class="reservation-footer-container">
    
    
            </section>
    
    
            <!-- 버튼 section -->
            <section class="button-area">
    
                <div class="buttons">
                    <a href="/reservation/reservationCheck"  id="cancelBtn">취소</a>
                    <a href="#" id="nextBtn">내 예약 확인하러 가기</a>
                </div>
    
            </section>
        </section>

    </main>

    <th:block th:replace="~{common/footer}"></th:block> 
    
</body>
</html>