<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약하기</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/reservation/detail.css">
</head>
<body>
    <main>

        <!-- header.html 추가 -->
        <th:block th:replace="~{common/header}"></th:block>
        
        <section class="main-container">
    
            <!-- section 지정 -->
    
            <!-- 안내 section -->
            <section class="reservation-header-container" th:object="${store}">
    
                <th:block th:if="*{storeImg}">
                    <img class="store-image" alt="600x300"  th:src="*{storeImg}">
                </th:block>

                <!-- 가게 이미지 없는 경우 -->
                <th:block th:unless="*{storeImg}">
                    <img class="store-image" alt="600x300"  src="/images/reservation/storeDefaultImage.png">
                </th:block>
    
                <div class="header-container">
    
                    <div class="store-name-container">
                        <div class="store" th:text="${store.storeName}">가게이름</div>
                    </div>
                    
                    <div class="content-container">
                        <i class="fa-solid fa-message"></i>
                        <!-- 가게 정보가 있을 경우 -->
                        <th:block th:if="${store.storeInfo}">
                            <span class="content" name="storeInfo" id="storeId" th:text="${store.storeInfo}"></span>
            
                            <a class="more" th:href="'/store/storeDetail/' + ${storeNo} + '/reservation/detail'">더보기
                                <i class="fa-solid fa-chevron-down fa-rotate-270"></i>
                            </a><!-- 상세 정보로 넘어감 -->
                        </th:block>

                        <!-- 가게 정보가 없는 경우 -->
                        <th:block th:unless="${store.storeInfo}">
                            <span class="content" name="storeInfo" id="storeId" th:text="|가게 정보 준비중 입니다.|"></span>
                        </th:block> <!-- 상세 정보로 넘어감 -->
                    </div>

                </div>

            </section>
    
    
            <!-- 예약 인원, 날짜 section -->
            <section class="reservation-body-review-container">
    
                <!-- 예약하기 / 상세정보 / 리뷰 -->
                <div class="nav-div">
                    <nav>
                        <ul class="nav-list">
                            <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation'" class="reserv-info">
                                <li class="nav-item">예약하기</li>
                            </a>
                            
                            <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation/detail'" class="reserv-info">
                                <li class="nav-item">상세정보</li>
                            </a>

                            <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation/reservPageReview'"  class="reserv-info">
                                <li class="nav-item">
                                    리뷰 <span class="review-count" name="reviewCount" id="reviewCount" th:text="${#lists.size(reviewList)}" >20</span> <!-- count로 리뷰 댓글 수 조회 예정 -->
                                </li>
                            </a> 
                        </ul>
                    </nav>
    
                </div>

                <!-- 리뷰 영역 -->
                <div id="reviewListContainer">
                    <div class="storereview-container" th:if="${reviewList}">
                        
                      <th:block th:unless= "${!#lists.isEmpty(reviewList)}">
                            <div class="review-empty">
                                <h2>작성된 리뷰가 없습니다.</h2>
                            </div>
                      </th:block>
                      
                        <th:block  th:each=" review : ${reviewList}" th:object="${review}">
                            <div class="review">
                                
                                <div class="storereview-top">
          
                                    <div class="storereview-top-left">
                                        <img class="review-member-profile"
                                          th:src="*{profileImg}">
                                        <div class="review-info">
                                            <span th:text="*{memberNickname}">닉네임</span>
    
                                            <div class="review-memberScore">
                                                <span th:switch="*{reviewRating}">
                                                  <span th:case="1">
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                  </span>
                                                  <span th:case="2">
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                  </span>
                                                  <span th:case="3">
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                  </span>
                                                  <span th:case="4">
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="empty_star  fas fa-star"></i>
                                                  </span>
                                                  <span th:case="5">
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                      <i class="rating__star fas fa-star"></i>
                                                  </span>
                                                </span>
                                              <span th:text="|*{reviewRating} 점|"> 점수</span>
                                            </div>
          
                                        </div>
                                    </div>
          
                                    <div class="storereview-top-right">
    
                                        <div class="review-date">
                                          <span th:text="*{reviewRegDate}">2024-05-17</span>
                                        </div>
                                    </div>
          
                                </div>
          
                              
                                <div class="storereview-mid">
                                  <p th:text="*{reviewContent}">리뷰 내용</p>
                                </div>
          
                                <th:block>
                                    <div class="storereview-bottom">
                                      
                                        <th:block th:if="${!#lists.isEmpty(uploadList)}">
                                          <p th:if="*{uploadList}">주문 내역</p>
                                        </th:block>
      
                                        <div class="storereview-image" th:if="*{uploadList}">
                                          <th:block th:each=" upload : *{uploadList}">
                                              <img class="review-look" th:src="|${upload.imagePath}${upload.imgRename}|">
                                          </th:block>
                                        </div>
      
                                      <p>해시태그</p>
                                        <div class="review-hashtag">
          
                                          <th:block th:each=" hash : *{hashList}">
                                              <span th:text="|${hash.hashTitle} |" class="review-hash">#해시태그</span>
                                          </th:block>
                                        </div>
                                    </div>
                               </th:block>
    
    
                                <!-- replyList가 비어 있지 않을 때 나타날 블록 -->
                                <th:block th:if="${!#lists.isEmpty(review.replyList)}" th:each=" reply : *{replyList}">
                                    <div class="store-reply">
                                        <img class="review-store-profile" th:src="${reply.storeImg}" alt="가게 프로필 이미지">
                
                                        <p class="reply-content-bubble" th:text="${reply.replyConent}">
                                            사장님 답글
                                        </p>
                                    </div>
                                </th:block>
    
                            </div>
                        </th:block>
                      
                    </div>
                
    
                </div>


            </section>
    
    
            <!-- 리뷰 section -->
            <section class="reservation-footer-container">
    
    
            </section>

            <!-- 버튼 section -->
            <section class="button-area">
            
                <div class="buttons" th:if="${!#lists.isEmpty(reviewList)}">
                    <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation'" class="next-btn" id="nextBtn">예약하기 &nbsp;<i
                            class="fa-solid fa-arrow-right"></i></a>
                </div>
            
            </section>
    
        </section>

    </main>

    <!-- footer.html 추가 -->
    <th:block th:replace="~{common/footer}"></th:block> 

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember?.memberNo}]]*/ "로그인회원"

        const storeNo = /*[[${storeNo}]]*/ "사업자등록번호"
        
        document.addEventListener("DOMContentLoaded", () => {
            let targetElement = document.querySelector(".nav-list");

            if (targetElement) {
                const scrollPosition = targetElement.offsetTop;
                window.scrollTo({
                    top: scrollPosition - 150, /* 스크롤 됐을 때 위에서 작성한 위치 만큼 떨어진 위치에서 보여줌 */
                    behavior: 'smooth'
                });
            }
        })
    </script>
    <aside>
        <a href="#bodyTop"><i class="fa-solid fa-angles-up"></i></a>
    
        <a href="/chatting/askChat"><i class="fa-solid fa-headset"></i></a>
    
        <a href="/store/storeSearch"><i class="fa-solid fa-location-dot"></i></a>
    
        <a href="#bodyBottom"><i class="fa-solid fa-angles-down"></i></a>
    </aside>


    <script src="/js/reservation/reservation.js"></script> 
    <!-- <script src="/js/reservation/detail.js"></script>  -->
    
</body>
</html> 