<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약완료</title>
    <th:block th:replace="~{common/common}"></th:block>
    
    <link rel="stylesheet" href="/css/reservation/reservationConfirm.css">
</head>
<body>
    <main>

        <!-- header.html 추가 -->
        <th:block th:replace="~{common/header}"></th:block>
        
        <section class="main-container">
    
            <!-- section 지정 -->
    
            <!-- 아이콘 section -->
            <section class="reservation-header-container">
                
                <div class="confirm-icon">
                    <img src="/images/compliance_10296086.png" alt="확인 아이콘">
                </div>
    
            </section>
    
    
            <!-- 예약 확인 안내 section -->
            <section class="reservation-body-container">

                <div class="confirm-title-contatiner">
                    <h3 class="title">예약을 확인 중입니다</h3>
                </div>

                <div class="confirm-content-contatiner">

                    <div class="content-border">

                        <div class="content">예약이 확정 되면 푸드핀 알림과 문자로 알려드릴게요!</div>
                        <div class="content">내 예약은 마이페이지에서도 찾을 수 있어요
                            <!-- <th:block th:if="${session.loginMember?.memberCode==1}">
                                <a href="/myPage/member/reservation/fix">더보기<i class="fa-solid fa-chevron-down fa-rotate-270"></i></a>
                            </th:block>

                            <th:block th:if="${session.loginMember?.memberCode==2}">
                                <a href="/myPage/store/reservation">더보기<i class="fa-solid fa-chevron-down fa-rotate-270"></i></a>
                            </th:block> -->

                            <!-- <th:block th:if="${session.loginMember?.memberCode==3}">
                                <a href="/myPage/store/reservation">더보기<i class="fa-solid fa-chevron-down fa-rotate-270"></i></a>
                            </th:block> -->
                        </div>

                        <div class="reserv-decision-info">확정까지 평균 10분 이내</div>

                    </div>

                </div>

            </section>
    
    
            <!-- 예약 항목 section -->
            <section class="reservation-footer-container">

               <th:block th:if="${session.loginMember?.memberCode == 1}">
                    <div class="reserv-info-border">
                        <!-- 가게이름 자리에 실제 예약한 가게 이름 예정 --> 
                        <div class="store-name" id="storeName" name="storeName" th:text="${storeName}">가게이름</div>
                        <div class="reserv-date-count" id="reservDate" name="reservDate" th:text="${param.originalReservDate}">5. 23(목) 오후 6:00</div>
                        <div class="reserv-store" id="storeName" name="storeName" th:text="|${storeName} 예약|">가게이름 예약</div>
            
                    </div>
               </th:block>
               
               <th:block th:unless="${session.loginMember?.memberCode == 1}">
                    <div class="reserv-info-border">
                        <!-- 가게이름 자리에 실제 예약한 가게 이름 예정 --> 
                        <div class="store-name" id="storeName" name="storeName">예약할 수 없는 로그인 회원입니다.</div>
                    </div>
               </th:block>

            </section>
    
    
            <!-- 버튼 section -->
            <section class="button-area">
    
                <div class="buttons">
                    <a href="/myPage/member/reservation/wait" class="cancel-btn" >예약 취소</a>
                    <a th:if="${session.loginMember?.memberCode==1}" href="/myPage/member/reservation/fix" class="next-btn" id="nextBtn">내 예약 확인하러 가기</a>
                    <a th:unless="${session.loginMember?.memberCode==1}"href="/" class="next-btn">메인페이지로 이동</a>
                </div>
    
            </section>
        </section>

    </main>

    <th:block th:replace="~{common/footer}"></th:block> 
    
    <script th:inline="javascript">
        const loginMember = /*[[session.loginMember]]*/ "로그인회원정보"
        const storeNo = /*[[${storeNo}]]*/ "사업자등록번호"
    </script>
    
</body>
</html>