<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약정보확인</title>

    <th:block th:replace="~{common/common}"></th:block>
    
    <link rel="stylesheet" href="/css/reservation/reservationCheck.css">
</head>
<body>
    
    <main>

        <!-- header.html 추가 -->
        <th:block th:replace="~{common/header}"></th:block>
        
        <section class="main-container">
    
            <!-- section 지정 -->
    
            <!-- 안내 section -->
            <section class="reservation-header-container">

                <div class="check-container">
                    <div class="check-title">아래 내용이 맞는지 확인해 주세요</div>

                    <div class="checkcard-container">
                        <div class="card-border">
                            <div class="card-inner">
                                <div class="title">예약안내</div>

                                <ul class="card-list">
                                    <li class="card-item">

                                        <div class="item-title">일정</div>

                                        <!-- 회원이 예약한 날짜 출력 -->
                                        <div class="reserv-date-count" id="reservDate" name="reservDate" th:text="|${param.reservDate} ${param.reservTime}|">5.23(목) 06:00</div>

                                    </li>

                                    <li class="card-item">

                                        <div class="item-title">인원</div>

                                        <!-- 회원이 예약한 인원 출력-->
                                        <div class="reserv-date-count" id="reservCount" name="reservCount" th:text="${param.reservCount}">2명</div>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
    
            </section>
            
            
            <!-- 예약 정보 확인 section -->
            <section class="reservation-body-container">

                <div class="check-container">
                    <div class="info">
                        <h3 class="title">예약자 정보</h3>
    
                        <span class="span"> 
                            * 로그인 정보가 기본 예약 정보로 저장됩니다.
                        </span>
                    </div>

                    <div class="reserv-form" name="reservForm">

                        <!-- 예약자 이름 -->
                        <div class="reserv-item">
                            <label for="memberName" class="name">예약자</label>

                            <div class="input-box">
                                <th:block th:if="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="memberName" id="memberName" class="input-name" readonly th:value="${session.loginMember?.memberName}">
                                </th:block>

                                <th:block th:unless="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="memberName" id="memberName" class="input-name" readonly placeholder="현재 로그인 상태로 예약할 수 없습니다.">
                                </th:block>
                            </div>
                        </div>

                        <!-- 예약자 전화번호 -->
                        <div class="reserv-item">
                            <label for="memberTel" class="name">연락처</label>

                                <th:block th:if="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="memberTel" id="memberTel" class="input-name" readonly th:value="${session.loginMember?.memberTel}">
                                </th:block>

                                <th:block th:unless="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="memberName" id="memberName" class="input-name" readonly placeholder="현재 로그인 상태로 예약할 수 없습니다.">
                                </th:block>

                            </div>
                        </div>

                        <!-- 예약자 이메일 -->
                        <div class="reserv-item">
                            <label for="memberEmail" class="name">이메일</label>

                            <div class="input-box">
                                <th:block th:if="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="memberEmail" id="memberEmail " class="input-name" readonly th:value="${session.loginMember?.memberEmail}">
                                </th:block>
                                <th:block th:unless="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="memberName" id="memberName" class="input-name" readonly placeholder="현재 로그인 상태로 예약할 수 없습니다.">
                                </th:block>
                            </div>
                        </div>

                        <!-- 요청사항 -->
                        <div class="reserv-item">
                            <label for="reservRequest" class="name">요청사항</label>

                            <div class="input-box">
                                <th:block th:if="${session.loginMember?.memberCode==1}">
                                    <textarea name="reservRequest" id="reservRequest" placeholder="업체에 요청하실 내용을 작성해 주세요"></textarea>
                                </th:block>

                                <th:block th:unless="${session.loginMember?.memberCode==1}">
                                    <textarea name="reservRequest" id="reservRequest" readonly placeholder="현재 로그인 상태로 예약할 수 없습니다."></textarea>
                                </th:block>
                            </div>
                        </div>
                    </form>

                    <button type="button" class="visitInfoBtn">실제 방문자가 다르다면 정보를 추가해주세요 &nbsp;<i class="fa-solid fa-chevron-down"></i></button>
                    <!-- <button type="button" class="visitInfoBtnUp">방문자 정보 접기<i class="fa-solid fa-chevron-down fa-rotate-180"></i></button> -->

                    <div class="visit-form">
                        <div class="reserv-item">
                            <label for="visitName" class="name">방문자</label>

                            <div class="input-box">
                                <th:block th:if="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="visitName" id="visitName" class="input-name" placeholder="방문자 성함을 작성해 주세요">
                                </th:block>

                                <th:block th:unless="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="visitName" id="visitName" class="input-name" placeholder="현재 로그인 상태로 예약할 수 없습니다." readonly>
                                </th:block>
                            </div>
                        </div>

                        <div class="reserv-item">
                            <label for="visitTel" class="name">연락처</label>

                            <div class="input-box">
                                <th:block th:if="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="visitTel" id="visitTel" class="input-name" placeholder="방문자 연락처를 작성해 주세요('-' 제외)" maxlength="11">
                                </th:block>

                                <th:block th:unless="${session.loginMember?.memberCode==1}">
                                    <input type="text" name="visitTel" id="visitTel" class="input-name" placeholder="현재 로그인 상태로 예약할 수 없습니다." readonly maxlength="11">
                                </th:block>
                            </div>
                        </div>

                    </div>

                </div>
                
            </section>
            
            
            <!-- 예약시 주의 사항 section -->
            <section class="reservation-footer-container">

                <div class="info-border">
                    <h3 class="title">개인정보 수집, 제공 동의</h3>

                    <div class="agree">
                        <h3 class="agree-title">개인정보 수집 동의</h3>

                        <div class="collection-agree">
                            <개인정보 수집 동의>
                            <br>
                            <br>
                            
                            1. 기본수집항목: [필수] 이름, (휴대)전화번호, [선택] 이메일 주소
                            <br>

                            ※ 추가 수집하는 필수항목

                            <br>
                            - 예약자와 실제 방문자가 다른 경우 : 방문자의 이름 및 휴대전화번호 <br>
                            - 배송, 방문 등이 필요한 상품 구매 시 : 주소 <br>
                            - 해외 여행 관련 상품 구매 시 : 여권상 영문명, 여권번호 끝 4자리, 성별, 생년월일, 이메일주소, 카카오톡ID, 동행 아동정보(여권상 영문명, 생년월일, 신장) <br>
                            - 병원을 이용하는 경우: 생년월일 (병원 재진 시 이전 진료기록 조회를 위해 예약자명, 생년월일, 전화번호가 수집될 수 있습니다.) <br>
                            - 자동차 검사소 예약 시 : 차량번호, [선택](사회적약자 수수료 감면 대상인 경우)기초생활대상자, 국가유공자, 한부모가족, 다자녀, 교통사고지원가족, 교통안전의인 중 해당 여부 <br>
                            - 주차장 예약 시: 차량번호 <br> <br>
                            
                            2. 수집 및 이용목적 : 사업자회원과 예약이용자의 원활한 거래 진행, 고객상담, 불만처리 등 민원 처리, 분쟁조정 해결을 위한 기록보존 <br><br>
                            
                            <span class="emphasis">
                                3. 보관기간
                                - 회원탈퇴 시 지체없이 파기
                                - 단, 자동차 검사소 예약시 선택항목은 별도 저장하지 않음
                                - 단, 주차장 예약 시 수집항목은 별도 저장하지 않음
                                - 단, 관련 법령에 의하여 일정 기간 보관이 필요한 경우에는 해당 기간 동안 보관함
                            </span>

                            <br> <br>
                            
                            4. 동의 거부권 등에 대한 고지: 정보주체는 개인정보의 수집 및 이용 동의를 거부할 권리가 있으나, 이 경우 상품 및 서비스 예약이 제한될 수 있습니다. 그 밖의 내용은 네이버 개인정보 처리방침을 따릅니다. <br>

                        </div>

                    </div>

                    <div class="agree">

                        <h3 class="agree-title">개인정보 제공 동의</h3>
                        
                        <div class="offer-agree">
    
                            <개인정보 제공 동의>
    
                            <br><br>
    
                            <span class="emphasis">1. 개인정보를 제공받는 자 : <th:block th:text="${storeName}"></th:block> </span>
    
                            <br><br>
    
                            2. 제공하는 기본 개인정보 항목: [필수] 예약자의 마스킹 처리된 아이디, 이름, (휴대)전화번호, 성별, 연령대, [선택] 예약자의 이메일 주소 <br>
                            ※ 추가 제공하는 필수항목 <br> 
                            - 예약자와 실제 방문자가 다른 경우 : 방문자 이름 및 휴대전화번호 <br>
                            - 배송, 방문 등이 필요한 상품 구매 시 : 주소 <br>
                            - 해외 여행 관련 상품 구매 시 : 여권상 영문명, 여권번호 끝 4자리, 생년월일, 이메일주소, 카카오톡ID, 동행 아동정보(여권상 영문명, 생년월일, 신장) <br>
                            - 병원을 이용하는 경우: 생년월일 (병원 재진 시 이전 진료기록 조회를 위해 예약자명, 생년월일, 전화번호가 수집될 수 있습니다.) <br>
                            - 자동차 검사소 예약 시: 차량번호, [선택](사회적약자 수수료 감면 대상인 경우)기초생활대상자, 국가유공자, 한부모가족, 다자녀, 교통사고지원가족, 교통안전의인 중 해당 여부 <br>
                            - 주차장 예약 시: 차량번호 <br>
    
                            <span class="emphasis">
                                3. 개인정보를 제공받는 자의 이용목적 : 사업자회원과 예약이용자의 원활한 거래 진행, 서비스 분석과 통계에 따른 혜택 및 맞춤 서비스 제공, 민원처리 등 고객상담, 고객관리, 서비스 이용에 따른 설문조사 및 혜택 제공, 분쟁조정을 위한 기록보존
        
                                <br><br>
                                
                                4. 개인정보를 제공받는 자의 개인정보 보유 및 이용기간 : 네이버 회원탈퇴 시 또는 위 개인정보 이용목적 달성 시 까지 이용합니다. (단, 관련 법령에 따른 보관의무가 있는 경우에 그 기간동안 보관)
                            </span>
    
                            <br><br>
    
                            5. 동의 거부권 등에 대한 고지 : 정보주체는 개인정보 제공 동의를 거부할 권리가 있으나, 이 경우 상품 및 서비스 예약이 제한될 수 있습니다.
    
                            <br>
    
                        </div>
                    </div>

                    <div class="check-agree">

                        <input type="checkbox" name="checkAgree" id="checkAgree"> 

                        <!-- 동의 체크 -->
                        <label for="checkAgree" id="checkContent">
                            <i class="fas fa-check"></i><span class="agree-info">예약 서비스 이용을 위한 개인정보 수집 및 제3자 제공 규정을 확인하였으며 이에 동의합니다.</span>
                        </label>
                    </div>

                </div>
                
            </section>
            
            
            <!-- 버튼 section -->
            <section class="button-area">
                
                <div class="buttons">
                    <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation'" class="cancel-btn">이전</a>
                    <a href="#" class="next-btn" id="confirmBtn">예약하기</a>
                </div>
                
            </section>
            
        </section>

    </main>

    <th:block th:replace="~{common/footer}"></th:block> 

    <script src="/js/reservation/reservation.js"></script>

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember}]]*/ "로그인회원"

        const memberCode = /*[[session.loginMember?.memberCode]]*/ "회원코드"
        const storeNo = /*[[${storeNo}]]*/ "사업자등록번호"
    </script>
    
</body>
</html>