<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약하기</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/reservation/detail.css">
</head>
<body>
    <main>

        <!-- header.html 추가 -->
        <th:block th:replace="~{common/header}"></th:block>
        
        <section class="main-container">
    
            <!-- section 지정 -->
    
            <!-- 안내 section -->
            <section class="reservation-header-container" th:object="${store}">
    
                <th:block th:if="*{storeImg}">
                    <img class="store-image" alt="600x300"  th:src="*{storeImg}">
                </th:block>

                <!-- 가게 이미지 없는 경우 -->
                <th:block th:unless="*{storeImg}">
                    <img class="store-image" alt="600x300"  src="/images/reservation/storeDefaultImage.png">
                </th:block>
    
                <div class="header-container">
    
                    <div class="store-name-container">
                        <div class="store" th:text="${store.storeName}">가게이름</div>
                    </div>
                    <!-- <div class="title-container">
                        <i class="fa-regular fa-clock"></i>
                        <h3 class="title">예약 안내</h3>
                    </div>
                    -->
                    
                    <div class="content-container">
                        <i class="fa-solid fa-message"></i>
                        <span class="content" name="storeInfo" id="storeId" th:text="${store.storeInfo}"></span>
                        <!-- <th:block th:text="${store.storeInfo}">가게 정보 어쩌구 저쩌구 </th:block> -->
                    
                        <a class="more" th:href="'/store/storeDetail/' + ${storeNo} + '/reservation/detail'">더보기<i
                                class="fa-solid fa-chevron-down fa-rotate-270"></i></a> <!-- 상세 정보로 넘어감 -->
                    </div>
                </div>
    
    
            </section>
    
    
            <!-- 예약 인원, 날짜 section -->
            <section class="reservation-body-container">
    
                <!-- 예약하기 / 상세정보 / 리뷰 -->
                <div class="nav-div">
                    <nav>
                        <ul class="nav-list">
                            <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation'" class="reserv-info">
                                <li class="nav-item">예약하기</li>
                            </a>
                            
                            <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation/detail'" class="reserv-info">
                                <li class="nav-item">상세정보</li>
                            </a>

                            <a th:href="'/store/storeDetail/' + ${storeNo} + '/reservation/reservPageReview'"  class="reserv-info">
                                <li class="nav-item">
                                    리뷰 <span class="review-count" name="reviewCount" id="reviewCount">20</span> <!-- count로 리뷰 댓글 수 조회 예정 -->
                                </li>
                            </a> 
                        </ul>
                    </nav>
    
                </div>

            </section>
    
    
            <!-- 리뷰 section -->
            <section class="reservation-footer-container">
    
    
            </section>
    
        </section>

    </main>

    <!-- footer.html 추가 -->
    <th:block th:replace="~{common/footer}"></th:block> 

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember?.memberNo}]]*/ "로그인회원"

        const storeNo = /*[[${storeNo}]]*/ "사업자등록번호"
       
    </script>


    <script src="/js/reservation/reservation.js"></script> 
    <!-- <script src="/js/reservation/detail.js"></script>  -->
    
</body>
</html> 