
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
    margin: 0;
  }
  
  main {
    padding: 20px 40px;
    border-radius: 5px;
  }
  

  /* 로고 영역 */


  main .logo-area {
    text-align: center;
    margin-bottom: 30px;
  }

  #loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
 .logo-area>div>a{
  margin: 10px;
}
  
  .logo-area img {
    width: 150px;
  }

  #LogoImage{
    width: 60px;
 }
  
  #logoTitle{
    text-decoration-line: none; /* a태그 밑줄 없애기 */
    font-size: 26px;
    font-weight: bold;
    color: #b92828;
 }
  
  
  .input-box {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
  }
  
  .input-box input {
    border: 0;
    border-bottom: 2px solid #b1ab9a ;
    display: block;
    width: 100%;
    padding: 15px 0;
    padding-left: 10px;
    font-size: 18px;
  }
  
  .input-box input:focus {
    outline: 0;
    border-bottom-color: #b1ab9a ;
  }
  
  .login-btn {
    cursor: pointer;
    display: inline-block;
    width: 300px;
    background: #dddddd;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: 0;
    border-radius: 15px;
    margin: 15px 50px 15px 60px;
    background-color: #b92828;
  }
  
  .login-btn:focus {
    outline: 0;
  }
  
  .login-btn:active {
    transform: scale(0.98);
  }
  
  
  .saveId-area {
    margin-top: 10px;
    padding: 10px 0;
   
    display: flex;
    align-items: center;
  }
  
  .saveId-area>input {
    display: none;
  }
  
  #saveId+label {
    display: flex;
    cursor: pointer;
  }
  
  #saveId+label>i {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 20px;
    height: 20px;
    border: 2px solid #ffbe0c;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
    font-size: 0.9em;
  }
  
  .saveId-area>input:checked+label>i {
    background-color: #ffbe0c;
    color: white !important;
  }
  
  .saveId-area>input:checked+label>i:focus-visible {
    outline: max(2px, 0.1em) dotted white;
    outline-offset: max(2px, 0.1em);
  }


  .text-area {
    margin-top: 10px;
    text-align: center;
  }
  
  .text-area * {
    text-decoration: none;
    color: #919191;
    margin: 0 10px;
    font-size: 0.9em;
    border-bottom: 1px solid #919191;
  }
  