.div{
    overflow: visible;
    border: 1px solid grey;
    
  }

  .title{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .signUp-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;

      
  }

  .required-box{
    display: flex;
    font-size: 0.9em;
  }

  .form-section{
    display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      background-color: #f7f7ea;
      padding: 40px;
      padding-bottom: 60px;
      border-radius: 20px;
  }

    
    #signUpForm{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .form-section > label{
      display: block;
      margin-top: 40px;
      font-size: 18px;
    }
    
    #signUpForm > span{
      display: block;
      height: 20px;
    }
    
    /* 필수 작성 */
    .required:first-child{
      color: rgb(255, 48, 48) !important;
    }
  
    .required:last-child{
      color: black;
      font-size: 15px;
      font-weight: bold;
      padding: 0 5px;
    }
    
    /* input 태그를 감싸고 있는 div 태그 */
    .signUp-input-area{
      width: 500px;
      height: 40px;
      margin-bottom: 5px;
      border-bottom: 1px solid var(--main-color);
      display: flex;
      align-items: center;
    }
    
    .signUp-input-area > input{
      width: 70%;
      height: 100%;
    
      padding : 15px 10px 5px;
      margin: 20px 0;
      font-size: 15px;
      font-weight: lighter;
    
      border : none;
      outline: none;
      background-color: transparent;
    }
  
    .signUp-input-area > #openHour{
      width: 150px;
    }
    
    .signUp-input-area > #closeHour{
      width: 150px;
    }
   
    .signUp-input-area > button{
      width: 30%;
      height: 70%;
      background-color: white;
      border: 1px solid #E14C54;
      cursor: pointer;
      border-radius: 10px;
    }
    .signUp-input-area > button:hover{
      background-color: #E14C54;
      border: 1px solid #E14C54;
      color: white;
    }
    
    /* :focus-within : 내부 input 요소에 포커스가 맞춰졌을 때 */
    .signUp-input-area:focus-within{
      border-bottom-color: #DF8B4E;
    }
    
    
    /* 입력 관련 메세지 */
    .signUp-message{
      font-size: 13px;
      letter-spacing: -1px;
    }
    
    /* 메세지 색상 지정 */
    .confirm{ color : green; }
    .error{ color : red; }
    
    
    /* 회원가입 버튼 */
    #signUpBtn{
      margin: 0 auto;
      width: 400px;
      height: 45px;
      padding: 10px;
      margin-bottom: 150px;
      border: none;
    
      font-size: 20px;
      font-weight: bold;
      border-collapse: 10px;
  
      border: 1px solid #2B3151;
      background-color: #2B3151;
      color : white;
      cursor: pointer;
      border-radius: 20px;
    }
    #signUpBtn:hover{
  
      border: 1px solid #2B3151;
      background-color: white;
      color : #2B3151;
    }
    
    #signUpBtn:active{
      transform: scale(0.95);
    }
    
  
  
  
    
  
  
  
  
   