<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정보 정정 신청</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/myPage/myPage-style.css">
    <link rel="stylesheet" href="/css/myPage/manager-myPage.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <div class="myPage-container">
            <th:block th:replace="~{myPage/manager/managerSide}"></th:block>

            <hr>

            <section class="content-container">
                <div class="myPage-title-container">
                    <section class="myPage-title">정보 정정 신청</section>

                    <th:block th:if="${#lists.isEmpty(infoRequest)}">
                        <div class="emptyList">신고 내역이 없습니다</div>
                    </th:block>
                    
                    <section class="reportInfo-container">
                    <th:block th:unless="${#lists.isEmpty(infoRequest)}">
                        <div class="requestList" th:each="request : ${infoRequest}">
                            <div class="request" th:object="${request}">
                                <span class="request-category" th:text="*{requestCategoryTitle}"></span>
                                <span class="request-date" th:text="*{requestDate}"></span>
                                <div class="request-content" th:text="*{requestContent}"></div>
                                <div class="requestMember" th:text="|신고자 : *{memberName}|"></div>
                                <div class="requestStoreName" th:text="|가게명 : *{storeName}|"></div>
                            </div>
                            <span>
                                <button class="completeBtn" th:data-request-no="${request.requestNo}">처리완료</button>
                            </span>
                        </div>
                    </th:block>

                        
                    </section>

                </div>
            </section>

        </div>
    </main>

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember}]]*/ "로그인 회원 정보";
    </script>

        <th:block th:replace="~{common/footer}"></th:block>

        <script src="/js/main.js"></script>
        <script src="/js/myPage/managerMyPage.js"></script>
    
</body>
</html>