<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 신고</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/myPage/myPage-style.css">
    <link rel="stylesheet" href="/css/myPage/manager-myPage.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <div class="myPage-container">
            <th:block th:replace="~{myPage/manager/managerSide}"></th:block>

            <hr>

            <section class="content-container">
                <div class="myPage-title-container">
                    <section class="myPage-title">리뷰 신고</section>

                    <section class="myPage-sub-title">
                        <button class="sub-title-btn" id="reportBtn">신고리뷰</button>
                        <button class="sub-title-btn" id="completeReportBtn">처리완료</button>
                    </section>

                    <!-- 신고 들어온 리뷰 -->
                    <div class="reportReview-container">
                        <th:block th:if="${#lists.isEmpty(reportList)}">
                            <div class="emptyList">신고 내역이 없습니다</div>
                        </th:block>

                        <section class="reportReview-container">
                            <th:block th:unless="${#lists.isEmpty(reportList)}">
                                <span th:text="|총 *{reportCount}건|"></span>
                                <div class="requestList" th:each="report : ${reportList}">
                                    <div class="request" th:object="${report}">
                                        <span class="request-category" th:text="*{storeName}"></span>
                                        <span class="request-date" th:text="*{reportDate}"></span>

                                        <!-- 리뷰 사진 -->
                                        <div class="storereview-image" th:if="*{uploadList}">
                                            <th:block th:each=" upload : *{uploadList}">
                                                <img class="review-look" th:src="|${upload.imagePath}${upload.imgRename}|">
                                            </th:block>
                                        </div>

                                        <div class="request-content" th:text="*{reviewContent}"></div>
                                        <div class="requestMember" th:text="|작성자 : *{memberName}|"></div> <br>
                                        <div class="reporterMember" th:text="|신고자 : *{reporterName}|"></div>
                                        <div class="report-content" th:text="|신고사유 : *{reportContent}|"></div>
                                        <span class="requestStoreName" th:text="|가게명 : *{storeName} |"></span> |
                                        <span class="requestStoreTel" th:text="|가게번호 : *{storeTel}|"></span>
                                    </div>
                                    <span>
                                        <button class="completeBtn deleteReview " th:data-report-no="${report.reportNo}">삭제처리</button>
                                        <button class="completeBtn notReport" th:data-report-no="${report.reportNo}">불충분</button>
                                    </span>
                                </div>
                            </th:block>
                        </section>
                    </div>
                    <!-- 처리 완료 리뷰 -->
                    <div class="completeReport-container">
                        <th:block th:if="${#lists.isEmpty(completeReportList)}">
                            <div class="emptyList">처리 내역이 없습니다</div>
                        </th:block>

                        <section class="reportReview-container">
                            <th:block th:unless="${#lists.isEmpty(completeReportList)}">
                                <span th:text="|총 *{completeReportCount}건|"></span>
                                <div class="requestList" th:each="report : ${completeReportList}">
                                    <div class="request" th:object="${report}">
                                        <span class="request-category" th:text="*{storeName}"></span>
                                        <span class="request-date" th:text="*{reportDate}"></span>

                                        <!-- 리뷰 사진 -->
                                        <div class="storereview-image" th:if="*{uploadList}">
                                            <th:block th:each=" upload : *{uploadList}">
                                                <img class="review-look" th:src="|${upload.imagePath}${upload.imgRename}|">
                                            </th:block>
                                        </div>

                                        <div class="request-content" th:text="*{reviewContent}"></div>
                                        <div class="requestMember" th:text="|작성자 : *{memberName}|"></div> <br>
                                        <div class="reporterMember" th:text="|신고자 : *{reporterName}|"></div>
                                        <div class="report-content" th:text="|신고사유 : *{reportContent}|"></div>
                                        <span class="requestStoreName" th:text="|가게명 : *{storeName} |"></span> |
                                        <span class="requestStoreTel" th:text="|가게번호 : *{storeTel}|"></span>
                                    </div>
                                </div>
                            </th:block>
                        </section>
                    </div>

                </div>
            </section>
        </div>
    </main>

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember}]]*/ "로그인 회원 정보";
    </script>

        <th:block th:replace="~{common/footer}"></th:block>

        <script src="/js/main.js"></script>
        <script src="/js/myPage/manager/report.js"></script>
    
</body>
</html>