<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 입점 내역</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/myPage/myPage-style.css">
    <link rel="stylesheet" href="/css/myPage/manager-myPage.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <div class="myPage-container">
            <th:block th:replace="~{myPage/manager/managerSide}"></th:block>

            <hr>

            <section class="content-container">
                <div class="myPage-title-container">
                    <section class="myPage-title">가게 입점 내역</section>


                </div>

                <table class="enrollTable">
                    <thead>
                        <tr>
                            <th>신청인</th>
                            <th>가게 상호명</th>
                            <th>신청일</th>
                            <th>관리</th>
                        </tr>

                    </thead>
                    <tbody>
                        <th:block th:if="${#lists.isEmpty(storeMember)}">
                            <tr>
                                <th colspan="4">입점 내역이 존재하지 않습니다</th>
                            </tr>
                        </th:block> 

                        <th:block th:unless="${#lists.isEmpty(storeMember)}">
                            <tr th:each="member : ${storeMember}">
                                <td th:text="*{member.memberName}">김사장</td>
                                <td th:text="*{member.storeName}">대박고깃집</td>
                                <td th:text="*{member.enrollDate}">24.05.22</td>
                                <td>
                                    <button class="approval" data-memberNo="*{member.memberNo}">승인</button>
                                    <button class="refuse" data-memberNo="*{member.memberNo}">거절</button>
                                </td>
                            </tr>

                        </th:block>
                    </tbody>

                </table>

                <div id="popup" class="popup">
                    <div class="popup-content">
                        <span class="close-popup">&times;</span>
                        <h2>대박고깃집</h2>
                        <div class="ceoName">대표자 : 김박사</div>
                        <div class="ceoTel">대표자 전화번호 : 01045678945</div>
                        <div class="storeName">가게 상호명 : 대박고깃집</div>
                        <div class="storeAddress">가게 주소 : 서울시 어디구 어디동 12-24번지</div>
                        <div class="storeTel">가게 전화번호 : 02-212-4567</div>
                        <div class="businessLicense">
                            <span>사업자 등록증</span>
                            <img src="https://lh6.googleusercontent.com/proxy/P1Rz1-8eiMLjaeO88MnTqffrpy0nkWAoPxw2J2wUxyJapiRQ93n5FAb23zzLBDLnBYniOlHF3I9QsmDj7dRg99cXIpdzKSMs5CSp5lQeMJaoauR_tARZSfP-fXZdI9Y3FPPMJ-9-kqKHpZc8EoW7GHnMgrjDPHZ6xc6sV5U6zjMFU_X22D0vr4YT8XiWU9gfv79C2Pk20frlX9cMP8DyKQ">
                        </div>
                        <div class="popupBtn-container">
                            <button class="approvalBtn popupBtn">승인</button>
                            <button class="refuseBtn popupBtn">거절</button>
                        </div>
                    </div>
                </div>

            </section>


        </div>
    </main>

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember}]]*/ "로그인 회원 정보";
    </script>

        <th:block th:replace="~{common/footer}"></th:block>

        <script src="/js/main.js"></script>
        <script src="/js/myPage/managerMyPage.js"></script>
    
</body>
</html>