<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 문의</title>
    <link rel="stylesheet" href="/css/chatting/ask-chatting-style.css">

    <th:block th:replace="~{common/common}"></th:block>

</head>
<body>

    <main th:data-chattingNo="${chattingNo}" id="main">
        <th:block th:replace="~{common/header}">header.html</th:block>

        <div class="chatting-container">
            


            <!-- 채팅 영역-->

                <div class="chatting-area">
                    <ul class="display-chatting">
                        <th:block th:each="msg : ${messageList}" th:if="${msg.chattingNo} == ${chattingNo}" th:object="${msg}">
                        <li  class="target-chat" th:if="${msg.memberNo} != ${session.loginMember.memberNo}">
                            <img th:src="${msg.profileImg}">
                            <div>
                                <b th:text="${msg.memberNickname}"></b><br>
                                <p class="chat" th:text="*{messageContent}"></p>
                                <span class="chatDate" th:text="*{sendTime}">14:01</span>
                            </div>
                        </li>
                        <li class="my-chat" th:if="${msg.memberNo} == ${session.loginMember.memberNo}">
                            <span class="chatDate" th:text="*{sendTime}">14:01</span>
                            <p class="chat" th:text="*{messageContent}"></p>
                        </li>
    
                    </th:block>
                       
                    </ul>



                    <!-- 채팅 입력 부분 -->
                    <div class="input-area">
                        <textarea id="inputChatting" rows="1"></textarea>
                        <button id="send">전송</button>
                    </div>
                </div>
        </div>

        
    </main>


    <th:block th:replace="~{common/footer}"></th:block>


    <!-- https://github.com/sockjs/sockjs-client -->
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script th:inline="javascript">
		const userDefaultImage = /*[[#{user.default.image}]]*/ '기본 이미지';

        const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/ '로그인 멤버 번호';

        const profileImg = /*[[${profileImg}]]*/ '관리자이미지';
        const memberNickname = /*[[${memberNickname}]]*/ '관리자이름';
    </script>


    <script src="/js/chatting/askChat.js"></script>

</body>
</html>