<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅</title>
</head>
<body>
    <!-- 채팅 영역-->

    <div class="chatting-area">
        <ul class="display-chatting">
            <!-- <li class="my-chat">
                <span class="chatDate">14:01</span>
                <p class="chat">안녕하세요?</p>
            </li>
            
            <li class="target-chat">
                <img src="/images/user.png">
                
                <div>
                    <b>상대방</b>	<br>
                    <p class="chat">
안녕하세요?? 반갑습니다.
ㅎㅎㅎㅎㅎ
                    </p>
                    <span class="chatDate">14:05</span>
                </div>
            </li>-->
           
        </ul>



        <!-- 채팅 입력 부분 -->
        <div class="input-area">
            <textarea id="inputChatting" rows="3"></textarea>
            <button id="send">전송</button>
        </div>
    </div>
</body>
</html>