<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅 페이지</title>
    <link rel="stylesheet" href="/css/chatting/chatting-style.css">

    <th:block th:replace="~{common/common}"></th:block>

</head>
<body>
    <main>
        <th:block th:replace="~{common/header}">header.html</th:block>

        <div class="chatting-container">
            
            <div class="room-list-container">
                <div class="search-chat-container">
                    <i id="searchBtn" class="fa-solid fa-magnifying-glass"></i>
                    <input th:if="${session.loginMember.memberCode==1}" type="text" name="inputSearch" id="inputSearch" placeholder="가게 이름">
                    <input th:if="${session.loginMember.memberCode==2}" type="text" name="inputSearch" id="inputSearch" placeholder="회원 닉네임">
                    <input th:if="${session.loginMember.memberCode==3}" type="text" name="inputSearch" id="inputSearch" placeholder="가게 이름/회원 닉네임">
                </div>
                
                <!-- 채팅방 리스트 -->  
                <ul class="room-list">

                    <th:block th:each="room : ${roomList}">

					<!-- th:chat-no : li 태그에 임의의 속성 chat-no를 추가하는데
						타임리프를 이용해 출력된 값을 chat-no 속성 값으로 대입 -->
					<li class="chatting-item" th:chat-no="${room.chattingNo}" th:target-no="${room.targetNo}">
						<div class="item-header">

							<img th:if="${room.targetProfile}" class="list-profile" th:src="${room.targetProfile}">

							<img th:unless="${room.targetProfile}" class="list-profile" th:src="#{user.default.image}">

						</div>
						<div class="item-body">
							<p>
								<span class="target-name" th:text="${room.targetStoreName}">상대방 이름</span>
								<span class="recent-send-time" th:text="${room.sendTime}">메세지 보낸 시간</span>
							</p>
							<div>
								<p class="recent-message" th:text="${room.lastMessage}">메세지 내용</p>

								<p th:if="${room.notReadCount > 0}" class="not-read-count" th:text="${room.notReadCount}"></p>
							</div>
						</div>
					</li>

				</th:block>

                </ul>
            </div>



            <!-- 채팅 영역-->

                <div class="chatting-area">
                    <ul class="display-chatting">
                        <li class="info-message">채팅방을 선택해주세요.</li>
                        <!-- <li class="my-chat">
                            <span class="chatDate">14:01</span>
                            <p class="chat">안녕하세요?</p>
                        </li>
                        
                        <li class="target-chat">
                            <img src="/images/user.png">
                            
                            <div>
                                <b>상대방</b>	<br>
                                <p class="chat">
안녕하세요?? 반갑습니다.
ㅎㅎㅎㅎㅎ
                                </p>
                                <span class="chatDate">14:05</span>
                            </div>
                        </li>-->
                       
                    </ul>



                    <!-- 채팅 입력 부분 -->
                    <div class="input-area">
                        <textarea id="inputChatting" rows="1"></textarea>
                        <button id="send">전송</button>
                    </div>
                </div>
        </div>

        
    </main>

    <script th:inline="javascript">

        const loginMember = /*[[${session.loginMember}]]*/"로그인 회원 정보";
    
        const loginMemberCode = /*[[${session.loginMember?.memberCode}]]*/'로그인멤버코드';
    
    </script>

    <th:block th:replace="~{common/footer}"></th:block>


    <!-- https://github.com/sockjs/sockjs-client -->
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script th:inline="javascript">
		const userDefaultImage = /*[[#{user.default.image}]]*/ '기본 이미지';
        const type = /*[[${session.loginMember?.memberCode}]]*/ '멤버 타입';
        const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/ '로그인 멤버 번호';

        
    </script>


    <script src="/js/chatting/chat.js"></script>

</body>
</html>