:root {
   --main-color : #b1ab9a ;
   --hotpink : #E14C54;
}

.archivo-black-regular {
   font-family: "Archivo Black", sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 
* {
   /* border: 1px solid var(--main-color); */
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Pretendard-Regular';
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column; /* 중심축 방향 세로 */
   align-items: center;    /* 교차축 방향 가운데 정렬 */
   min-height: 100vh;      /* 최소 높이를 화면 비율 100% */
   
}

/* 고정 바 */
aside{
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   width: 40px;
   height: 180px;

   /* 화면에 고정 */
   position: fixed;

   /* 고정되는 위치 설정 */
   right: 30px;
   top:80%;
   transform : translateY(-50%);/* Y축(세로) 위치 조정 */

   background-color: #fff;
   /* 그림자 */
   /* box-shadow: h-offset v-offset blur spread color inset; */
   box-shadow: 0px 0px 5px 0px rgb(148, 148, 148);

   border-radius: 15px;
   overflow: hidden;
  
}

aside >a{

   display: flex;
   width: 40px;
   height: 50px;
   font-size: 20px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: rgb(66, 66, 66);
  

}

.none{
   display: none;
}

#toChatting{
   background-color: #fff;
   border: none;
   cursor: pointer;
   font-size: 14px;
   color: rgb(39, 39, 39);
}


#toChatting:hover{
   border-bottom: 1px solid rgb(66, 66, 66);
}
#myChat{
   color: #363f75;
}

#myChat>.notReadChattingCount{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 3px;
   right: 0px;
   width: 20px;
   height: 20px;
   color: white;
   border-radius: 50%;
   background-color: #e14c54;
   border: 1px solid #e14c54;
   font-size: 12px;
   font-weight: 300;
}


aside p{
   padding: 5px 0;
   font-size: 0.5em;
   font-weight: lighter;
   color: #9c9c9c;
}

aside>a:hover{
   background-color: rgb(148, 148, 148);
   color: #fff;
  
}


main {
   width: 1140px;
   flex-grow: 1;           /* 중심축 방향으로 팽창 */
   min-height: 500px;
}

/* 화면 너비가 1140px이 되기 전에 적용할 css == 1140이하일때 적용 */
@media (max-width: 1140px) {
   main{width: 100vw;}
 
}

/* a태그 스타일 지정 */
a {
   text-decoration: none;
   color : black;
}

@font-face {
   font-family: 'SBAggroB';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Pretendard-Regular';
   src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

#memberProfile{

   border-radius: 50%;

}
/* ------------------ */
/* ***** header ***** */
/* ------------------ */
header {
   height: 130px;
   display: flex;
   flex-direction: column; 

   position: sticky;
   top: 0;
   z-index: 1001;
   background-color: white;
}

.login-area{
   /* width: 450px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.login-area a{
   color: #717171;
   display: flex;
   align-items: center;
}

.login-box{
   display: flex;
   width: 350px;
   height: 25px;
   align-content: center;
   justify-content: flex-end;
}

#memberProfile{
   width: 25px;
   height: 25px;
   object-fit: cover;
}

#nickname{
   font-weight: bold;
}

#logoutBtn{
   width: 80px;
}

.profileArea{
   display: flex;
   align-items: center;
   justify-content: end;
   /* width: 200px; */
}
.profileArea>a{
   display: flex;
   align-items: center;
}


/* 로그인, 회원가입 */
.header-top-menu {
   display: flex;
   align-items: center;
   justify-content: end;
}
/* 알림 아이콘 추가로 로그인/회원가입 위치 조정 */


.header-top-menu a {
   padding: 0 10px;
   z-index: 100
}
/* 로고(사진, 글) */
.home-logo-area {
   width: 100%;
   height: 90px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   margin-bottom: 15px;
}
.home-logo-area > div > a {
   margin: 10px;
}
#homeLogoImage {
   width: 60px;
   margin-right: 10px;
}
#homeLogoTitle {
   font-size: 46px;
   font-weight: bold;
   color: #363f75;
   font-family: 'Archivo Black';
}

.foodpin-logo{
   display: flex;
}

/* ************************************************************************** */

/* 검색 박스 */
.main-search-container{
   height: 340px;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 40px;
   align-items: center;
   overflow: hidden;
}

.swiper-slide img {
   width: 100%;
   object-fit: contain;
   background-size: cover;
   opacity: 0.6;
}

.swiper-slide {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   cursor: pointer;
}


.search-wrap {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1000;
}

.main-category-container{
   display: flex;
   justify-content: center;
  
}

#mainSearch, #searchButton {
   padding: 20px;
   border: none;
   outline: none;
   box-sizing: border-box;
   /* height: 40px; */
}

#mainSearch {
   margin-right: -6px;
   padding-left: 10px;
   height: 58px;
   width: 400px;
}

#mainSearch::placeholder {
   font-size: 15px;
}

#searchButton {
   font-size: 15px;
   cursor: pointer;
   background-color: #F3C186;
}


/* 카테고리 박스 */
.main-category-button{
   width: 1300px;
   display: flex;
   flex-wrap: wrap; /* 요소들이 넘칠 때 가로 줄 바꿈 */
   justify-content: center;
   align-items: center;
}

  
/* 카테고리 버튼 영역 */
.main-category-button button {
   cursor: pointer;
   display: inline-block;
   width: 100px;
   height: 60px;
   background-color: white;
   color: black;
   letter-spacing: 1px;
   z-index: 1;
   border: none;
   position: relative;
   margin: 0 12px;
   transition-duration: 0.2s;
   transition-timing-function: linear;
   transition-delay: 0s;
   transition-property: all;
}

.mainCatBtn:hover {
   background-color: var(--hotpink);
   color: white;
}

/* .mainCatBtn:after {
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   right: 0;
   border-radius: 10px;
   z-index: -1;
   background: white;
   color: black;
} */

.mainCatBtn:hover {
   color: #ffffff;
}

.mainCatBtn:hover:after {
   left: 0;
   width: 100%;
}

.mainCatBtn:active {
   top: 2px;
}

.main-category-list a button {
   font-size: 17px;
   font-weight: bold;
}

/* @keyframes mainCatBtn {
   25% {
     transform: scale(0.9, 1.1);
   }
   50% {
     transform: scale(1.1, 0.9);
   }
   75% {
     transform: scale(0.95, 1.05);
   }
}
 */
/* 메인 가게 사진 영역 */
.main-store-image-container{
   display: flex;
   justify-content: center;

}

.main-store-image-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* height: 500px; */
   width: 100%;
}

#main-store-text{
   margin-left: 50px;
   width: 700px;
   height: 34px;
   display: flex;
   align-items: center;
   font-size: 22px;
}


.store-img{
   width: 25%;
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;    
}

.store-name{
   margin: 20px 0;
}
.main-store-img{
   width: 100%;
   display: flex;
   margin: 30px 0px;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.store-thumbnail{
   display: flex;
   flex-direction: column;
   width: 200px;
   height: 250px;
   border-radius: 5%;
}

.likeCount {
   position: absolute;
   border: 1px solid var(--hotpink);
   border-radius: 15px;
   width: 50px;
   height: 25px;
   text-align: center;
   padding-top: 3px;
   background-color: white;
   top: 8px;
   right: 50px;
   font-size: 15px;
   color: var(--hotpink);
   font-weight: bold;
}

.likeCount i {
   margin-right: 3px;
}

/* ************************************************************************** */

/* ------------------ */
/* ***** footer ***** */
/* ------------------ */
footer {
   width: 100%;
   height: 200px;
   background-color: #a3add342;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

footer > article {
   min-width: 1070px;
}

footer > article > * {
   font-size: 14px;
}

.footer-top {
   margin-bottom: 24px;
}

.footer-spliter{
   display: inline;
   width: 1px;
   margin: 0 5px;
   color: #cecece;
}

.footer-info > span:first-of-type {
   font-weight: bold;
}

.footer-info, .footer-mail, .footer-tel {
   margin-bottom: 10px;
}

.footer-contact {
   display: flex;
   justify-content: space-between;
}

.Copyright {
   font-weight: bold;
}


/* footer span {
   padding: 0 10px;
} */

/* ------------------ */
/* ***  carousel  *** */
/* ------------------ */
.slideshow-container {

   margin-top: 15px;
   height: 300px;
   position: relative;
   margin: auto;
}
.mySlides {
   display: none;
   margin-top: 30px;
 }
.mySlides>img {
   vertical-align: middle;
   object-fit: cover;
   width: 100%;
   height: 310px;
}
/* 이미지 순서 */
.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
   visibility:hidden;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }
 
 /* 효과 */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
/* ------------------ */
/* *****  main  ***** */
/* ------------------ */

/* 레이아웃용 빈 공간 */
.content1 {
   min-width: 1000;
   width: 100%;
   height: 80px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 10px;
}
.content1 >h2{
   min-width: 1000;
}
/* 게시판 영역 */
.content2 {
   display: flex;
   flex-direction: column;
   margin-bottom: 120px;
}
/* 게시판 미리보기 */
.card-container {
   width: 100%;
   border: 1px solid #b1ab9a;
   border-radius: 10px;
   margin: 40px auto;
   padding: 16px;
}
.card-container > span {
   font-weight: bold;
   margin-left: 10px;
}

.link{
   position: absolute;
   top: 0; left: 0; right: 0; bottom:0;
   z-index: 2;
   width: 100%;
}

.card-container i {
   margin-left: 5px;
}
.card-row {
   display: flex;
   justify-content: space-around;
   margin: 10px;
   padding-bottom: 20px;
}
.card{
   max-width: 270px;
   width: 100%;
   height: 240px;
   flex: 1 1 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   margin : 10px 0;
}

.card>img{
   width: 190px;
   min-width: 190px;
   max-width: 190px;

   height: 210px;
   min-height: 210px;
   max-height: 210px;
   object-fit: cover;
   margin: 5px 30px;
   border-radius: 5px;
}
.card > img:hover{
   transform: scale(1.02);
   transition: 0.3s;
}

/* 게시글 제목 */
.card-title {
   width: 250px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   padding: 0 15%;
   text-align: center;
}


/* -----  알림 화면 -----  */

header>section:nth-child(3) {
   position: relative;
}

.notification-area{
   display: flex;
   justify-content: center;
   align-items: self-end;
   flex-direction: column;
   /* width: 250px; */
}

/* 로그인X 인 경우 아이콘 안보일 때 위치 조정을 위한 임시 네모 */
.temp{
   width: 40px;
   height: 40px;
}

#myNotification{
   color:#363f75;
}

.notification-bell-btn{
   font-size: 25px;
   /* position: absolute; */
   border: none;
   background-color: rgba(255, 255, 255, 0);
   cursor: pointer;
   width: 40px;
   height: 40px;
   cursor: pointer;
}

.action, .notification-bell-btn:hover{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #ecececc2;
   transition: opacity 0.5s
}
.chat-btn{
   font-size: 25px;
   /* position: absolute; */
   border: none;
   background-color: rgba(255, 255, 255, 0);
   cursor: pointer;
   width: 40px;
   height: 40px;
   cursor: pointer;
}

.action, .chat-btn:hover{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #ecececc2;
   transition: opacity 0.5s
}

.notification-bell-btn.fa-solid{
   color: rgb(255, 187, 0);
   /* text-shadow: 1px 1px 3px gray, 2px 2px 5px black; */
}

.box-content{
   display: flex;
   flex-direction: column;
   width: 400px;
   height: 600px;
   border: 1px solid #cecece;
   border-radius: 10px;
   background-color: #f7f7f7;
   z-index: 1000;
   top: 55px;
   position: absolute;
   display: none;
}

/* 알림창 보이게 하기 */
.notification-show {
   display: block;
}

.notification-header{
   display: flex;
   align-items: center;
   justify-content: start;
   padding: 10px 30px;
   border-bottom: 1px solid #aaaaaa;
   background-color: white;
   border-radius: 10px 10px 0 0;
   height: 50px;
}

.notification-header>.title {
   font-size: 20px;
   font-weight: bold;
}

.pre-notification>.title {
   font-size: 20px;
   font-weight: bold;
}
.calendar-container>.title {
   font-size: 20px;
   font-weight: bold;
   margin-left: 5px;
}

.notification-view{
   display: flex;
   flex-direction: column;
   padding: 10px 15px;
}

.pre-notification>.title{
   padding: 5px 15px;
}

.all-notification{
   z-index: 2500;
   width: 400px;
}

.all-list{
   display: flex;
   margin: 10px 5px;
   list-style: none;
}

.category{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   border-radius: 50px;
   cursor: pointer;
   padding: 15px;
   margin-left: 5px;
   /* font-weight: bold; */
   color: #a0a0a0;
   border: 1px solid #ebebeb;
   background-color: white;
}

/* .category:hover{
   color: #717171;
   border: 1px solid #717171;
   cursor: pointer;
} */
.click{
   color: #e14c54;
   border: 1px solid #e14c54;
   background-color:  #ffedef4b;
}

.notification-list{
   /* display: flex; */
   height: 400px;
   position: absolute;
   list-style: none;
   z-index: 2000;
   position: relative;
   top: 20px;
   overflow: auto;
}

/* 안 읽은 알림 */
.not-read {
   background-color: #efefdb;
   border-radius: 10px;
   color: black;
   /* font-weight: bold; */
   padding: 15px;
   border-radius: 10px;
   margin-bottom: 10px;
}
.not-read>.fa-circle-xmark{
   cursor: pointer;
   font-size: 20px;
   display: flex;
   /* position: absolute;
   right: -210px; */
}

.notification-item{
   display: flex;
}
.notification-text{
   display: flex;
    /* justify-content: center; */
   flex-direction: column;
}

.border{
   display: flex;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   /* position: relative;
   top: 100px;
   overflow: auto; */
}

.notification-content-container{
   /* height: 100px; */
   padding: 15px;
   background-color: white;
   border-radius: 10px;
   margin-bottom: 10px;
   cursor: pointer;
}

.reservation-info{
   display: flex;
   align-items: center;
   /* justify-content: center; */
   height: 30px;
}

.notification-content-container>.reservation-info>.notification-date{
   color: #717171;
}


.image{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-right: 10px;
}

.notification-date{
   margin-left: 10px;
   font-size: 14px;
   color: black;
}

.notification-store{
   font-size: 18px;
   font-weight: bold;
   color: #717171;
}

.notification-content{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #717171;
}

.notification-content-container>.notification-content>.notification-message{
   color: #717171;
}

.notification-message{
  font-size: 15px;
  padding: 15px 0;
  color: black;
  width: 300px;
}

.fa-circle-xmark{
   cursor: pointer;
   font-size: 20px;
   display: flex;
   position: absolute;
   right: 30px;
}

#chat{
   cursor: pointer;
}

.fa-circle-xmark:hover{
   color: red;  
   user-select: none;
   /* background-color: white; */
}

.notification-bell-btn>.notReadCount {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 3px;
   right: 40px;

   width: 20px;
   height: 20px;
   color: white;

   border-radius: 50%;
   background-color: #e14c54;
   border: 1px solid #e14c54;
   font-size: 12px;
   font-weight: 300;
}