/* .map_wrap {position:relative;width:100%;height:350px;} */
:root {
   --main-color : rgb(204, 204, 204);
   
   /* --hover-color : #e9ae2f; */
}
* {
   
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Pretendard-Regular';
}

body{
    overflow: hidden;
    height: 100vh;
    user-select: none;
}

.store-search{
   display: flex;

}
.map_wrap{

 
}

.storesearch-container{
   flex: 1 1 auto;
}

.search-sidebarbox{

   transform: translateX(0%);
   position: absolute;
   z-index: 200;
   height: 100%;min-width: 390px;
   background-color: white;
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
               5px 0px 15px 0px rgba(0, 0, 0, 0.1);
   /* 그림자 효과 */

}

.map_wrap{
  
}

#map{
   
   
    user-select: none;
  
    width: 100%;
    height: 100vh;
   
}

.store-search{
   display: flex;
   flex-direction: row;
   
}

/* storeHeader */


.storeSearch-header{
   width:63px; 
   background-color: white; 
   border-right: 1px solid var(--main-color);
   display: flex;
   flex-direction: column;
   z-index: 300;
  
   
}

#searchHeader{

   width: 63px;

}
.search-logobox{
   width: 63px;
   height: 76px;

   display: flex;
   justify-content: center;
   align-items: center;

   border-bottom: 1px solid var(--main-color);
  
}
#searchLogo{
   width: 41px;
   height: 41px;
 
}

/* *************************************************************** */
/* nav bar */

.search-navbar{
   width: 63px;
}

.search-navbar li{
   list-style: none;
   /* height: 66px; */
}
.search-navbar li::before{
   list-style: none;
   /* height: 66px; */
}

.navbar-button{
   cursor: pointer;
   padding: 13px 0px;
   text-align: center;
   background-color: white;
   color: black;
   border: none;
   width: 62px;
   height: 50px;/* 나중에 이미지 가져오고 바꾸기 */

}

.navbar-button:hover{
   color: white;
   background-color: rgb(76, 76, 76);
   
}

.navbar-button::before{
  /* 나중에 여기에 이미지 추가 */
   
}

.navbar-button span{
   display: block;
   min-height: 13px;
   margin-top: 3px;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: -0.44px;
}


.sidebar-menu{
   display: flex;
   height: 100%;
   position: relative;
   justify-content: center;

}

.search-container{
   position:absolute;
   z-index: 100;
   width: 340px;
   padding: 15px 25px;
  
}

.search-container .search-wrap{
   position: relative;
}

.search-container .search-box{

   position: relative;
   z-index: 110;
   height: 46px;
   border-radius: 5px;
   border: 2px solid var(--main-color);

}

#searchButton{
   border: none;
   background-color: white;
   cursor: pointer;
   margin-left: 10px;
}

.fa-magnifying-glass{
   font-size: 20px;
   color: rgb(107, 107, 107);
}

.input-box{
   position: relative;
   border: 0px;
   height: 42px;
   width: 250px;
   font-size: 16px;
   outline: none;

}