:root{
    --main-color : rgb(204, 204, 204);
   
    --hover-color : #b1ab9a;
    --point-color : #ffbe0c;
    --submit-color : #b92828;
 }


/* 가게 section 1 칸 */
.store-detail{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

/* section 1 내용 가운데 배치 */
.storedetail-all{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.storedetail-box >*{
    margin: 10px 0px;
}
/* 회색 테두리 */
.store-container{ 
    border: 1px solid var(--main-color);
    border-radius: 15px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 가게 대표 이미지 */
.storedetail-thumbnail {
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    border-radius: 5px;
    margin-top: 70px;
}

.storedetail-thumbnailbox{
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/********** 가게 내용 1 ************/

.storedetail-box{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.storedetail-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}



.storedetail-mid{
    margin: 30px 0px 50px 0px;
}

.storedetail-mid >*{
    margin: 5px 0px;
}


/* 식당 이름 */
#storeName{
    font-size: 28px;
    font-weight: bold;
    color: rgb(43, 38, 38);
}

/* 북마크바 check시 색 변환 */
#bookmarkCheck{
    cursor: pointer;
    background-color: white;
    color: black;
}
  


/* 해당 가게 위치 검색된 상세 페이지로 이동하는 지도 버튼 */
#storedetailmapbutton{
  cursor: pointer;
  width: 50px;
  
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: white;
  color: rgb(46, 41, 41);
}
/* 예약 버튼 공간 */
.storedetail-reservationbuttonbox{
    margin: 50px 0px;
}

/* 예약 버튼 */
#storereservationbutton{
    cursor: pointer;
    border: 1px solid var(--main-color);
    width: 400px;
    height: 45px;
    font-size: 18px;
    background-color: white;
    color: rgb(46, 41, 41);
}

#storereservationbutton:hover{
    background-color: white;
    color: #4ed231;
    border: 1px solid #4ed231;
}

/********** 가게 내용 1 ************/


/* ************************************************** */

/* 지도 컨테이너 */
.store-map{
    height: 250px;
    width: 800px;
    border: 1px solid var(--main-color);
    border-radius: 15px;
}



/* 가게 이미지 컨테이너 */
.detail-store-image{
    height: 600px;
}

/* ************************************************** */


/********** 가게 내용 2 ************/

/* 폐점/ 가게 정보 정정 신고 위치 */
.store-reportcontainer{
    display: flex;
    justify-content: end;
    margin: 20px 0px;
    font-size: 15px;
    color: rgb(46, 41, 41);
}
/* ***************************************** */
/* 팝업 영역 */

/* ***************************************** */
#storeReport{
    cursor: pointer;
    border: none;
    background-color: white;
}

/* 영업 시간 / 영업 상태 위치 */
.store-statuscontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.store-opentime{

flex-direction: column;
display: flex;

}
.store-statuscontainer span{
    font-size: 20px;
    font-weight: bold;
    color: rgb(46, 41, 41);
    margin: 5px 0px;

}

#storeStatusText{
 color: rgb(26, 180, 232);
}

.store-today{
    margin-bottom: 50px;
    font-weight: bold;
    color: rgb(46, 41, 41);
}

.storedetail-opencontainer{
    border-bottom: 1px solid var(--main-color);
}


/* 메뉴 컨테이너 */

.storedetail-menucontainer >*{
    margin: 15px 0px;
}

.storedetail-menucontainer{
  border-bottom: 1px solid var(--main-color);
}

#menuInfoTitle{
    font-size: 20px;
    font-weight: bold;
    color: rgb(46, 41, 41);
    margin: 10px 0px;

}
.storedetail-menuimage{
  width: 100px;
  height: 110px;
  border-radius: 5px;
}

.menuimage-container{
    display: flex;
    flex-direction: row;
  
}

.menu-info{
    display: flex;
    flex-direction: column;
    margin: 30px;
    
}

#menuName{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(46, 41, 41);
}

#menuPrice{
    color: rgb(127, 127, 127);
}
.moreMenuImageBtnBox{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#moreMenuImageBtn{
    cursor: pointer;
    width: 50px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: rgb(46, 41, 41);  
    background-color: white;
}

#moreMenuImageBtn.hidden{
    display: none;
}


/* 해시태그 컨테이너 */
.storedetail-hashtagcontainer{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 50px 0px;
}

.storedetail-hashtagcontainer >*{
    margin: 5px;
}

/********** 가게 내용 2 ************/

/* 식당 사진 컨테이너 */

.storeLookText{

    font-size: 20px;
    font-weight: bold;
    color: rgb(46, 41, 41);
    margin-top: 30px;

}

.detail-images{
    display: flex;
    flex-wrap: wrap;

}
.store-look{
    margin: 8px;
    width: 150px;
    height: 170px;
    border-radius: 5px;
}

/* 식당 사진 더보기 버튼 박스 */
.moreStoreImageBtnBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

/* 사진 더보기 버튼 */
#moreStoreImageBtn{

    cursor: pointer;
    border: 1px solid var(--main-color);
    width: 300px;
    height: 35px;
    font-size: 15px;
    color: rgb(46, 41, 41);
    background-color: white;

}
/* 클릭하면 버튼 사라지도록 */
#moreStoreImageBtn.hidden{
    display: none;
}

.review-title{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--main-color);

    display: flex;
    align-items: center;
}

.reiview-avgScore{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    padding: 27px 0;
}

.review-member-profile{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.storereview-top{
    padding: 20px 0;
    border-bottom: 1px solid var(--main-color);
    display: flex;
    justify-content: space-between;
}

.storereview-top-left{
    display: flex;
    align-items: center;
}

.review-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.review-info:first-child{
    font-size: 22px;
    font-weight: bold;
}



.storereview-top-right{
    display: flex;
    font-size: 0.8em;
    flex-direction: column;
}

.storereview-top-right > a {
    margin-bottom: 10px;
}


.storereview-mid{
    width: 100%;
    max-width: 300px;
    padding: 20px;
}

.storereview-bottom{
    margin-bottom: 15px;
}

.storereview-bottom > p{
    width: 100px;
    height: 20px;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius:24px;
    margin: 10px 0;
}

.store-reply{
    border-top: 1px solid var(--main-color);
    display: flex;
}


.review-store-profile{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 20px;
}

.reply-content-bubble {
    position:relative;
    margin-top: 23px;
    margin-left: 10px;
    padding: 20px;
    max-width: 480px;
    background:#666;
    color: #fff;
    border-radius: 10px;
}

.reply-content-bubble:after {
    border-top:15px solid #666;
    border-left: 16px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:17px;
    left:-15px;
}

.review-more-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border-top: 1px solid var(--main-color);
}

.review-more-button > button{
    cursor: pointer;
    border: 1px solid var(--main-color);
    width: 300px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(46, 41, 41);
    background-color: white;
}

