/* .map_wrap {position:relative;width:100%;height:350px;} */
:root {
   --main-color : rgb(204, 204, 204);
   
   /* --hover-color : #e9ae2f; */
}
* {
   
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Pretendard-Regular';
}

body{
    overflow: hidden;
    height: 100vh;
    user-select: none;
}

.store-search{
   display: flex;

}


.storesearch-container{
   flex: 1 1 auto;
}

.search-sidebarbox{

   transform: translateX(0%);
   position: absolute;
   z-index: 200;
   height: 100vh;
   min-width: 390px;
   background-color: white;
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
               5px 0px 15px 0px rgba(0, 0, 0, 0.1);
   /* 그림자 효과 */

}

.map_wrap{
  
}

#map{
   
   
    user-select: none;
  
    width: 100%;
    height: 100vh;
   
}

.store-search{
   display: flex;
   flex-direction: row;
   
}

/* storeHeader */


.storeSearch-header{
 
   background-color: white; 
   position: relative;
   border-right: 1px solid var(--main-color);
   display: flex;
   flex-direction: column;
   z-index: 300;
  
   
}

#searchHeader{

   width: 5%;
   height: 100vh;

}
.search-logobox{
   width: 63px;
   height: 10%;
   min-height: 81px;
   display: flex;
   justify-content: center;
   align-items: center;

   /* border-bottom: 1px solid var(--main-color); */
  
}
#searchLogo{
  width: 41px;
  height: 41px;
 
}

/* *************************************************************** */
/* nav bar */

.search-navbar{
   
   width: 63px;
   height: 90%;
   align-items: center;
   justify-content: space-between;
   display: flex;
   flex-direction: column;
}

.search-navbar ul{
 border-top: 1px solid var(--main-color);
}

.search-navbar li{
   list-style: none;
  
}

.first-nav-li{
   width: 63px;
   color: rgb(68, 68, 68);
}

.navbar-button{
   justify-content: center;
   display: flex;
   flex-direction: column;
   cursor: pointer;
   align-items: center;
   padding: 13px 0px;
   text-align: center;
   background-color: white;
   color: #363f75;
   border: none;
   width: 63px;
   height: 60px;

}

.first-nav-li .navbar-button:hover {
   color: #363f75;
  /*  background-color:#d1dd68; */
   background-color:#EFEFCB;
   
}

.first-nav-li .navbar-button:focus{
   background-color:#363f75;
   color: #EFEFCB;
}
#mapHome{
   background-color: #363f75;                     
   color: #EFEFCB;
}

#mapHome::before{

  font-family:FontAwesome;
  content:"\f3c5";
  font-size: 15px;
  
}


#remS::before{
   font-family:FontAwesome;
  content:"\f005";
  font-size: 15px;
  
}

#resS::before{
   font-family:FontAwesome;
  content:"\f543";
  font-size: 15px;

}

#chatS::before{
   font-family:FontAwesome;
  content:"\f075";
  font-size: 15px;
  
}


.navbar-button span{
   display: block;
   min-height: 13px;
   margin-top: 3px;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: -0.44px;
}

i{
   font-size: 20px;
   color: #363f75;
}



#memberProfile{

   width: 25px;
   height: 25px;
}
   





.sidebar-menu{
   display: flex;  
   position: relative;   
   flex-direction: column;
   height: 100%;
   min-width: 390px;
    max-width: 390px;

}

.search-container{
   
   z-index: 100;
   padding: 15px 25px;
   height: 10%;
   min-height: 75px;
   
}

.search-container .search-wrap{
   position: relative;
   border-radius: 20px;
}



.search-container .search-box{

   position: relative;
   z-index: 110;
   width: 340px;
   border-radius: 20px;
   background-color: rgba(200, 200, 200, 0.2);

}

.search-panelContent{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 90%;
   transform: translate(0%);
  
}

#searchButton{
   border: none;
   background-color: white;
   cursor: pointer;
   margin-left: 15px;
   background-color: rgba(200, 200, 200, 0);
}

.fa-magnifying-glass{
   font-size: 20px;
   color: rgb(48, 48, 48);
 
  
}

.input-box{
   position: relative;
   border: 0px;
   height: 46px;
   width: 250px;
   padding: 10px;
   font-size: 16px;
   background-color: rgba(200, 200, 200, 0);
   outline: none;

}



.search-box:hover{
   background-color: rgba(200, 200, 200, 0.3);
   
   transition-duration: 0.5s;

}

.blind{
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25px;
   height: 49px;

}
.blind > i{
   font-size: 14px;
   color: var(--main-color);
}
.show{
   border: none;
   display: none;
   align-items: center;
   justify-content: center;
   width: 25px;
   height: 49px;

}
.show > i{

   font-size: 14px;
   color: var(--main-color);
}

/* sidebar 접기 버튼 */
#hideSideBar {
  
   cursor: pointer;
   position: absolute;
   top: 50%;
   left: 453px;
   transform: translateY(-50%);
   z-index: 200;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1px;
   line-height: 1px;
   background-color: white;
   width: 25px;
   height: 49px;
   border: none;
   border-top: 1px solid var(--main-color);
   border-bottom: 1px solid var(--main-color);
   border-right: 1px solid var(--main-color);
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
 
}

/* 사이드바 내부 카테고리 */
.search-categoryContaier{
   display: flex;
   flex-direction: column;
   padding: 20px;
   border-bottom: 1px dotted var(--main-color);
  

}

.search-categoryContaier-hide{
   display: flex;
    justify-content: flex-end;
}
.searchcategory-Btnbox{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
  
}

.searchcategory-Btnbox > button{
   margin: 5px;
   cursor: pointer;
   width: 70px;
   height: 25px;
   border-radius: 15px;
   font-size: 10px;
   border: 1px solid var(--main-color);

}

/* 카테고리 박스 더보기 */

.bars{
  display: none;
}
.fa-bars{
   cursor: pointer;
   color: var(--main-color);
   
}
.short-bar{
   display: flex;
}
.fa-minus{
   cursor: pointer;
   color: var(--main-color);

   
}

/* 가게 상세 내용 창  */
.search-panelContent{
   display: flex;
   flex-direction: column;
   width: 390px;
   height: 75%;
   align-items: center;
   padding: 0 20px;
   justify-content: center;

}

.searchstore-detailcontainer::-webkit-scrollbar {
   display: none;
}

.searchstore-detailcontainer{
   width: 390px;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 새로고침 버튼 */

.rotate-container{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 370px;
   height: 30px;
   padding-right: 10px;
   margin: 10px;
}
.fa-arrow-rotate-left{
 cursor: pointer;
 font-size: 22px;
 color: var(--main-color);
 
}

/* 가게 조회 순서 */
.storelist-typeBtnbox{
   height: 30px;
   margin: 0px 20px 10px 10px;
}

.storelist-typeBtnbox > button{
   cursor: pointer;
   border: none;
   background-color: white;
   font-size: 13px;
   margin-right: 10px;
   
}

/* 가게 사진 */
#searchStoreImg{
   width: 350px;
   height: 200px;
   border-radius: 5px;
}

/* 가게 리스트 순서 */
.search-storelist-type{
 display: flex;
 flex-direction: column;
 width: 370px;
}

.storelist-typecontainer{
   display: flex;
    justify-content: space-between;
    padding: 10px;
}

.storesearch-heartcontainer{
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
  border: 1px solid var(--main-color);
  border-radius: 50%; 
  height: 40px;
  width: 40px;
}

.fa-heart{
   
   font-size: 20px;
   background-color: white;
   color: rgb(252, 57, 57); 
 /*  color: #E14C54; */
}
