:root{
    --main-color : rgb(204, 204, 204);
   
 }

body{
 overflow-x: hidden;
}
/* 고정 바 */
aside{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 180px;

    /* 화면에 고정 */
    position: fixed;

    /* 고정되는 위치 설정 */
    right: 30px;
    top:80%;
    transform : translateY(-50%);/* Y축(세로) 위치 조정 */

    background-color: #fff;
    /* 그림자 */
    /* box-shadow: h-offset v-offset blur spread color inset; */
    box-shadow: 0px 0px 5px 0px rgb(148, 148, 148);

    border-radius: 15px;
    overflow: hidden;
   
}

aside >a{

    display: flex;
    width: 40px;
    height: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(66, 66, 66);
   

}


aside p{
    padding: 5px 0;
    font-size: 0.5em;
    font-weight: lighter;
    color: #9c9c9c;
}

aside>a:hover{
    background-color: rgb(148, 148, 148);
    color: #fff;
   
}



@media screen and (max-width:960px) {
    /* 화면 너비가 0~1500px 사이일때 적용할 CSS 코드 */

    /* 1500px 이하일때 사이드 메뉴를 보이지 않게 함 */
    aside{
        display: none;
    }
}

/* 가게 section 1 칸 */
.store-detail{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

/* section 1 내용 가운데 배치 */
.storedetail-all{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.storedetail-box >*{
   margin: 8px 0px;
}
/* 회색 테두리 */
    .store-container{ 
    border: 1px solid var(--main-color);
    border-radius: 15px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 가게 대표 이미지 */
.storedetail-thumbnail {
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    border-radius: 5px;
    margin-top: 70px;
}

.storedetail-thumbnailbox{
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/********** 가게 내용 1 ************/

.storedetail-box{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.storedetail-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.storedetail-mid{
    margin: 20px 0px 50px 0px;
}

.storedetail-mid >*{
    margin: 10px 0px;
}


/* 식당 이름 */
#storeName{
    font-size: 28px;
    font-weight: bold;
    color: rgb(43, 38, 38);
}


.fa-heart{
   
    font-size: 20px;
    background-color: white;
    color: rgb(252, 57, 57); 
}

#bookmarkCheck{
 cursor: pointer;
}


#storeLikeCount{
  font-size: 14px;
  color: #6e6e6e;
}
  
/* 평균 별점 */
.storedetail-row >*{

    margin-bottom: 5px;
  
    
    
}

.store-avgScore{

 
    position: relative;
   
    
}
.background-star{
    position: absolute;
    overflow: hidden;
    width: 107px;
    color: var(--main-color);
    
}


.realAvg-star  {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 107px;
    color: #ff2a00;

}

#totalScoreR{
    width: 25px;
    position: absolute;
    right: 513px;
    top: 574px;
    z-index: 1000;
  
}



.detailstoreloc-content{
    display: flex;
    flex-direction: column;
    width: 450px;
}


.storelocbox-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.storelocbox-two{
    
    display: none;
}


.detailLoc{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: rgb(66, 66, 66);
}

.detailLocHide{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.detailLocHide > *{
    margin-bottom: 5px;
}

.detailLoc-m{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;

}

.detailLoc-m > *{
  margin-right: 5px;
}

.storeloc-detail{
    border-radius: 2px;
    color: var(--main-color);
    font-size: 13px;
    border: 1px solid var(--main-color);
    padding: 1px;
    letter-spacing: 1px;
    text-align: center;
}
.more-address{

    display: flex;
    color: var(--main-color);
    margin-left: 10px;
    cursor: pointer;
  
   
}
.less-address{

    display: none;
     margin-left: 10px;
     cursor: pointer;
    color: var(--main-color);
}


/* 리뷰로 이동 */
#showReview{
   
    cursor: pointer;
    font-size: 14px;
    color: rgb(120, 120, 120);
}

/* 주소 */
#detailLoc::before{

    font-family:FontAwesome;
    content:"\f3c5";
    font-size: 15px;
    margin-right: 5px;
    color: var(--main-color);
}

#memberTel::before{

    font-family:FontAwesome;
    content:"\f095";
    font-size: 15px;
    margin-right: 5px;
    color: var(--main-color);
}

#storeCat::before{

    font-family:FontAwesome;
    content:"\f02c";
    font-size: 15px;
    margin-right: 5px;
    color: var(--main-color);
}
/* 문의하기 */

#toChatting::before{
    font-family:FontAwesome;
    content:"\f4ad";
    font-size: 15px;
    margin-right: 5px;
    color: var(--main-color);
}
#toChatting{

    font-size: 14px;
    color: rgb(39, 39, 39);
}



/* 해당 가게 위치 검색된 상세 페이지로 이동하는 지도 버튼 */
#storedetailmapbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 45px;
    height: 19px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: white;
    color: rgb(120, 120, 120);
}

#storedetailmapbutton:hover{
display: flex;
align-items: center;
justify-content: center;
 transform: scale(1.1);
 background-color: white;
 color: rgb(120, 120, 120);
 transition: 0.3s;
}

/* 가게 상세 설명 */
.store-detail-content{
 width: 500px;
 display: inline-table;
 border: 1px solid var(--main-color);
 border-radius: 15px;
 padding: 10px;
}

.store-detail-text{
width: 100%;
text-overflow: ellipsis;
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;

white-space: pre-wrap;
-webkit-line-clamp: 3;
color: rgb(66, 66, 66);

}



.more-text{
    
    cursor: pointer;
    width: 490px;
    height: 30px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 10px;
    color: var(--main-color);
    shape-outside: inset(calc(100% - 10px) 0 0 0);
   
}
.less-text{
     cursor: pointer;
    display: none;
    height: 30px;
    margin-top: 10px;
    color: var(--main-color);
}



/* 예약 버튼 공간 */
.storedetail-reservationbuttonbox{
    margin-bottom: 60px;
}

/* 예약 버튼 */
#storereservationbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--main-color);
    width: 400px;
    height: 45px;
    font-size: 18px;
    background-color: white;
    color: rgb(46, 41, 41);
}

#storereservationbutton:hover{
    background-color: white;
    color: #4ed231;
    border: 1px solid #4ed231;
}

/********** 가게 내용 1 ************/



/* ************************************************** */

/* 지도 컨테이너 */

#detailMap{
    display: flex;
    height: 250px;
    width: 800px;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    user-select: none;
}



/* 가게 이미지 컨테이너 */
.detail-store-image{
    height: 600px;
}

/* ************************************************** */


/********** 가게 내용 2 ************/

/* 폐점/ 가게 정보 정정 신고 위치 */
.store-reportcontainer{
    display: flex;
    justify-content: end;
    margin: 20px 0px;
   
}
/* ***************************************** */
/* 팝업 영역 */

.popup-storereport{
    display: none !important;
}

#popupShut:hover{
    color: #ff002b;
}


#storeReportForm {
   
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2001;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.popupbox{
    width: 480px;
    height: 390px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    position: relative;
    
}

.popupbox button{
    cursor: pointer;
    border: none;
    margin-top: 10px;
    font-size: 14px;
    background-color: white;

}

.store-report-text >*{
    margin-bottom: 20px;
}
.popupbox span {
  color: grey;
  font-size: 14px;
  
}

.store-report-info{
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid var(--main-color);
}

#storeReportWarn{
    margin-top: 10px;
}
#popupShut {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    padding-top: 4px; /* x 중앙에 위치 */
    top: 25px;
    right: 25px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;


    width: 30px;
    height: 30px;
    color: #393939;
    border-radius: 7px;
}


#reportStoreContent{
    resize:none;
    height: 130px;
    width: 100%;
    padding: 10px;

    border:1px solid var(--main-color);
    color: #383838;
    font-size: 15px;
}

#reportStoreContent:focus{
    outline: none;
}

.check-store-div{
 flex-wrap: nowrap;
 text-align: left;
}
.check-store-div >*{
    
}

.check-store-div label {
    
  cursor: pointer;
}

#requestStoreCheckLi{
 font-size: 14px;
}

/* ***************************************** */
#storeReport{
    cursor: pointer;
    border: none;
    font-size: 15px;
    color: rgb(46, 41, 41);
    background-color: white;
}


/* 영업 시간, 영업 상태 표시 */
.store-statusbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

li{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: rgb(65, 65, 65);
}

hr{
  border: 0px;
  height: 1px; /* hr은 height 속성으로 두께 지정 */
  background-color:var(--main-color); 
  margin: 14px 0;
}


#storeStatusText{
    color: rgb(26, 180, 232);
}

/* *********************************** */

.store-date{
   
    display: flex;
    flex-direction: column;
    width: 500px;
  
}

.store-statuscontainer{
    display: flex;
    flex-direction: column;
    color:rgb(46, 41, 41); 
    margin-bottom: 15px;
    overflow: hidden;
    
}

/* 가게 영업 시간 더보기 */

.busi-hours-short{
    display: none;
}

.more-schedule-info-box{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 15px;
}


#moreScheduleInfoBtn{
    cursor: pointer;
    width: 50px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: rgb(46, 41, 41);  
    background-color: white; 
}

#shutScheduleInfoBtn{
    cursor: pointer;
    width: 50px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: rgb(46, 41, 41);  
    background-color: white; 
    display: none;
}

/* *********************************** */


.date-statusdetail{
    display: flex;
    flex-direction: column;  
    align-items: flex-end;
}

.date-statusdetail span{
    margin-bottom: 10px;
}

.storedetail-opencontainer{
    border-bottom: 1px solid var(--main-color);
}







/* 메뉴 컨테이너 */


.storedetail-menucontainer{
    border-bottom: 1px solid var(--main-color);
    width: 500px;
}

.menu-info-title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(46, 41, 41);
    margin-bottom: 15px;

}
.storedetail-menuimage{
    width: 100px;
    height: 110px;
    border-radius: 5px;
}


.menu{
   display: flex;
   flex-direction: row; 
}

.menu >*{
    margin-top: 10px;
}


.menu-image-container{
    display: flex;
  
}

.menu-info{
    display: flex;
    flex-direction: column;
    margin: 30px;
    
}

#menuName{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(46, 41, 41);
}

#menuPrice{
    color: rgb(127, 127, 127);
}

.menu-info-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuDetail{
  color: #383838;
  font-size: 15px;

}
.moreMenuImageBtnBox{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: end;
}
.moreMenuImageBtnBox >*{
    cursor: pointer;
    width: 50px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: rgb(46, 41, 41);  
    background-color: white; 
}




/* 해시태그 컨테이너 */
.storedetail-hashtagcontainer{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 50px 0px;
}

.storedetail-hashtagcontainer >*{
    margin: 5px;
}

#storeHashT{
    cursor: pointer;
    color: #383838;
}

#storeHashT:hover{

    transition: 0.5s;
    background: linear-gradient(
        307deg, #ff5252 0%, #7700ff 100%
      );
      background: -webkit-linear-gradient(
        307deg, #ff5252 0%, #7700ff 100%
      );
      background: -moz-linear-gradient(
        307deg, #ff5252 0%, #7700ff 100%
      );
      background: -o-linear-gradient(
        307deg, #ff5252 0%, #7700ff 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
   
      clip-path: inset(1px);
}

/********** 가게 내용 2 ************/

/* 식당 사진 컨테이너 */

.storeLookText{

    font-size: 20px;
    font-weight: bold;
    color: rgb(46, 41, 41);
    margin-top: 30px;

}

.detail-images{
    display: flex;
    flex-wrap: wrap;

}
.store-look{
    margin: 8px;
    width: 150px;
    height: 170px;
    border-radius: 5px;
}

/* 식당 사진 더보기 버튼 박스 */
.moreStoreImageBtnBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

/* 사진 더보기 버튼 */
#moreStoreImageBtn{

    cursor: pointer;
    border: 1px solid var(--main-color);
    width: 300px;
    height: 35px;
    font-size: 15px;
    color: rgb(46, 41, 41);
    background-color: white;

}
/* 클릭하면 버튼 사라지도록 */
#shutStoreImageBtn{
    display: none;
    cursor: pointer;
    border: 1px solid var(--main-color);
    width: 300px;
    height: 35px;
    font-size: 15px;
    color: rgb(46, 41, 41);
    background-color: white;
}

.store-container {
    position: relative; 
}
.storereview-container{
    position: relative;
}
/* 리뷰 쓰기 페이지로 가는 a 태그 */
.storereview-container a {
    position: absolute;
    right: -90px;
    z-index: 1000;
    top: 20px;

}


.review-title{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 35px 0;
    padding-top: 40px;
}

.review-avgScore{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    padding: 27px 0;

}

.rating__star{
    color: #ff2a00;
}

.review-member-profile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.storereview-image{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.storereview-top{
    padding: 20px 0;
    padding-top: 10px;
    border-bottom: 1px solid var(--main-color);
    display: flex;
    justify-content: space-between;
}

.storereview-top-left{
    display: flex;
    align-items: center;
}

.review-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


.review-info:first-child{
    font-size: 22px;
    font-weight: bold;
}

.review-memberScore{
    margin-top: 6px;
}

.review-memberScore > span:last-child{
    margin-left: 10px;
}



.storereview-top-right{
    display: flex;
    font-size: 0.8em;
    flex-direction: column;
    justify-content: inherit;
}

.storereview-top-right > button {
    border: none;
    background-color: white;
    cursor: pointer;
    margin-bottom: 10px;
}


.storereview-mid{
    width: 100%;
    overflow: auto;
    padding: 25px;
}

.storereview-bottom{
    padding: 0 25px;
    margin-bottom: 15px;
}

.storereview-bottom > p{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 25px;
    
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius:24px;
    margin: 10px 0;
}

.review-look{
    margin: 8px;
    width: 205px;
    height: 205px;
    border-radius: 5px;
}

.review-hashtag{
    margin: 18px 0;
}

.store-reply{
    padding: 0 25px;
    display: flex;
    margin: 30px 0;
    border-bottom: 3px solid var(--main-color);
}


.review-store-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}

.reply-content-bubble {
    position:relative;
    margin: 20px 0px;
    margin-left: 10px;
    padding: 20px;
    width: 480px;
    background:#666;
    color: #fff;
    border-radius: 10px;
}

.reply-content-bubble:after {
    border-top:15px solid #666;
    border-left: 16px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:17px;
    left:-15px;
}

.review-more-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-more-button > button{
    cursor: pointer;
    border: 1px solid var(--main-color);
    width: 300px;
    height: 35px;
    margin-bottom: 20px;
    font-size: 15px;
    color: rgb(46, 41, 41);
    background-color: white;
}


/* ************ 팝업 ************ */
.popupLayer{
    width: 600px;
    height: 400px;
    border-radius: 15px;
    background-color: #fff;
    position: relative;
}

#p {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 30px 0 ;
    padding-left:30px ;
    color: #393939;
    font-weight: bold;

    font-size: 24px;
    margin: 0;
}

#popupClose {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    padding-top: 4px; /* x 중앙에 위치 */
    top: 25px;
    right: 25px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;

    width: 30px;
    height: 30px;
    color: #393939;
    border-radius: 7px;
}

#popupClose:hover{
    color: red;
}

#reviewReportForm {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1001;
    background-color: rgba(116, 116, 116, 0.8);
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

.popup-hidden{
    display: none !important;
}

.review-reason{
    width: 100%;
    height: 50px;
    padding-left: 60px;
    margin-bottom: 20px;
}

.review-reason > p:first-child{
    font-size: 21px;
    margin-bottom: 8px;
}

.review-reason > p:nth-child(2){
    font-size: 15px;
    color: #797979;
}

.select-report{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin: 10px 0;
}

.select-report > div{
    display: flex;
    align-items: center;
    width: 80%;
    height: 60px;
}

.select-report > div > input{
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.report-button-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.report-button-area > textarea{
    width: 500px;
    height: 140px;
    padding: 10px;
    margin-bottom: 32px;
    border-radius: 10px;
    font-size: 14px;
    resize: none;

}

.report-button-area > textarea:focus{
   outline: none;
}

.report-button-area > button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #393939;
}

.report-button-area > button:hover{
    background-color: #393939;
    color: white;
}

.reviewScore {
    font-size: 20px;
    color: #ff2a00;;
}

.empty_star{
    color: var(--main-color);
}

.review{
    width: 600px;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 35px;
}

.review-container{
    border: 1px solid var(--main-color);
    border-radius: 15px;
    width: 800px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
