:root {
    --main-color: #35c0e7;
}


/* MEMBER INFO */
#infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 40%;
}

.profile-img-area {
    position: relative;
    width: 170px;
    height: 170px;
    left: 90px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

form[name='member-myPageFrm']{
    position: relative;
}

#profileImg {
    height: 100%;
    cursor: pointer;
}

#deleteImage {
    position: absolute;
    top: 0px;
    left: 250px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.memberNoshow {
    position: absolute;
    top: 175x;
    padding: 5px 10px;
    width: 300px;
    text-align: center;
    left: 29px;
}

.updateInfo {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    
    border: none;
    font-size: 20px;
  
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.profile-input-area {
    margin-top: 50px;
    width: 400px;
    height: 150px;
    font-size: 18px;
}

.profile-input-area > div {
    margin: 30px;
}

.profile-input-area > div > label > input{
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

/* MEMBER CHANGE PW */
.member-myPage-row > input[type='password']{
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

.member-myPage-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
}

.member-myPage-row:nth-child(2) {
    margin: 40px 0 0 0 !important;
}

.changePwMessage {
    margin-left: 140px !important;
    color: gray;
    font-size: 13px;
}

.member-myPage-row label {
    flex: 1;
    min-width: 120px;
    text-align: right;
    margin-right: 10px;
}

.member-changePw-submit {
    width: 300px;
    padding: 10px;
    margin: 50px 0;
    border-radius: 10px;
    
    border: none;
    font-size: 20px;
  
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}


/* MEMBER LIKE STYLE */
.myPage-title span {
    color: gray;
    margin-left: 10px;
    font-size: 15px;
}
 
.likeTable {
    margin: 20px;
    width: 400px;
    height: 700px;
}
 
.likeList {
    list-style: none;
    display: flex;
    position: relative;
    align-items: flex-start;
    text-align: left;
    margin: 30px 0;
    flex-direction: column;
}
 
.likeStoreName, .likeStoreAddress {
    display: block;
    flex-grow: 1;
}

.likeStoreName {
    font-weight: bold;
    margin-bottom: 3px;
}

.likeStoreAddress {
    font-size: 17px;
    font-weight: lighter;
}

.like {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 16px;
    color: #35c0e7;
}
 
/* MEMBER REVIEW */
.reviewContainer {
    padding: 0 20px;
    margin-bottom: 30px;
}
 
#totalReview {
    font-weight: bold;
    font-size: 18px;
}
 
.storeName {
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
 
.reviewDate {
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}
 
.review {
    margin: 15px 10px 10px 10px;
}
 
.reviewPhoto {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
 
.reviewPhoto img {
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
}
 
.reviewContent {
    margin-top: 15px;
}
 
.ceo {
    font-weight: bold;
    margin: 20px 0 10px 0;
}
 
.replyDate {
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}
 
.replyContent {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 15px 0 0 10px;
}
 
 
/* MEMBER SECESSION */
.secession-terms{
    width: 500px;
    height: 300px;
}
 
/* 마이페이지 행 단위 스타일 지정 */
.myPage-row{
    width: 500px;
    height: 50px;
    margin: 0 0 30px 0;
    border-bottom: 1px solid rgb(161, 161, 161);
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
 
/* 행 내부 input 태그 */
.myPage-row > input{
    width: 80%;
    height: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
    font-weight: normal;
}
 
/* 제출 버튼 */
.member-secession-submit{
    width: 300px;
    padding: 10px;
    margin: 50px 0;
    border-radius: 10px;
    
    border: none;
    font-size: 20px;
  
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
 
/* form태그 */
form[name='myPageFrm']{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px 20px 20px;
    padding: 20px;
    box-sizing: border-box;
}
 
.agree {
    margin-top: 20px;
}
 
 
/* MEMBER RESERVATION */
 
.reservationTable {
    margin: 20px;
    width: 400px;
    height: 700px;
}
 
.reservationList {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 30px 0;
}
 
.reservationStore {
    float: left;
    flex-grow: 1;
}
 
#cancelReservation {
    font-size: 15px;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    color: white;
    width: 70px;
    height: 30px;
    margin-right: 50px;
    margin-left: auto;
    cursor: pointer;
}
 
.reservationPeople {
    margin-left: 10px;
    cursor: pointer;
}

.sub-title-btn :hover{
    background: grey;
    border: grey;
    color: white;
}