:root {
    --main-color: #35c0e7;
}


/* MEMBER INFO */
#infoContainer {
    display: flex;
    padding-top: 30px;
}

.profile-img-area {
    position: relative;
    width: 170px;
    height: 170px;
    left: 90px;
    /* border: 2px solid black; */
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

form[name='member-myPageFrm']{
    position: relative;
}

#profileImg {
    height: 100%;
    cursor: pointer;
}

#deleteImage {
    position: absolute;
    top: 0px;
    left: 250px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.updateInfo {
    position: relative;
    left: 35px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    
    border: none;
    font-size: 20px;
    margin-top: 30px;
  
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.profile-input-area {
    position: relative;
    right: 65px;
    margin-top: 50px;
    height: 180px;
    font-size: 18px;
}

.profile-input-area > div > input{
    height: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

.member-myPage-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
}

.member-myPage-row label {
    flex: 1;
    min-width: 120px;
    text-align: right;
    margin-right: 10px;
}

.member-myPage-row input {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
}

#memberTel::-webkit-outer-spin-button,
#memberTel::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* MEMBER CHANGE PW */
#changePwContainer {
    position: relative;
    top: 30px;
}

.member-changePw-row > input[type='password']{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

.member-changePw-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
}

.member-changePw-row:nth-child(2) {
    margin: 40px 0 0 0 !important;
}

.changePwMessage {
    margin-left: 140px !important;
    color: gray;
    font-size: 13px;
}

.member-changePw-row label {
    flex: 1;
    min-width: 120px;
    text-align: right;
    margin-right: 10px;
}

.member-changePw-submit {
    position: relative;
    left: 70px;
    width: 300px;
    padding: 10px;
    margin: 50px 0;
    border-radius: 10px;
    
    border: none;
    font-size: 20px;
  
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}


/* MEMBER LIKE STYLE */
.myPage-title span {
    color: gray;
    margin-left: 10px;
    font-size: 15px;
}
 
.likeTable {
    margin: 20px;
    width: 400px;
    height: 700px;
}
 
.likeList {
    list-style: none;
    display: flex;
    position: relative;
    align-items: flex-start;
    text-align: left;
    margin: 30px 0;
    flex-direction: column;
}
 
.likeStoreName, .likeStoreAddress {
    display: block;
    flex-grow: 1;
}

.likeStoreName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
}

.likeStoreAddress {
    font-size: 17px;
    font-weight: lighter;
}

.like {
    margin-right: 50px;
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 16px;
    color: #35c0e7;
}
 
/* MEMBER REVIEW */
.reviewContainer {
    padding: 0 20px;
    margin-bottom: 30px;
}

.reviewScore {
    font-size: 20px;
    color: var(--main-color);
}

.reviewScore[data-rating="0"]::before {
    content: '☆☆☆☆☆';}

.reviewScore[data-rating="1"]::before {
    content: '★☆☆☆☆';}

.reviewScore[data-rating="2"]::before {
    content: '★★☆☆☆';}

.reviewScore[data-rating="3"]::before {
    content: '★★★☆☆';}

.reviewScore[data-rating="4"]::before {
    content: '★★★★☆';}

.reviewScore[data-rating="5"]::before {
    content: '★★★★★';}
 

#totalReview {
    font-weight: bold;
    font-size: 18px;
}
 
.storeName {
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
 
.reviewDate {
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}
 
.review {
    margin: 15px 10px 10px 10px;
}
 
.reviewPhoto {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
 
.reviewPhoto img {
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
}
 
.reviewContent {
    margin-top: 15px;
}
 
.ceo {
    font-weight: bold;
    margin: 20px 0 10px 0;
}
 
.replyDate {
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}
 
.replyContent {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 15px 0 0 10px;
}
 
 
/* MEMBER SECESSION */
.secession-terms{
    width: 500px;
    height: 300px;
}
 
/* 마이페이지 행 단위 스타일 지정 */
.myPage-row{
    width: 500px;
    height: 50px;
    margin: 0 0 30px 0;
    border-bottom: 1px solid rgb(161, 161, 161);
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
 
/* 행 내부 input 태그 */
.myPage-row > input{
    width: 80%;
    height: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
    font-weight: normal;
}
 
/* 제출 버튼 */
.member-secession-submit{
    width: 300px;
    padding: 10px;
    margin: 50px 0;
    border-radius: 10px;
    
    border: none;
    font-size: 20px;
  
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
 
/* form태그 */
form[name='myPageFrm']{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* left: 50px; */
    margin: 0 0 20px 0;
    padding: 20px;
    box-sizing: border-box;
}

label[for='agree']{
    user-select: none;
}
 
.agree {
    margin-top: 30px;
}
 
 
/* MEMBER RESERVATION */

#reservation {
    margin-top: 15px;
}
 
.reservationTable {
    margin: 20px;
    width: 400px;
    height: 700px;
}

.memberNoshow {
    font-size: 14px;
}

.fa-circle-exclamation {
    margin-left: 7px;
    cursor: pointer;
    position: relative;
}

.fa-circle-exclamation:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 위치 조정 */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "qkqhdi";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

 
.reservationList {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 30px 0;
}
 
.reservationStore {
    float: left;
    flex-grow: 1;
}
 
.cancelReservation {
    font-size: 15px;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    color: white;
    width: 70px;
    height: 30px;
    margin-right: 50px;
    margin-left: auto;
    cursor: pointer;
}

.emptyList {
    width: 400px;
    margin-top: 150px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.storeName {
    font-size: 19px;
}
 
.reservationPeople {
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(63, 63, 63);
}

.fa-clock {
    font-size: 17px;
    margin-right: 3px;
}

.reservationTime {
    font-size: 18px;
}

.storeAddress {
    font-size: 18px;
}

.sub-title-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
