/* 전체 컨테이너 */
.myPage-container{
   display: flex;
   flex-direction: row;
}

hr{
   margin-top: 80px;
}

/* 사이드 메뉴 */
.left-side{
   width: 25%;
   margin: 50px 0;

   display: flex;
   justify-content: center;
}

.left-side li{
   list-style: none;
   margin: 50px;
   font-size: 20px;
   text-align: center;
}

.list-group {
   width: 100%;
   list-style: none;
   padding-right: 20px;
}

.list-group li a:hover {
   font-weight: bold;
}


/* 마이페이지 본문 */
.content-container{
   width: 60%;
   padding: 50px;
}

/* 타이틀 영역 */
.myPage-title-container{
   padding: 20px 20px 20px 0px;
}
.myPage-title{
   font-size: 20px;
   font-weight: bold;
   padding: 15px;
}
.myPage-sub-title{
   padding: 10px;
}
.sub-title-btn{
   width: 90px;
   height: 28px;
   margin-right: 20px;
   border-radius: 20px;
   border: 1px solid lightgray;
   background: lightgray;
}

.sub-title-btn:hover {
   cursor: pointer;
   background-color: #f8f8f8;
   font-weight: bold;
}



/* MEMBER LIKE STYLE */
.myPage-title span {
   color: gray;
   margin-left: 10px;
   font-size: 15px;
}

.likeTable {
   margin: 20px;
   width: 400px;
   height: 700px;
}

.likeList {
   list-style: none;
   display: flex;
   align-items: center;
   margin: 30px 0;
}

.likeStore {
   float: left;
   flex-grow: 1;
}

.like {
   font-size: 15px;
   color: #35c0e7;
   margin-right: 50px;
   margin-left: auto;
   margin-top: auto;
   margin-bottom: auto;
}

/* MEMBER REVIEW */
.reviewContainer {
   padding: 0 20px;
   margin-bottom: 30px;
}

#totalReview {
   font-weight: bold;
   font-size: 18px;
}

.storeName {
   font-size: 17px;
   font-weight: bold;
   margin: 20px 0 10px 0;
}

.reviewDate {
   margin-left: 10px;
   font-size: 13px;
   color: gray;
}

.review {
   margin: 15px 10px 10px 10px;
}

.reviewPhoto {
   width: 400px;
   height: 400px;
   overflow: hidden;
   position: relative;
}

.reviewPhoto img {
   width: 100%;
   height: auto;
   position: absolute;
   margin: auto;
}

.reviewContent {
   margin-top: 15px;
}

.ceo {
   font-weight: bold;
   margin: 20px 0 10px 0;
}

.replyDate {
   margin-left: 10px;
   font-size: 13px;
   color: gray;
}

.replyContent {
   border: 1px solid black;
   border-radius: 10px;
   width: 100%;
   height: auto;
   padding: 10px;
   margin: 15px 0 0 10px;
}


/* MEMBER SECESSION */
.secession-terms{
   width: 500px;
   height: 300px;
}

/* 마이페이지 행 단위 스타일 지정 */
.myPage-row{
   width: 500px;
   height: 50px;
   margin: 18px 0 30px 0;
   border-bottom: 1px solid rgb(161, 161, 161);
   display: flex;
   align-items: center;
   font-size: 18px;
   font-weight: bold;
}

/* 행 내부 input 태그 */
.myPage-row > input{
   width: 80%;
   height: 100%;
   margin-left: 10px;
   border: none;
   outline: none;
   font-weight: normal;
}

/* 제출 버튼 */
.myPage-submit{
   width: 300px;
   padding: 10px;
   margin: 50px 0;
   border-radius: 10px;
   
   border: none;
   font-size: 20px;
 
   color: white;
   background-color: rgb(0, 0, 0);
   cursor: pointer;
}

/* form태그 */
form[name='myPageFrm']{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.agree {
   margin-top: 20px;
}


/* MEMBER RESERVATION */

.reservationTable {
   margin: 20px;
   width: 400px;
   height: 700px;
}

.reservationList {
   list-style: none;
   display: flex;
   align-items: center;
   margin: 30px 0;
}

.reservationStore {
   float: left;
   flex-grow: 1;
}

#cancelReservation {
   font-size: 15px;
   margin-right: 50px;
   margin-left: auto;
}

.reservationPeople {
   margin-left: 10px;
}