
/* 사이드 메뉴 */
.left-side{
   width: 20%;
   margin: 50px 0;

   display: flex;
   justify-content: center;
}
/* 마이페이지 본문 */
.content-container{
   /* width: 80%; */
   width: 100%;

   padding: 50px;
}


/* 공용 영역 본문 */
.myPage-content-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 30px;
   margin: 15px;
}
/* -----           ----- */
/* ----- 기본 정보 ----- */
/* -----           ----- */
/* 프로필 수정 폼 */
#storeEditFrm{
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}
.edit-area-row, #storeInfo{
   width: 100%;
   margin: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.input-area-cols{
   display: flex;
   flex-direction: column;
   margin: 5px 0;
}
.input-row{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

/* 가게 이미지 */
.store-img{
   width: 100%;
   height: 150px;
   /* border: 1px solid grey; */
   margin: 40px auto;

}
.store-img > img {
   width: 100%;
   height: 150px;
   object-fit: cover;
   border: 1px solid grey;
}

/* label */
#profileEditFrm label{
   width: 20%;
   font-size: 16px;
}
#storeMaxLabel{
   width: 30%;
}

/* input */
.profile-input-area > input, .align-right > input{ /* ? */
   height: 26px;
   outline: none;
   padding-left: 5px;
}
.edit-area-row input, .input-area-cols input{
   height: 26px;
   outline: none;
   padding-left: 5px;
   margin: 5px;
}
.s-input{
   width: 30%;
}

/* 가게 소개 */
#storeInfo{
   width: 70%;
   margin: 10px;
}

/* 버튼 */
.row-input-area > button{
   width: 20%;
   height: 26px;
   background: lightgray;
   border: 1px solid lightgray;
   border-radius: 10px;
   cursor: pointer;
}
.input-row > button, #storeStatusY, #storeStatusN{
   width: 80px;
   height: 26px;
   background: lightgray;
   border: 1px solid lightgray;
   border-radius: 10px;
   cursor: pointer;
   margin: 0 5px;
   font-size: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#storeInfoEditBtn{
   width: 100px;
   margin: 10px;
   height: 26px;
   background: lightgray;
   border: 1px solid lightgray;
   border-radius: 10px;
   cursor: pointer;
}
#withdraw{
   font-size: 14px;
   color: grey;
   cursor: pointer;
}


/* -----        ----- */
/* ----- 휴무일 ----- */
/* -----       ----- */

/* 휴무일 전체 영역 */
.section-title{
   font-size: 18px;
   padding: 10px;
   font-weight: bold;
}
#off-container, #calendar-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}
.week-row{
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 10px 20px;
   width: 60%;
   flex-wrap: wrap;
}
.week-li{
   width: 20%;
   margin: 10px;
   height: 26px;
   background: lightgray;
   border: 1px solid lightgray;
   border-radius: 15px;
   cursor: pointer;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
}
.checked{
   background: white;
   border: 1px solid lightgray;
}
.week-checked{
   background: rgb(223, 154, 154);
   border: 1px solid lightgray;
}
.update-btn{
   width: 140px;
   margin: 20px;
   height: 26px;
   background: lightgray;
   border: 1px solid lightgray;
   border-radius: 15px;
   cursor: pointer;
}

/* full calendar */
#calendar{
   width: 600px;
   margin-bottom: 20px;
   padding: 15px;

}
/* 월 */
.fc .fc-toolbar-title {
   font-size: 18px;
   margin: 0px;
}

/* 일 */
.fc table {
   font-size: 14px;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
   max-height: 50px;
}
/* 버튼 (today / < / >) */
.fc .fc-button {
font-size: 14px;
}
/* 휴무일일때 배경색 변경 */
.week-off{
   background: lightblue;
}


/* -----           ----- */
/* ----- 예약 관리 ----- */
/* -----          ----- */

/* 서브 타이틀 버튼 */
.content-sub-title{
   padding: 10px;
   margin: 30px 0;
   display: flex;
   justify-content: center;
}

/* 예약 목록 */
#reservListContainer{
   padding: 15px;
}
/* 목록 1행 */
.reserv-card{
   padding: 10px 20px;
   border: 1px solid lightgray;
   border-radius: 20px;
   background: lightgray;
   margin: 15px;
}
.list-title-area{
   margin: 10px 5px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.list-title{
   font-weight: bold;
}
.fa-circle{
   font-size: 5px;
   color: red;
}
.list-content{
   display: flex;
   flex-direction: column;
}
.row{
   display: flex;
   flex-direction: row;
}
.list-content > p{
   margin: 5px;
}
.row > p{
   margin: 5px;
}
.row > p:first-of-type {
   width: 65%;
}
/* 버튼 */
.list-btn-area{
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.list-btn{
   width: 100px;
   height: 22px;
   background: white;
   border: 1px solid white;
   border-radius: 15px;
   cursor: pointer;
   margin: 10px 15px;
}

/* -----           ----- */
/* ----- 리뷰 관리 ----- */
/* -----          ----- */
/* 예약 목록 */
#reviewListContainer{
   padding: 15px;
}
/* 목록 1행 */
.review-card{
   padding: 10px 20px;
   border: 1px solid grey;
   border-radius: 20px;
   /* background: lightgray; */
   margin: 15px;
}
.list-profile-area{
   margin: 10px 5px;
   display: flex;
   flex-direction: row;
   align-items: center;
}
/* 프로필 이미지 */ 
.review-profile-img{
   width: 49px;
   height: 49px;
   border: 1px solid grey;
   border-radius: 25px;
   background: white;
}
.list-profile-area > span{
   margin: 0 20px;
}

/* 리뷰 이미지 */
.img-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 15px 0;
   position: relative;
}
.review-img{
   position: relative;
   width: 25%;
   object-fit: cover;
   padding: 5px;
   border-radius: 15px;
}
.review-img > img{
   object-fit: cover;
   padding: 5px;
   border-radius: 15px;
}
.review-img > div{
   background: black;
   opacity: 0.5;
   width: 25%;
   object-fit: cover;
   padding: 5px;
   border-radius: 15px;
}
.imgs{
   background: black;
   color: white;
   text-align: center;
   width: 25%;
   object-fit: cover;
   padding: 10px;
   border-radius: 15px;
   margin: 5px;
   position: absolute;
   right: 0px;
   opacity: 0.5;
}



/* 내용 */
.review-content{
   padding: 10px;
}
.review-content .fa-solid{
   margin: 20px 10px;
}
/* 사장님 댓글 */
.reply-content-bubble {
   width: 80%;
   position:relative;
   margin-top: 23px;
   margin-left: 10px;
   padding: 20px;
   max-width: 480px;
   background:#666;
   color: #fff;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
}
.reply-content-bubble:after {
   border-top:15px solid #666;
   border-left: 16px solid transparent;
   border-right: 0px solid transparent;
   border-bottom: 0px solid transparent;
   content:"";
   position:absolute;
   top:17px;
   left:-15px;
}
.review-comment{
   width: 80%;
   background-color: #666;
   outline: none;
   border: 1px solid #666;
   height: 26px;
}
#commentBtn{
   width: 60px;
   height: 26px;
   background: white;
   border: 1px solid grey;
   border-radius: 13px;
}


/* 사장님 정보 영역 */
.ceo-info-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}
.ceoInfo-input-area{
   width: 60%;
   margin: 20px;
   display: flex;
   align-items: flex-end;
   justify-content: space-evenly;
}
/* label */
.ceoInfo-input-area label{
   width: 28%;
   font-size: 16px;
}

/* input */
.ceoInfo-input-area > input{
   display: flex;
   align-items: center;
   width: 50%;
   height: 26px;
   padding-left: 5px;
   outline: none;
   border: none;
   border-bottom: 1px solid grey;
   padding-left: 5px;
   font-size: 16px;
}




/* -------------------------------- */

/* 숨김 처리 */
.blind{
   visibility: hidden;
}

/* -------------- */

.popup-container{
   width: 400px;
   height: 400px;
   border: 1px solid gray;
   border-radius: 30px;
   background-color: white;
   position: fixed;
   margin: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   z-index: 10000;
}
.popup-row{
   padding: 10px;
   margin: 10px;
   position: relative;
}
.popup-btn-area{
   display: flex;
   flex-direction: row;
   align-items: center;
}






/* popup layer 숨기기, 보이기 */
.hidden{ display: none !important; }

/* x 버튼 */
#popupClose{
   position: absolute; /* 절대적인 위치 지정(기준 내-row-에서 아무곳이나 배치 가능) */
   top: 4px;
   right: 10px;

   font-size: 15px;
   user-select: none; /* 드래그 방지 */

   cursor: pointer;
}

#popupClose:hover{ color: gray; }

#popupClose:active{ color: red; }



/* -----          ----- */
/* ----- 메뉴 정보 ----- */
/* -----          ----- */

/* 영역 */
#menuEditFrm{
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid gold;
   border-radius: 20px;
   background: lightgoldenrodyellow;
   padding: 50px 20px;
}
#menuRowContainer{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
/* 메뉴 */
.menu_row{
   width: 90%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.menu-img{
   width: 80px;
   height: 80px;
   border: 1px solid grey;
   border-radius: 5px;
}
.menu-img, .menu-row > input{
   margin: 10px;
}
.menu-input-area {
   display: flex;
   width: 80%;
   justify-content: space-evenly;
   align-items: center;
}

/* .menu-row > input{
   width: 100px;
   height: 26px;
   outline: none;
   padding: 5px;
} */
.menuTitle, .menuAmount, .menuContent{
   height: 26px;
   outline: none;
   padding: 5px;
   background: lightgoldenrodyellow;
   border: 1px solid lightgoldenrodyellow;
   border-bottom: 1px solid grey;
}
.menuTitle{
   width: 20%;
}
.amount-area {
   width: 17%;
   display: flex;
   align-items: center;
}
.menuAmount{
   width: 90%;
}
.span-won{
   margin: 0 5px;
   font-size: 14px;
}
.menuContent{
   width: 45%;
}
.fa-circle-plus{
   font-size: 20px;
}
/* 버튼 */
.btn-area{
   display: flex;
   flex-direction: column;
   align-items: center;
}
#addMenuRow, #menuUpdateBtn{
   width: 100px;
   margin: 10px;
   height: 26px;
   background: lightgray;
   border: 1px solid lightgray;
   border-radius: 10px;
   cursor: pointer;
}
