<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FOODPIN</title>

   <!-- templetes/common/common.html  조각 추가 -->
   <th:block th:replace="~{common/common}"></th:block>
   
   <link rel="stylesheet" href="/css/myPage/myPage-style.css">
   <link rel="stylesheet" href="/css/myPage/store-myPage.css">

</head>
<body>

   <main>

   <!-- templetes/common/header.html  조각 추가 -->
   <th:block th:replace="~{common/header}"></th:block>

   <div class="myPage-container">

      <!-- templetes/myPage/store/storeSide.html  조각 추가 -->
      <th:block th:replace="~{myPage/store/storeSide}"></th:block>
      
      <hr>

      <!-- 마이페이지 본문 -->
      <section class="content-container">

         <!-- 타이틀 영역 -->
         <div class="myPage-title-container">
            <section class="myPage-title">사장님 정보 수정</section>
         </div>
         
         <!-- 본문 (기본 정보) -->
         <div class="myPage-content-container">
            
            <!-- 사장님 정보 수정 폼 -->
            <form action="#" method="POST" class="ceo-info-container">

               <div class="ceoInfo-input-area">
                  <label for="memberEmail">이메일</label>
                  <input id="memberEmail" name="memberEmail" value="member05@gmail.com" readonly></input>
               </div>

               <div class="ceoInfo-input-area">
                  <label for="storeTel">전화번호</label>
                  <input id="storeTel" name="storeTel" value="010-8978-1234" readonly></input>
               </div>

               <!-- 기존 비밀번호 -->
               <div class="ceoInfo-input-area">
                  <label for="memberPw">비밀번호</label>
                  <input id="memberPw"  name="memberPw" class="blind">
               </div>

               <!-- 변경 비밀번호 -->
               <div class="ceoInfo-input-area blind">
                  <label for="newPw"> 변경 비밀번호</label>
                  <input id="newPw"  name="newPw">
               </div>

               <!-- 변경 비밀번호 확인 -->
               <div class="ceoInfo-input-area blind">
                  <label for="newPwCheck">변경 비밀번호 확인</label>
                  <input id="newPwCheck" name="newPwCheck">
               </div>
               
               <!-- 수정화면에서만 보이는 폼 제출 버튼 -->
               <button class="update-btn blind" id="updateBtn">수정 완료</button>

            </form>

            <!-- 수정화면 전환 버튼 -->
            <button class="update-btn" id="editBtn">정보 수정</button>

         </div>




         
      </section>
   </div>  
   </main>


   <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <!-- 마이페이지 JS 추가 -->
   <!-- <script src="/js/myPage/store/storeMyPage.js"></script> -->
   <script src="/js/myPage/store/ceoInfo.js"></script>

</body>
</html>