<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FOODPIN</title>

   <!-- templetes/common/common.html  조각 추가 -->
   <th:block th:replace="~{common/common}"></th:block>
   
   <link rel="stylesheet" href="/css/myPage/myPage-style.css">
   <link rel="stylesheet" href="/css/myPage/store-myPage.css">

</head>
<body>

   <main>

   <!-- templetes/common/header.html  조각 추가 -->
   <th:block th:replace="~{common/header}"></th:block>

   <div class="myPage-container">

      <!-- templetes/myPage/store/storeSide.html  조각 추가 -->
      <th:block th:replace="~{myPage/store/storeSide}"></th:block>
      
      <hr>

      <!-- 마이페이지 본문 -->
      <section class="content-container">

         <!-- 타이틀 영역 -->
         <div class="myPage-title-container">
            <section class="myPage-title">사장님 정보 수정</section>

            <!-- 서브 타이틀 버튼 -->
            <section class="content-sub-title">
               <button class="sub-title-btn sub-title-long title-btn-checked" id="ceoInfoEdit">사장님 정보 변경</button>
               <button class="sub-title-btn sub-title-long" id="pwEdit">비밀번호 변경</button>
            </section>
         </div>
         
         <!-- 본문 (기본 정보) -->
         <div class="myPage-content-container">
            
            <!-- 사장님 정보 확인란 -->
            <form action="/myPage/store/ceoInfoUpdate" method="POST" class="ceo-info-container" th:object="${member}">
               <div class="ceoInfo-input-area">
                  <label for="memberEmail">이메일</label>
                  <input id="memberEmail" name="memberEmail" th:value="*{memberEmail}"></input>
               </div>

               <div class="ceoInfo-input-area">
                  <label for="memberTel">전화번호</label>
                  <input id="memberTel" type="number" name="memberTel" th:value="*{memberTel}"></input>
               </div>

               <button class="update-btn" id="updateBtn">정보 수정</button>
            </form>

         </div>




         
      </section>
   </div>  
   </main>

   <script th:inline="javascript">
      const memberNumber = /*[[${session.loginMember.memberNo}]]*/ "회원 번호";
  </script>

   <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <!-- 마이페이지 JS 추가 -->
   <!-- <script src="/js/myPage/store/storeMyPage.js"></script> -->
   <script src="/js/myPage/store/ceoInfo.js"></script>

</body>
</html>