<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FOODPIN</title>

   <!-- templetes/common/common.html  조각 추가 -->
   <th:block th:replace="~{common/common}"></th:block>
   
   <link rel="stylesheet" href="/css/myPage/myPage-style.css">
   <link rel="stylesheet" href="/css/myPage/store-myPage.css">

</head>
<body>

   <main>

   <!-- templetes/common/header.html  조각 추가 -->
   <th:block th:replace="~{common/header}"></th:block>

   <div class="myPage-container">

      <!-- templetes/myPage/store/storeSide.html  조각 추가 -->
      <th:block th:replace="~{myPage/store/storeSide}"></th:block>
      
      <hr>

      <!-- 마이페이지 본문 -->
      <section class="content-container">

         <!-- 타이틀 영역 -->
         <div class="myPage-title-container">
            <section class="myPage-title">예약 정보</section>
         </div>
         
         <!-- 예약 정보 -->
         <div class="myPage-content-container">

            <!-- 예약 현황 -->
            <section class="section-title">예약 현황</section>
            
            <!-- full calander -->
            <div class="calendar-container">
               <div id="calendar"></div>
            </div>

            <!-- 서브 타이틀 버튼 -->
            <section class="content-sub-title">
               <button class="sub-title-btn title-btn-checked" id="reservAll">전체</button>
               <button class="sub-title-btn" id="reservConfirm">확정 예약</button>
               <button class="sub-title-btn" id="reservApply">예약 요청</button>
               <button class="sub-title-btn" id="reservcancel">취소 내역</button>
            </section>

            <!-- 예약 목록 -->
            <div id="reservListContainer">

               <!-- 예약 목록 미존재시 -->
               <div th:if="${#lists.isEmpty(reservList)}" class="reserv-card">
                  <div class="list-content">
                     <div class="row"><p>예약 정보가 존재하지 않습니다.</p></div>
                  </div>
               </div>

               <!-- 예약 목록 존재시 --><!-- 카드 -->
               <section th:unless="${#lists.isEmpty(reservList)}" th:each="reserv : ${reservList}" th:object="${reserv}" class="reserv-card">
                  
                  <div class="list-title-area">
                        <p th:if="*{reservStatusFl == 'Y'}" class="list-title">확정 예약</p>
                        <p th:if="*{reservStatusFl == 'N'}" class="list-title">예약 요청</p>
                        <p th:if="*{reservStatusFl == 'C'}" class="list-title">취소 내역</p>
                        <p class="list-title reserv-no" th:text="*{reservNo}">예약 번호</p>
                  </div>

                  <div class="list-content">
                     <div class="row-time">
                        <p>예약 일시 : 
                           <span class="reserv-date" th:text="*{reservDate}">예약 일자</span>
                           <span class="reserv-time" th:text="*{reservTime}">예약 시간</span>

                           <p>예약 인원 : <span class="reserv-count" th:text="*{reservCount}">예약 인원</span>명</p>
                     </div>

                     <div class="row">
                        <p>예약자명 : <span th:text="*{memberName}">예약자명</span></p>
                        <p>예약자 전화번호 : <span th:text="*{memberTel}">예약자 전화번호</span></p>
                     </div>
                     
                     <p>예약 요청사항 : <span th:text="*{reservRequest}">예약 요청사항</span></p>
                  </div>
                  
                  <!-- 예약 대기인 경우 승인/거부 버튼 생성 -->
                  <div th:if="*{reservStatusFl == 'N'}" class="list-btn-area">
                     <button class="reserv-btn" th:data-reserv-date="|*{reservDate} *{reservTime}|">예약 승인</button>
                     <button class="reserv-reject-btn" th:data-reserv-date="|*{reservDate} *{reservTime}|">예약 거부</button>
                     
                  </div>
               </section>
            </div>
         </div>
         
      </section>
   </div>  
   </main>
   
   <script th:inline="javascript">
      const storeNo = /*[[${storeNo}]]*/ '가게번호';
   </script>

   <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <!-- 풀캘린더 추가 -->
   <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>

   <!-- 마이페이지 JS 추가 -->
   <script src="/js/myPage/store/reservation.js"></script>
</body>
</html>