<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FOODPIN</title>

   <!-- templetes/common/common.html  조각 추가 -->
   <th:block th:replace="~{common/common}"></th:block>
   
   <link rel="stylesheet" href="/css/myPage/myPage-style.css">
   <link rel="stylesheet" href="/css/myPage/store-myPage.css">

      <!-- 풀캘린더 추가 -->
      <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>

      <!-- 마이페이지 JS 추가 -->
      <script src="/js/myPage/store/storeOff.js"></script>
</head>
<body>

   <main>

   <!-- templetes/common/header.html  조각 추가 -->
   <th:block th:replace="~{common/header}"></th:block>

   <div class="myPage-container">

      <!-- templetes/myPage/store/storeSide.html  조각 추가 -->
      <th:block th:replace="~{myPage/store/storeSide}"></th:block>
      
      <hr>

      <!-- 마이페이지 본문 -->
      <section class="content-container">

         <!-- 타이틀 영역 -->
         <div class="myPage-title-container">
            <section class="myPage-title">리뷰 관리</section>

            <!-- 서브타이틀 버튼 -->
            <section class="myPage-sub-title">
               <button class="sub-title-btn" id="reviewAll">전체</button>
               <button class="sub-title-btn" id="Unanswered">미답변</button>
            </section>
         </div>
         
         <!-- 리뷰 관리 -->
         <div class="myPage-content-container">
         
            <!-- 리뷰 목록 -->
            <div id="reviewListContainer">

               <!-- 댓글 작성된 리뷰 -->
               <div class="review-card">

                  <div class="list-profile-area">
                     <img class="review-profile-img" th:unless="${profileImg}" th:src="#{user.default.image}">
                     <span>회원 닉네임</span>
                  </div>

                  <div class="list-content">

                     <!-- 리뷰 이미지 -->
                     <div class="img-container">
                        <img class="big-img" img src="/images/storeDetail/burger.jpg" alt="">
                        
                        <div class="small-img-area">
                           <img class="small-img" src="/images/storeDetail/burger2.jpg">
                           <img class="small-img" src="/images/storeDetail/buger3.jpg" alt="">
                           <img class="small-img" src="/images/storeDetail/burger4.jpg" alt="">
                        </div>
                     </div>

                     <!-- 별점 -->
                     <div class="rating-area">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
   
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <span>3점</span>
                     </div>

                     <div class="review-content">

                        <pre>우
                           와
                              짱
                                 존
                                    맛~~
                        사장님이 맛있고 음식이 친절해요!</pre>
                     
                        <span><i class="fa-solid fa-utensils"></i>맛있는 가게</span>
                        <span><i class="fa-solid fa-location-dot"></i>맛집 골목</span>
                     </div>

                     <p class="reply-content-bubble">
                        <input class="review-comment" type="text">
                        <button id="commentBtn">작성</button>
                    </p>
                     
                  </div>
               </div>

               <!-- 댓글 작성된 리뷰 -->
               <div class="review-card">

                  <div class="list-profile-area">
                     <img class="review-profile-img" th:unless="${profileImg}" th:src="#{user.default.image}">
                     <span>회원 닉네임</span>
                  </div>

                  <div class="list-content">

                     <!-- 리뷰 이미지 -->
                     <div class="img-container">
                        <img class="big-img" img src="/images/storeDetail/burger.jpg" alt="">
                        
                        <div class="small-img-area">
                           <img class="small-img" src="/images/storeDetail/burger2.jpg">
                           <img class="small-img" src="/images/storeDetail/buger3.jpg" alt="">
                           <img class="small-img" src="/images/storeDetail/burger4.jpg" alt="">
                        </div>
                     </div>

                     <!-- 별점 -->
                     <div class="rating-area">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
   
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <span>3점</span>
                     </div>

                     <div class="review-content">

                        <pre>우
                           와
                              짱
                                 존
                                    맛~~
                        사장님이 맛있고 음식이 친절해요!</pre>
                     
                        <span><i class="fa-solid fa-utensils"></i>맛있는 가게</span>
                        <span><i class="fa-solid fa-location-dot"></i>맛집 골목</span>
                     </div>

                     <p class="reply-content-bubble">
                        사장님 답글 댓글 후기 댓글
                    </p>
                     
                  </div>
               </div>

            </div>




         </div>
         
      </section>
   </div>  
   </main>


   <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <!-- 다음 주소 API 추가 -->
   <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
   
   <!-- 풀캘린더 추가 -->
   <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>

   <!-- 마이페이지 JS 추가 -->
   <script src="/js/myPage/storeMyPage.js"></script>
</body>
</html>