<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FOODPIN</title>

   <!-- templetes/common/common.html  조각 추가 -->
   <th:block th:replace="~{common/common}"></th:block>
   
   <link rel="stylesheet" href="/css/myPage/myPage-style.css">
   <link rel="stylesheet" href="/css/myPage/store-myPage.css">

</head>
<body>

   <main>

   <!-- templetes/common/header.html  조각 추가 -->
   <th:block th:replace="~{common/header}"></th:block> 

   <div class="myPage-container">

      <!-- templetes/myPage/store/storeSide.html  조각 추가 -->
      <th:block th:replace="~{myPage/store/storeSide}"></th:block>
      
      <hr>

      <!-- 마이페이지 본문 -->
      <section class="content-container">

         <!-- 타이틀 영역 -->
         <div class="myPage-title-container">
            <section class="myPage-title">가게 정보 수정</section>
   
            <!-- 서브타이틀 버튼 -->
            <section class="myPage-sub-title">
               <button class="sub-title-btn" id="infoBtn">기본 정보</button>
               <button class="sub-title-btn" id="menuBtn">메뉴 정보</button>
               <button class="sub-title-btn" id="dayoffBtn">휴무일</button>
            </section>
         </div>

         <!-- 본문 (기본 정보) -->
         <div class="myPage-content-container">
   
            <!-- 프로필 수정 폼 -->
            <form action="/myPage/store/storeInfoUpdate" id="storeEditFrm" method="POST" th:object="${store}" enctype="multipart/form-data">

               <!-- 가게 이미지 -->
               <div class="store-img">
                  <img th:src="*{storeImg}" alt="">
               </div>
               <input type="file" name="image" id="image" accept="image/*">
               
               <div class="edit-area-row">
                  <label for="storeName">상호명 : </label>
                  <div>
                     <input type="text" name="storeName" id="storeName" th:value="*{storeName}" readonly>
                  </div>
               </div>

               <div class="edit-area-row">
                  <label for="">전화번호 : </label>
                  <div>
                     <input type="text" name="storeTel" id="storeTel" th:value="*{storeTel}" readonly>
                  </div>
               </div>

               <!-- 주소 입력 -->
               <div class="edit-area-row">
                  <label for="storeLocation">가게 주소 :</label>

                  <div class="input-area-cols">
                     <div class="input-row">
                        <input type="text" name="storeLocation" placeholder="우편번호" maxlength="6" id="postcode" th:value="${postcode}" readonly>                       
                        <button type="button" id="searchAddress" readonly>검색</button>
                     </div>
                     
                     <input type="text" name="storeLocation" placeholder="도로명/지번 주소" id="address" th:value="${address}" readonly>
                     <input type="text" name="storeLocation" placeholder="상세 주소" id="detailAddress" th:value="${detailAddress}" readonly>
                  </div>
               </div>

               <!-- 예약 오픈 여부 -->
               <div class="edit-area-row">
                  <label>예약 오픈 여부 : </label>
                  <div class="input-row">

                     <!-- 선택시 허용/미허용으로 변경 -->

                     <!-- 허용 -->
                     <th:block th:if="*{storeStatus == 'Y'}">
                        <input type="checkbox" id="storeStatus" name="storeStatus" checked><label for="storeStatus">신청 허용</label>
                     </th:block>

                     <!-- 미허용 -->
                     <th:block th:if="*{storeStatus == 'N'}">
                        <input type="checkbox" id="storeStatus" name="storeStatus"><label for="storeStatus">신청 미허용</label>
                     </th:block>
                  </div>
               </div>              

               <!-- 예약 정보 -->
               <div class="edit-area-row">
                  <label for="storeMaxNumber" id="storeMaxLabel">예약 가능 : </label>
                  <div class="input-row">
                     <input type="number" name="storeMaxNumber" id="storeMaxNumber" class="s-input" th:value="*{storeMaxNumber}">인</span>
                     <input type="number" name="storeMaxTable" id="storeMaxTable" class="s-input" th:value="*{storeMaxTable}"><span>테이블</span>
                  </div>
               </div>

               <!-- 영업시간 -->
               <div class="edit-area-row">
                  <label for="openHour">영업시간 : </label>
                  <div class="input-row">

                     <div id="openCloseArea">
                        <input type="time" name="openHour" id="openHour" th:value="*{openHour}">
                        <span>~</span>
                        <input type="time" name="closeHour" id="closeHour" th:value="*{closeHour}">
                     </div>

                     <!-- 종일 선택시 각 값 변경 ~> 00:00 00:00 -->
                     <input type="checkbox" id="openClose"><label for="openClose">종일</label>

                  </div>
               </div>

               <!-- 브레이크 타임 -->
               <div class="edit-area-row">
                  <label for="breacktimeStart">브레이크 타임 : </label>
                  <div class="input-row">

                     <div id="breaktimeArea">
                        <input type="time" name="breaktimeStart" id="breaktimeStart" th:value="*{breaktimeStart}">
                        <span>~</span>
                        <input type="time" name="breaktimeEnd" id="breaktimeEnd" th:value="*{breaktimeEnd}">
                     </div>

                     <!-- 없음 선택시 각 값 변경 ~> null -->
                     <input type="checkbox" id="breaktime"><label for="breaktime">없음</label>
                  </div>
               </div>
               
               <!-- 가게 소개 -->
               <textarea name="storeInfo" id="storeInfo" rows="10" th:text="*{storeInfo}"/></textarea>               

               <button id="storeInfoEditBtn">수정</button>

            </form>

            <a id="withdraw">서비스 탈퇴</a>
         </div>


         <!-- 본문 (기본 정보) -->
         <div class="myPage-content-container" id="testArea">
            <!-- 테스트 -->
            <button id="testBtn">일정추가 테스트</button>




         </div>

         
         



      </section>
   </div>  
   </main>

   <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <!-- 다음 주소 API 추가 -->
   <!-- <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> -->
   
   <!-- 풀캘린더 추가 -->
   <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
   
   <!-- 풀캘린더 툴팁 추가 -->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>

   <!-- 마이페이지 JS 추가 -->
   <!-- <script src="/js/myPage/store/storeMyPage.js"></script> -->

   <!-- 마이페이지 JS 추가 -->
   <script src="/js/myPage/store/storeInfo.js"></script>

   <script src="/js/myPage/store/storeOff.js"></script>

</body>
</html>
