<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FOODPIN</title>

   <!-- templetes/common/common.html  조각 추가 -->
   <th:block th:replace="~{common/common}"></th:block>
   
   <link rel="stylesheet" href="/css/myPage/myPage-style.css">
   <link rel="stylesheet" href="/css/myPage/store-myPage.css">

</head>
<body>

   <main>

   <!-- templetes/common/header.html  조각 추가 -->
   <th:block th:replace="~{common/header}"></th:block> 

   <div class="myPage-container">

      <!-- templetes/myPage/store/storeSide.html  조각 추가 -->
      <th:block th:replace="~{myPage/store/storeSide}"></th:block>
      
      <hr>

      <!-- 마이페이지 본문 -->
      <section class="content-container">

         <!-- 타이틀 영역 -->
         <div class="myPage-title-container">
            <section class="myPage-title">가게 정보 수정</section>
   
            <!-- 서브타이틀 버튼 -->
            <section class="myPage-sub-title">
               <button class="sub-title-btn title-btn-checked" id="infoBtn">기본 정보</button>
               <button class="sub-title-btn" id="menuBtn">메뉴 정보</button>
               <button class="sub-title-btn" id="dayoffBtn">휴무일</button>
            </section>
         </div>

         <!-- 본문 (기본 정보) -->
         <div class="myPage-content-container">
   
            <!-- 프로필 수정 폼 -->
            <form action="/myPage/store/storeInfoUpdate" id="storeEditFrm" th:object="${store}" method="POST" enctype="multipart/form-data">

               <!-- 이미지가 없는 경우 -->
                <th:block th:if="*{storeImg == null}">
                  <div class="storeInfo-img-container">
                     <img id="storeImg" class="hidden" alt="">
                     <i class="fa-solid fa-xmark store-img-del hidden"></i>
   
                     <label for="storeImgInput" id="storeImgLabel">
                        <i class="fa-regular fa-image"></i>
                        <i class="fa-solid fa-plus"></i>
                     </label>
   
                     <input name="image" id="storeImgInput" type="file" class="hidden" accept="image/* ">
                  </div>
                </th:block>

               <!-- 이미지가 있는 경우 -->
               <th:block th:unless="*{storeImg == null}">
                  <div class="storeInfo-img-container img-ari">
                     <img id="storeImg" th:src="*{storeImg}">
                     <i class="fa-solid fa-xmark store-img-del"></i>
   
                     <label for="storeImgInput" id="storeImgLabel"  class="hidden">
                        <i class="fa-regular fa-image"></i>
                        <i class="fa-solid fa-plus"></i>
                     </label>
                     <input class="hidden" name="image" id="storeImgInput" type="file" accept="image/*">
                  </div>
               </th:block>


               <!-- 이미지외 내용 -->
               <div class="storeInfo-container">
                  <div class="non-edit-area-row">
                     <label for="storeName">상호명 : </label>
                     <div>
                        <input type="text"id="storeName" th:value="*{storeName}" readonly>
                     </div>
                  </div>
   
                  <div class="non-edit-area-row">
                     <label for="">전화번호 : </label>
                     <div>
                        <input type="text"id="storeTel" th:value="*{storeTel}" readonly>
                     </div>
                  </div>
   
                  <!-- 주소 입력 -->
                  <div class="non-edit-area-row">
                     <label for="storeLocation">가게 주소 :</label>
                     <div>     
                        <input type="text" placeholder="도로명/지번 주소" id="address" th:value="${address}" readonly>
                        <input type="text"placeholder="상세 주소" id="detailAddress" th:value="${detailAddress}" readonly>
                     </div>
                  </div>
   
                  <!-- 예약 오픈 여부 -->
                  <div class="edit-area-row">
                     <label>예약 신청 받는 여부 : </label>
                     <div class="input-row">
                           <button class="store-status-btn" value="Y" type="button">받음</button>
                           <button class="store-status-btn" value="N" type="button">받지 않음</button>
                     </div>
                  </div>              
   
                  <!-- 예약 가능 -->
                  <div class="edit-area-row">
                     <label for="storeMaxNumber" id="labelstoreMax">예약 가능 : </label>
                     <div class="input-row">
                        <input type="number" name="storeMaxNumber" id="storeMaxNumber" class="s-input" th:value="*{storeMaxNumber}"><span>인</span>
                        <input type="number" name="storeMaxTable" id="storeMaxTable" class="s-input" th:value="*{storeMaxTable}"><span>테이블</span>
                     </div>
                  </div>
   
                  <!-- 영업시간 -->
                  <div class="edit-area-row">
                     <label>영업시간 : </label>
                     <div class="input-row">
   
                        <div id="openCloseArea">
                           <input type="time" name="openHour" id="openHour" th:value="*{openHour}">
                           <span>~</span>
                           <input type="time" name="closeHour" id="closeHour" th:value="*{closeHour}">
                        </div>
   
                        <!-- 종일 선택시 각 값 변경 ~> 00:00 00:00 -->
                        <input type="checkbox" id="openClose"><label for="openClose">종일</label>
   
                     </div>
                  </div>
   
                  <!-- 브레이크 타임 -->
                  <div class="edit-area-row">
                     <label>브레이크 타임 : </label>
                     <div class="input-row">
   
                        <div id="breaktimeArea">
                           <input type="time" name="breaktimeStart" id="breaktimeStart" th:value="*{breaktimeStart}">
                           <span>~</span>
                           <input type="time" name="breaktimeEnd" id="breaktimeEnd" th:value="*{breaktimeEnd}">
                        </div>
   
                        <!-- 없음 선택시 각 값 변경 ~> null -->
                        <input type="checkbox" id="breaktime"><label for="breaktime">없음</label>
                     </div>
                  </div>

                  <!-- 카테고리 -->
                  <div class="category-area">
                     <label class="category-label">카테고리</label>
                     <div class="category-row">
                        <th:block th:each="ctg : ${category}">
                           <button class="category-btn" th:text="${ctg.categoryTitle}" th:value="${ctg.categoryCode}" type="button">카테고리명</button>
                        </th:block>
                     </div>
                  </div>
               </div>
               
               <!-- 가게 소개 -->
               <textarea name="storeInfo" id="storeInfo" rows="10" th:text="*{storeInfo}"/></textarea>               

               <button id="storeInfoEditBtn" class="update-btn">수정</button>

               <input type="text" name="imgStatus" value="-1" hidden>
               <input type="text" name="storeStatus" hidden>
               <input type="text" name="categorys" hidden>

            </form>

            <a id="withdraw">서비스 탈퇴</a>

         </div>
        </div>
         
         <script th:inline="javascript">
            const storeNo = /*[[${store.storeNo}]]*/ "가게 번호";
            const menuDefaultImage = /*[[#{menu.default.image}]]*/ "메뉴 기본 이미지";
            const storeStatus = /*[[${store.storeStatus}]]*/ "예약 받는 상태";
        </script>
      
      </section>
   </div>  
   </main>

   <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <!-- 다음 주소 API 추가 -->
   <!-- <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> -->
   
   <!-- 풀캘린더 추가 -->
   <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
   
   <!-- 풀캘린더 툴팁 추가 -->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>

   <!-- 마이페이지 JS 추가 -->
   <!-- <script src="/js/myPage/store/storeMyPage.js"></script> -->

   <!-- 마이페이지 JS 추가 -->
   <script src="/js/myPage/store/storeInfo.js"></script>
   <script src="/js/myPage/store/menu.js"></script>
   <script src="/js/myPage/store/storeOff.js"></script>

</body>
</html>
