
<!-- ------------------------------------------------ -->

         
         <!-- 본문 (메뉴 정보) -->
         <div class="myPage-content-container">
            
            <div class="menu-container">
               
            <!-- 프로필 수정 폼 -->
               <form action="#" id="menuEditFrm" method="POST">

                  <!-- 메뉴 -->
                  <div class="menu-row">
                     <img src="../../../static/images/menu.jpg" class="menu-img">
                     <input name="menuTitle" id="menuTitle" placeholder="메뉴">
                     <input name="menuAmount" id="menuAmount" placeholder="가격">
                     <input name="menuContent" id="menuContent" placeholder="추가 내용">
                  </div>

                  <div class="menu-row">
                     <!-- <img src="#" alt="#" class="menu-img"> -->
                     <div class="menu-img">메뉴 사진</div>
                     <input name="menuTitle" id="menuTitle" value="메뉴">
                     <input name="menuAmount" id="menuAmount" value="가격">
                     <input name="menuContent" id="menuContent" value="추가 내용">
                  </div>
                  <div class="menu-row">
                     <!-- <img src="#" alt="#" class="menu-img"> -->
                     <div class="menu-img">메뉴 사진</div>
                     <input name="menuTitle" id="menuTitle" value="메뉴">
                     <input name="menuAmount" id="menuAmount" value="가격">
                     <input name="menuContent" id="menuContent" value="추가 내용">
                  </div>

                  <!-- 버튼 영역 -->
                  <div class="btn-area">
                     <button id="addMenuRow">메뉴 추가</button>
                     <button id="menuUpdateBtn">수정</button>
                  </div>

               </form>

            </div>
         </div>

