
<!-- ------------------------------------------------ -->

         
         <!-- 본문 (메뉴 정보) -->
         <div class="myPage-content-container">
            
            <div class="menu-container">
               
            <!-- 프로필 수정 폼 -->
               <form action="#" id="menuEditFrm" method="POST">

                  <!-- 메뉴 -->
                  <div class="menu-row">
                     <img src="../../../static/images/menu.jpg" class="menu-img">
                     <input name="menuTitle" id="menuTitle" placeholder="메뉴">
                     <input name="menuAmount" id="menuAmount" placeholder="가격">
                     <input name="menuContent" id="menuContent" placeholder="추가 내용">
                  </div>

                  <div class="menu-row">
                     <!-- <img src="#" alt="#" class="menu-img"> -->
                     <div class="menu-img">메뉴 사진</div>
                     <input name="menuTitle" id="menuTitle" value="메뉴">
                     <input name="menuAmount" id="menuAmount" value="가격">
                     <input name="menuContent" id="menuContent" value="추가 내용">
                  </div>
                  <div class="menu-row">
                     <!-- <img src="#" alt="#" class="menu-img"> -->
                     <div class="menu-img">메뉴 사진</div>
                     <input name="menuTitle" id="menuTitle" value="메뉴">
                     <input name="menuAmount" id="menuAmount" value="가격">
                     <input name="menuContent" id="menuContent" value="추가 내용">
                  </div>

                  <!-- 버튼 영역 -->
                  <div class="btn-area">
                     <button id="addMenuRow">메뉴 추가</button>
                     <button id="menuUpdateBtn">수정</button>
                  </div>

               </form>

            </div>
         </div>


<!-- ------------------------------------------------ -->

         <!-- 본문 (휴무일) -->
         <div class="myPage-content-container">

            <!-- 고정 휴무일 (요일) -->
            <section class="section-title">고정 휴무일</section>

            <form action="#" id="offWeekEditFrm" method="POST"></form>
               <div class="off-container">
                  <div class="week-row">
                     <button class="week-btn checked" id="offWeek1">월요일</button>
                     <button class="week-btn" id="offWeek2">화요일</button>
                     <button class="week-btn" id="offWeek3">수요일</button>
                     <button class="week-btn" id="offWeek4">목요일</button>
                  </div>
                  
                  <div class="week-row">
                     <button class="week-btn" id="offWeek5">금요일</button>
                     <button class="week-btn" id="offWeek6">토요일</button>
                     <button class="week-btn checked" id="offWeek7">일요일</button>
                  </div>

                  <button class="update-btn" id="offWeekUpdateBtn">수정</button>
               </div>
            </form>

            <!-- 지정 휴무일 (일정 추가) -->
            <section class="section-title">지정 휴무일</section>

            <form action="" id="offDayEditFrm" method="POST">
               <div class="off-container">

                  <!-- full calander -->
                  <div id="calendar"></div>
                  
                  <button class="update-btn" id="offWeekUpdateBtn">수정</button>
               </div>
            </form>

         </div>



      /* 요일 버튼 생성 */
const createBtn = (weekList1, weekList2) => {

    const offBtn1 = document.createElement("button");
    offBtn1.innerText = "weekList1";
    weekRow1.append(offBtn1);

    const offBtn2 = document.createElement("button");
    offBtn2.innerText = "weekList2";
    weekRow1.append(offBtn2);
}



const weekList1 = ["월요일", "화요일", "수요일", "목요일"];
const weekList2 = ["금요일", "토요일", "일요일"];


const offWeekEditFrm = document.createElement("form");

const offContainer = document.createElement("div");

const weekRow1 = document.createElement("div"); // 버튼 1~4를 감싸는 태그
const weekRow2 = document.createElement("div"); // 버튼 5~7를 감싸는 태그

createBtn(weekList1, weekList2);

offContainer.append(weekRow1, weekRow2);

 