<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 쓴 리뷰</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/myPage/myPage-style.css">
    <link rel="stylesheet" href="/css/myPage/member-myPage.css">

</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <div class="myPage-container">
            <th:block th:replace="~{myPage/member/memberSide}"></th:block>

            <hr>

            <section class="content-container">
                <div class="myPage-title-container">
                    <section class="myPage-title">
                        내가 쓴 리뷰
                        <span th:text="|${reviewCount}개|">개수</span>
                        <th:block th:if="${#lists.isEmpty(review)}">
                            <div class="emptyList">리뷰 내역이 없습니다</div>
                        </th:block>
                    </section>


                    <div class="myReview">
                        <th:block th:unless="${#lists.isEmpty(review)}">
                            <div th:each="review : ${review}">
                                <div class="review" th:object="${review}">
                                    <div class="storereview-top">
                                        <div class="storereview-top-left">
                                            <div class="review-info">
                                                <a class="review-storeName" th:text="|*{storeName} >|" th:href="'/store/storeDetail/' + *{storeNo}"></a>
        
                                                <div class="review-memberScore">
                                                    <span th:switch="*{reviewRating}">
                                                        <span th:case="1">
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                        </span>
                                                        <span th:case="2">
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                        </span>
                                                        <span th:case="3">
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                        </span>
                                                        <span th:case="4">
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="empty_star  fas fa-star"></i>
                                                        </span>
                                                        <span th:case="5">
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                            <i class="rating__star fas fa-star"></i>
                                                        </span>
                                                    </span>
                                                    <span th:text="|*{reviewRating} 점|"> 점수</span>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="storereview-top-right">
                                            <button type="button" id="reviewDeleteBtn"  
                                                th:if="${session.loginMember}" 
                                                th:attr="data-review-no=*{reviewNo}">
                                                삭제하기
                                            </button>
                                            <a th:href="'/review/reviewUpdate/' + *{storeNo} +'/' + *{reviewNo}" id="reviewUpdateBtn"  
                                                th:if="${session.loginMember}" 
                                                th:attr="data-review-no=*{reviewNo}">
                                                수정하기
                                            </a>
                                            <span th:text="*{reviewRegDate}">2024-05-17</span>
                                        </div>
                
                                    </div>
                
                                    <div class="storereview-mid">
                                        <p th:text="*{reviewContent}">리뷰 내용</p>
                                    </div>
                
                                    <th:block>
                                        <div class="storereview-bottom">
                                            
                                            <th:block th:if="${!#lists.isEmpty(uploadList)}">
                                                <p th:if="*{uploadList}">주문 내역</p>
                                            </th:block>
            
                                            <div class="storereview-image" th:if="*{uploadList}">
                                                <th:block th:each=" upload : *{uploadList}">
                                                    <img class="review-look" th:src="|${upload.imagePath}${upload.imgRename}|">
                                                </th:block>
                                            </div>
            
                                            <p>해시태그</p>
                                            <div class="review-hashtag">
                                                <th:block th:each=" hash : *{hashList}">
                                                    <span th:text="|${hash.hashTitle} |" class="review-hash">#해시태그</span>
                                                </th:block>
                                            </div>
                                        </div>
                                    </th:block>
                
                                    <th:block th:if="${!#lists.isEmpty(replyList)}" th:each="reply : *{replyList}">
                                        <div class="store-reply">
                                            <img class="review-store-profile" th:src="${reply.storeImg}" alt="가게 프로필 이미지">
                                            <p class="reply-content-bubble" th:text="${reply.replyContent}">
                                                사장님 답글
                                            </p>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </section>
        </div>

    </main>

    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember}]]*/ "로그인 회원 정보";
    </script>

    <th:block th:replace="~{common/footer}"></th:block> 

    <script src="/js/main.js"></script>
    <script src="/js/myPage/member/review.js"></script>
</body>
</html>