<section class="left-side">

    <ul class="list-group">
      
      <li>
        <a href="/myPage/member/reservation/fix">예약 내역</a>
      </li>
      
      <li>
        <a href="/myPage/member/memberReview">리뷰관리</a>
      </li>
      
      <li>
        <a href="/myPage/member/memberLike">찜 목록</a>
      </li>
      
      <li>
        <a href="/myPage/member/memberInfo">회원 정보</a>
      </li>

      <li>
        <a href="/myPage/member/memberSecession">회원 탈퇴</a>
      </li>

    </ul>
  
</section>