<section class="left-side">

    <ul class="list-group">
      <li>
        <a href="/myPage/member/memberInfo">회원 정보 수정</a>
      </li>
      
      <li>
        <a href="/myPage/member/reservation/fix">예약 내역 확인</a>
      </li>
      
      <li>
        <a href="/myPage/member/memberReview">내가 쓴 리뷰</a>
      </li>

      <li>
        <a href="/myPage/member/memberLike">찜 목록</a>
      </li>

      <li>
        <a href="/myPage/member/memberSecession">회원 탈퇴</a>
      </li>

    </ul>
  
</section>