*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 아이콘 section */
.reservation-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}   

.confirm-icon{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100px;
}

.confirm-icon>img {
    width: 70px;
}

/* 예약 확인 안내 section */
.reservation-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirm-title-contatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.title {
    font-size: 30px;
}

.confirm-content-contatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.content-border>.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.content-border>.content>a {
    padding-left: 8px;
    text-decoration: underline;
    color: #4A4848;
}

.reserv-decision-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    height: 35px;
    border: 1px solid #cecece;
    border-radius: 20px;
}


/* 예약 항목 section */
.reservation-footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reserv-info-border{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 500px; /* 버튼 너비랑 맞추려면 440px */
    height: 110px;
    border: 1px solid #cecece;
    border-radius: 10px;

    margin: 20px 0;
}

.reserv-info-border>div{
    padding: 2px 0;
}

.reserv-info-border>.store {
    font-size: 20px;
    font-weight: bold;
}

.reserv-info-border>.reserv-date-count{
    font-size: 16px;
    font-weight: bold;
    color: #df8b4e;
    padding-top: 5px;
}

.reserv-info-border>.reserv-store{
    font-size: 16px;
}

/* 버튼 section */

.button-area {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 20px;
    height: 80px;
}

.buttons {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.cancel-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;

    border: 1px solid #4A4848;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn:hover{
    color: red;
    border: 1px solid red;
}

.next-btn:hover{
    border: 1px solid #363f75;
}

.next-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;

    border: none;
    font-size: 15px;
    background-color: #363f75;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}