*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.reservation-header-container {
    display: flex;
    justify-content: center;
    border: 1px solid #cecece;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
