*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 안내 section */
.reservation-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #cecece; */
    width: 800px;
    height: 370px;
}

/* 가게 사진 */
.store-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* 사진 크기 확인 필요 */
    width: 600px;
    border: 1px solid black;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
    margin-left: 10px;  
}
/* 
.title{
    display: flex;
    padding-left: 10px;
    font-size: 20px;
    padding-bottom: 3px;
} */

.content {
    padding-left: 10px;
    font-size: 15px;
}

.content>a{
    text-decoration: underline;
    color: #4A4848;
}

.store{
    font-weight: bold;
    font-size: 26px;
    padding: 3px 0 5px 0;
}

.content-container, .store-name-container{ 
    width: 600px;
    display: flex;
    align-items: center;
}

/* 예약 인원, 날짜 section */
.reservation-body-container{
    display: flex;
    align-items: center;
    /* border: 1px solid #cecece; */
    flex-direction: column;
    width: 800px;
    /* height: 1200px; */
}

.nav-div {
    height: 170px;
    margin-top: 20px;
    border-bottom: 1px solid #cecece;
}

.reservation-body-container>nav{
    display: flex;
    justify-content: center;
    
}

.nav-list {
    display: flex;
    justify-content: center;
    width:600px;
}
.reserv-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 30%;
    height: 50px;
    list-style: none;
    background-color:#F5F5F5;
    border-radius: 5px;
    cursor: pointer;

}   

.reserv-info:hover{
    background-color: #afafaf;
    color: white !important;
}

.click-a {
    background-color: #afafaf;
    color: white !important;
}

.review-count{
    color: rgb(47, 113, 235);
}

.bold {
    color: rgb(47, 113, 235);
    font-weight: bold;
}

.info-content {
    margin: 30px;
}

.info {
    height: 90px;
}

.content-header {
    margin-top: 30px;
    width: 600px;
    border-bottom: 1px solid #cecece;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reservation-count {
    margin-bottom: 20px;
    width: 460px;
}

.checkbox-area{
    margin-bottom: 10px;
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    overflow-x: auto; /* 가로 오버플로우 설정 */
    white-space: nowrap;
    margin-bottom: 20px;
}

.button-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 45px;
    margin:10px;
    
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.count-number {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 1px solid #d6d6d6;

    font-size: 15px;
    margin: 5px;
    cursor: pointer;
}

.checkbox-element:checked + label > div {
    background-color: #4A4848 !important;
    color: white;  /* 레이블 글씨 색상 변경 */
}


.reservation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}   

.reservation-date{
    margin-top: 20px;
}

.calendar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 500px;
    height: 400px;
    margin: 40px 20px 30px 20px;
}

.reserv-time-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    margin: 20px;
}

.reservation-time{
    width: 500px;
    margin: 10px;
}

.time-title{
    margin: 5px 30px;
    display: flex;
    justify-content: space-between;
}

.time-list{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    margin-left: 30px;
}

.time-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    margin:10px;
    
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.select{
    background-color: #4a484a;
    color: white;
}


/* 예약시 주의 사항 section */
.reservation-footer-container{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 90%;

}

.reservation-notice-inner{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0px;
}

.reservation-notice{
    border-bottom: 1px solid #cecece;
}

.notice-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: white;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.notice-title>i{
    cursor: pointer;
}

.notice-content {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-bottom: 10px;
}

.notice-list {
    list-style: none;
}

.notice-item{
    width: 400px;
}

.notice-inner-detail{
    margin-top: 10px;
    padding: 16px;
    border-radius: 12px;
    background-color: #f3f3f3b0;
    display: none;
}

.show-box{
    display: block;
}

/* 버튼 section */
.button-area {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 20px;
    height: 80px;
}

.buttons{
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.cancel-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;

    border: 1px solid #4A4848;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn:hover{
    color: red;
    border: 1px solid red;
}

.next-btn:hover{
    border: 1px solid black;
}

.next-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;

    border: none;
    font-size: 15px;
    background-color: #4A4848;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* .disabled{
    background-color: #cecece;
    color:#4A4848
} */

/* ****** 달력 ****** */

.fc-scrollgrid-sync-inner {
    cursor: pointer;
}

 .fc .fc-daygrid-day.fc-day-today{
    background-color: rgb(250, 255, 226);
} 

/* .fc-daygrid-day-number {
    color: rgb(0, 0, 0);
    
}
.fc-daygrid-day{
    background-color: #608cdf;
} */

.fc-direction-ltr .fc-daygrid-event.fc-event-end, 
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    display: none;
}

.fc-today-button.fc-button.fc-button-primary{
    border: none;
    cursor: pointer;
    user-select: none;
}

.select-bg{
    background-color: rgb(233, 255, 226);
}

/* .fc .fc-day-disabled{
    background: none;
} */

.fc-daygrid-day-top{
    visibility: visible;
}

.disabled{
    color:#cecece;
}