<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <!-- templetes/common/common.html  조각 추가 -->
    <th:block th:replace="~{common/common}"></th:block>

</head>
<body>

    <section>

        <h3>회원 유형 선택</h3>

        <div>
            <a href="#"></a>
            <i class="fa-solid fa-person"></i>
            <h2>일반 회원</h2>
        </div>
        <div>
            <a href="#"></a>
            <i class="fa-solid fa-store"></i>
            <h2>사장님 회원</h2>
        </div>

    </section>

    

    <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 
</body>
</html>