<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <!-- templetes/common/common.html  조각 추가 -->
    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/member/signup-style.css">

</head>
<body>

    <!-- 헤더  -->
    <main>
        <th:block th:replace="~{common/header}"></th:block>
    
        <section class="signUp-content">
            <h3 class="title">일반 회원 가입</h3>
    
            
    
            <form action="signupCommon" method="POST" name="signUpForm" id="signUpForm" >
                <div class="form-section">
                    인적 사항
                    <label for="memberId">
                        <span class="required">*</span>
                        <span class="required">아이디</span>
                    </label>
                    <div class="signUp-input-area">
                        <input type="text" name="memberId" id="memberId" placeholder="아이디">
                    </div>
                    <span class="signUp-message" id="idMessage">영어(소문자),숫자로만 8~20글자 사이로 입력해주세요.</span>
                    
                   <!-- 비밀번호/비밀번호 확인 입력 -->
                    <label for="memberPw">
                        <span class="required">*</span> 
                        <span class="required">비밀번호</span>
                    </label>
            
                    <div class="signUp-input-area">
                        <input type="password" name="memberPw" id="memberPw" 
                        placeholder="비밀번호" maxlength="20" >
                    </div>
                    <div class="signUp-input-area">
                        <input type="password" name="memberPwConfirm" id="memberPwConfirm" 
                        placeholder="비밀번호 확인" maxlength="20" >
                    </div>
            
                    <!-- 정규 표현식 -->
                    <span class="signUp-message" id="pwMessage">영어,숫자,특수문자(!,@,#,-,_) 6~20글자 사이로 입력해주세요.</span>
            
                    <!-- 전화번호 입력 -->
                    <label for="memberTel">
                        <span class="required">*</span> 
                        <span class="required"> 전화번호</span> 
                    </label>
        
                    <div class="signUp-input-area">
                        <input type="text" name="memberTel" id="memberTel" placeholder="(- 없이 숫자만 입력)" maxlength="11">
                        <button id="sendAuthKeyBtn" type="button">인증번호 받기</button>
                    </div>
        
                    <span class="signUp-message" id="telMessage">전화번호를 입력해주세요.(- 제외)</span>
        
                    <!-- 인증번호 입력 -->
                    <label for="telCheck">
                        <span class="required">*</span> 
                        <span class="required">인증번호</span>
                    </label>
            
                    <div class="signUp-input-area">
                        <input type="text" name="authKey" id="authKey" placeholder="인증번호 입력" maxlength="6" autocomplete="off" >
                        
                        <button id="checkAuthKeyBtn" type="button">인증하기</button>
                    </div>
                    <span class="signUp-message" id="authKeyMessage"></span>
                    
        
                    <!-- 이름 입력 -->
                    <label for="memberName">
                        <span class="required">*</span> 
                        <span class="required">이름</span> 
                    </label>
        
                    <div class="signUp-input-area">
                        <input type="text" name="memberName" id="memberName" placeholder="이름" maxlength="10" >
                    </div>
        

                    <!-- 닉네임 입력 -->
                    <label for="memberNickname">
                        <span class="required">*</span> 
                        <span class="required">닉네임</span> 
                    </label>
        
                    <div class="signUp-input-area">
                        <input type="text" name="memberNickname" id="memberNickname" placeholder="닉네임" maxlength="10" >
                    </div>
        
                    <span class="signUp-message" id="nickMessage">한글,영어,숫자로만 2~10글자</span>
        
                    <label for="memberEmail">
                        <span class="required">*</span> 
                        <span class="required">이메일</span> 
                    </label>
            
                    <div class="signUp-input-area">
                        <input type="text" name="memberEmail" id="memberEmail" 
                        placeholder="이메일" maxlength="30" autocomplete="off">
                        </div>
                    <span class="signUp-message" id="emailMessage">메일을 받을 수 있는 이메일을 입력해주세요.</span>
                 
                </div>
    
                <div>
                    <button id="signUpBtn">가입하기</button>
                </div>
    
            </form>
    
        </section>
    </main>

    

    <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

    <!-- 회원 가입 JS 추가 -->
  <script src="/js/member/signupCommon.js"></script>

</body>
</html>